<table width="100%">
  <tr>
    <% if !@management.nil? %>
    <td width="50%"><h3>Existing Managements Relationships</h3></td>
    <td width="50%"><h3>Add Management Relationship(s)</h3></td>
    <% else %>
    <td width="50%"><h3>Managements</h3></td>
    <% end %>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th>Date</th>
          <th>Date LOC</th>
          <th>Type</th>
        </tr>
        <% @treatment.managements.each do |management| %>
        <tr>
          <td><%= link_to "X", { :controller => :treatments, :action => :rem_managements_treatments, :id => @treatment.id, :management => management }, data: { :confirm => 'Are you sure?' }, :remote => true %></td>
          <td><%= link_to "edit", edit_management_path(management.id) %></td>
          <td><%= management.date %></td>
          <td><%= management.dateloc %></td>
          <td><%= management.mgmttype %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <%= form_tag url_for(:controller => :treatments, :action => :edit_managements_treatments), :remote => true do %>
      <%= collection_select( :management, :id, Management.all.reject { |r| @treatment.managements.include?(r) }, :id, :select_default, {}, { :multiple => true } )%>
      <%= hidden_field_tag 'id', @treatment.id %>
      <br /><br />
      <%= submit_tag "Select" %>
      <% end %>
    </td>
  </tr>
</table>
