<div id="treatments_container">
  <h2>Search For Treatments</h2>
  <%= form_tag( { :action => 'index'}, :method => :get, :id => 'simple_search' ) do %>
  <table>
    <tr>
      <td>Name or Definition:</td>
      <td><%= text_field_tag(:treatment, params[:treatment], { id: "search"}) %></td>
    </tr>
  </table>
  <% end %>
  <br />

  <% if !@treatments.nil? and @treatments.length > 0 %>
  <h2>Treatments associated with this citation</h2>
  <div class="dataTables_length dataTables_wrapper">
    <table class="table table-striped table-bordered datatable dataTable treatment_listing" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
      <% @treatments.each do |treatment| %>
      <thead>
        <tr role="row">
          <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px"><%= sortable "treatments.name", "Treatment Name" %></th>
          <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px"><%= sortable "treatments.definition", "Def" %></th>
          <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px">Control</th>
          <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 162px">Actions</th>
        </tr>
      </thead>
      <tbody role="alert" aria-live="polite" aria-relevant="all"><!-- Each treatment has its own tbody. -->
        <tr>
          <th class="center"><%= treatment.name %></th>
          <td class="center"><%= treatment.definition %></td>
          <td class="center"><%= link_to treatment.control ? "Yes" : "No", :action => "flag_control", :id => treatment.id %></td>
          <td class="center">
            <!-- UNLINK -->
            <% if current_user.page_access_level <=2 %>
              <%= link_to url_for({ :controller => "treatments", :action => "linked", id: treatment.id }), :id => treatment.id, :remote => true, :class =>"button button-small", :title => "unlink" do %>
                <i class="icon-remove"></i>
              <% end %>
            <% end %>
            <!-- SHOW -->
            <%= link_to treatment, :class => "button button-small", :title => "show" do %>
              <i class="icon-zoom-in"></i>
            <% end %>
            <!-- EDIT -->
            <%= link_to edit_treatment_path(treatment), :class => "button button-small", :title => "edit" do %>
              <i class="icon-edit"></i>
            <% end %>
            <!-- DELETE -->
            <% if current_user.page_access_level <= 2 && treatment.traits.empty? && treatment.yields.empty? && treatment.managements.empty? %>
              <%= link_to treatment, :method => :delete, :type => 'treatment', :confirm => 'Are you sure?', :class=> 'button button-small button-danger' do %>
                <i class="icon-trash"></i>
              <% end %>
            <% end %>
          </td>
        </tr>

        <tr>
          <td colspan="4" class="padded_sides_20px">
            <% if treatment.managements.length > 0 %>
            <div class="dataTables_length dataTables_wrapper">
              <table class="table table-striped table-bordered table-hover datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <caption style="text-align: left"><em>Associated Managements</em></caption>
                <thead>
                  <tr role="row">
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px">Type</th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px">Level</th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px">Date</th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px">Citation</th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px">Actions</th>
                  </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <% treatment.managements.each do |management| %>
                  <tr>
                    <td class="center"><%= management.mgmttype %></td>
                    <td class="center"><%= management.level %></td>
                    <td class="center"><%= management.date %></td>
                    <td><%= link_to_if management.citation, management.citation, management.citation %></td>
                    <td class="center">

                      <!-- SHOW -->
                      <%= link_to management, :class => "button button-small", :title => "show" do %>
                        <i class="icon-zoom-in"></i>
                      <% end %>
                      <!-- EDIT -->
                      <%= link_to  edit_management_path(management), :class => "button button-small", :title => "edit" do %>
                        <i class="icon-edit"></i>
                      <% end %>

                    </td>
                  </tr>
                  <% end # treatment.managements.each %>
                </tbody>
              </table>
            </div>
            <% end # if %>
            <br />
            <%= link_to 'Create a New Management for this Treatment', new_management_path(:treatment => treatment.id) %><br />
          </td>
        </tr>
      </tbody>
      <% end # @treatments.each %>
    </table>
  </div>
  <% else %>
  <h2>No treatments associated with this citation</h2>
  <br />
  <% end # of "if !@treatments.nil? and @treatments.length > 0" %>

  <h2>Other Treatments And Managements</h2>
  <h3>Treatments and Managements from sites linked to this citation (if any) listed at top</h3>

  <div class="dataTables_length dataTables_wrapper">
    <table class="table table-striped table-bordered datatable dataTable treatment_listing" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
      <% @other_treatments.each do |treatment| %>
      <thead>
        <tr role="row">
          <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0"><%= sortable "treatments.name", "Treatment Name" %></th>
          <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0"><%= sortable "treatments.definition", "Def" %></th>
          <th role="columnheader" aria-controls="DataTables_Table_0">Control</th>
          <th role="columnheader" aria-controls="DataTables_Table_0">Actions</th>
        </tr>
      </thead>
      <tbody role="alert" aria-live="polite" aria-relevant="all">
        <tr>
          <th><%= treatment.name %></th>
          <td class="center"><%= treatment.definition %></td>
          <td class="center"><%= link_to treatment.control ? "Yes" : "No", :action => "flag_control", :id => treatment.id %></td>
          <td class="center">
            <!-- LINK -->
            <%= link_to "/treatments/linked?id=#{treatment.id}", :class => "button button-small", :title => "link" do %>
              <i class="icon-ok"></i>
            <% end %>
            <!-- SHOW -->
            <%= link_to treatment, :class => "button button-small", :title => "show" do %>
              <i class="icon-zoom-in"></i>
            <% end %>
            <!-- EDIT -->
            <%= link_to edit_treatment_path(treatment), :class => "button button-small", :title => "edit" do %>
              <i class="icon-edit"></i>
            <% end %>
            <!-- DELETE -->
            <% if current_user.page_access_level <= 2 && treatment.traits.empty? && treatment.yields.empty? && treatment.managements.empty? %>
              <%= link_to treatment, :method => :delete, :type => 'treatment', :confirm => 'Are you sure?', :class=> 'button button-small button-danger' do %>
                <i class="icon-trash"></i>
              <% end %>
            <% end %>
          </td>
        </tr>

        <% if treatment.managements.length > 0 %>
        <tr>
          <td colspan="4" class="padded_sides_20px"><br />
            <div class="dataTables_length dataTables_wrapper">
              <table class="table table-striped table-bordered table-hover datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
                <caption style="text-align: left"><em>Associated Managements</em></caption>
                <thead>
                  <tr role="row">
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 80px">Type</th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 30px">Level</th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px">Date</th>
                    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px">Actions</th>
                  </tr>
                </thead>
                <tbody role="alert" aria-live="polite" aria-relevant="all">
                  <% treatment.managements.each do |management| %>
                  <tr>
                    <td class="center"><%= management.mgmttype %></td>
                    <td class="center"><%= management.level %></td>
                    <td class="center"><%= management.date %></td>
                    <td class="center">

                      <!-- SHOW -->
                      <%= link_to management, :class => "button button-small", :title => "show" do %>
                        <i class="icon-zoom-in"></i>
                      <% end %>
                      <!-- EDIT -->
                      <%= link_to  edit_management_path(management), :class => "button button-small", :title => "edit" do %>
                        <i class="icon-edit"></i>
                      <% end %>

                    </td>
                  </tr>
                  <% end # treatment.managements.each %>
                </tbody>
              </table>
            </div>
          </td>
        </tr>
        <% end # of "if treatment.managements.length > 0" %>

      </tbody>
      <% end # @other_treatments.each %>

    </table>

    <div class="row final_paginate_row">
      <div class="span6">
        <div class="dataTables_info" id="DataTables_Table_0_info">
          <%= page_entries_info @other_treatments %>
        </div>
      </div>
      <div class="span6">
        <div class="dataTables_paginate paging_bootstrap pagination alternate">
          <%= will_paginate @other_treatments %>
        </div>
      </div>
    </div>

  </div>

</div>
