<h1>New management</h1>

<%= form_for(@management) do |f| %>
  <%= f.error_messages %>

<table>
  <tr>
    <td>
  <p>
    <%= f.label :citation_id %><br />
    <%= f.select :citation_id, Citation.all.collect { |p| [ p.select_default, p.id ] }, {} %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date,{ :start_year => 1800, :include_blank => true } %>
  </p>
  <p>
    <%= f.label :dateloc, "Date Level of Confidence" %><br />
    <%= f.select :dateloc, options_for_select($dateloc_drop.sort,f.object.dateloc.to_s) %>  </p>
  <p>
    <%= f.label :mgmttype, "Management Type" %><br />
    <%= f.select :mgmttype, Management.management_types %> 
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :units %><br />
    <%= f.text_field :units %>
  </p>
    </td>
    <td>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= current_user %>
  </p>
  <p>
    <%= f.hidden_field :id, :value => @treatment.id %>
    <%= submit_to_remote f, 'Create', :url => { :action => "create_new_management" } %>
  </p>
    </td>
  </tr>
</table>
<% end %>

