<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Treatment</h1>
			</header>
      
			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
				<dt>Name</dt>
				<dd><%= @treatment.name %></dd>
				<dt>Definition</dt>
			  <dd><%= @treatment.definition %></dd>
				<dt>Control</dt>
				<dd><%= @treatment.control ? "Yes" : "No"  %></dd>
				<dt>Record Creator</dt>
				<dd><%= user_for_view(@treatment.user) %></dd>
			</dl>
			<div class="form-actions">
				<div class="button-group">
          <%= link_to( treatments_path ) do %>
					  <button class="button"><i class="icon-arrow-left"></i> Go Back</button>
					<% end %>
					<%= link_to( edit_treatment_path(@treatment) ) do %>
    			  <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
  				<% end %>
					
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>








  

