
<hr width="50%">

<p>
  <b>Name:</b>
  <%= @treatment.name %>
</p>

<p>
  <b>Def:</b>
  <%= @treatment.definition %>
</p>

<p>
  <b>Control:</b>
  <%= @treatment.control ? "Yes" : "No"  %>
</p>

<p>
  <b>User:</b>
  <%= @treatment.user  %>
</p>


<%= link_to 'Edit', edit_treatment_path(@treatment) %> |
<%= link_to 'Back', treatments_path %>
