<table class="pretty">
  <tr>
    <th><%= sortable "variables.name", "Variable" -%></th>
    <th>Species, trait, treatment, and citation associated with this covariate</th>
    <th><%= sortable "covariates.level", "Level" -%></th>
    <th><%= sortable "covariates.n", "N" -%></th>
    <th><%= sortable "covariates.stat", "Stat" -%></th>
    <th><%= sortable "covariates.statname", "Statname" -%></th>
  </tr>

<% @covariates.each do |covariate| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and covariate.id == @search.to_i%>>
    <td><%= link_to_if covariate.variable, covariate.variable, covariate.variable %></td>
    <td><%= link_to_if covariate.trait, covariate.trait, covariate.trait %></td>
    <td><%= covariate.level %></td>
    <td><%= covariate.n %></td>
    <td><%= covariate.stat %></td>
    <td><%= covariate.statname %></td>
    <td><%= link_to 'Show', covariate %></td>
    <td><%= link_to 'Edit', edit_covariate_path(covariate) %></td>
    <td><%= link_to 'Destroy', covariate, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @covariates %>
