<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>Editing covariate</h1>
      </header>

      <%= form_for(@covariate) do |f| %>
        <%= f.error_messages %>

        <p>
          <%= f.label :variable_id %><br />
          <%= f.select :variable_id, Variable.order('name').collect { |p| [ p.select_default, p.id ] }, {:selected => @covariate.variable_id.to_i } %>

        </p>

        <%= render :partial => "traits/trait_search" %>

        <p>
        </p>
        <p>
          <%= f.label :level %><br />
          <%= f.text_field :level %>
        </p>
        <p>
          <%= f.label :n %><br />
          <%= f.text_field :n %>
        </p>
        <p>
          <%= f.label :stat %><br />
          <%= f.text_field :stat %>
        </p>
        <p>
          <%= f.label :statname %><br />
          <%= f.select :statname, $statname_list %>
        </p>
        <p>
          <%= f.submit 'Update' %>
        </p>

      <% end %>

      <div class="form-actions">
        <div class="button-group">
          <%= link_to( covariates_path ) do %>
            <button class="button"><i class="icon-arrow-left"></i> All Records</button>
          <% end %>
          <%= link_to( @covariate ) do %>
            <button type="submit" class="button button-primary">Show</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
