<% content_for(:autocomplete_javascript) do %>
  <!-- autocomplete.js needs a `completion_fields` object describing the
  autocompletion fields on the page and needs to know the Rails root -->
  <script type="text/javascript" charset="utf-8">
    var ROOT_URL = '<%= root_url %>';
    var completion_fields = {
      "search_variables": { controller: "variables",
                        hidden_field_id: "covariate_variable_id" }
    };
  </script>
  <%= javascript_include_tag 'lazy/autocomplete.js' %>
<% end %>
<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>Editing covariate</h1>
      </header>

      <%= form_for(@covariate) do |f| %>
        <%= f.error_messages %>

        <p>
          <%= autocompletion_field(f, "Variable", "variables", :variable_id, "#{f.object.variable.autocomplete_label} - Search variables by name") %> 
        </p>

        <%= render :partial => "traits/trait_search" %>

        <p>
        </p>
        <p>
          <%= f.label :level %><br />
          <%= f.text_field :level %>
        </p>
        <p>
          <%= f.label :n %><br />
          <%= f.text_field :n %>
        </p>
        <p>
          <%= f.label :stat %><br />
          <%= f.text_field :stat %>
        </p>
        <p>
          <%= f.label :statname %><br />
          <%= f.select :statname, $statname_list %>
        </p>
        <p>
          <%= f.submit 'Update' %>
        </p>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( covariates_path ) do %>
              <button class="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end %>
            <%= link_to( @covariate ) do %>
              <button class="button">Show</button>
            <% end %>
          </div>
          <div class="button-group pull-right">
            <%= f.submit 'Update', :class => "button button-primary" %>
          </div>
        </div>

      <% end %>
    </div>
  </div>
</div>
