<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>New Covariate</h1>
      </header>
      
      <% if @trait.nil? %>
        <h2>Please select a trait first and click the 'add a covariate' link at the top of the page. <%= link_to 'Traits', traits_path -%></h2>
      <% else %>
      
        <p>
          <%= link_to_prototype_window("Extracting information from tables and graphs", "help_popup2", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/node25.html?min" }) %><br />
          <%= link_to_prototype_window("Extracting data from a figure using R", "help_popup3", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/node26.html?min" }) %><br />
          <%= link_to_prototype_window("Extracting data from a figure using GetData", "help_popup4", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/node27.html?min" }) %>
        </p>

        <%= form_for(@covariate) do |f| %>
          <%= f.error_messages %>
          
          <div class="row">
            <div class="sixteen columns alpha">
              <%= f.label :variable_id %>
              <%= f.select :variable_id, Variable.order('name').collect { |p| [ p.select_default, p.id ] } %>
            </div>
          </div>
          <%= f.hidden_field :trait_id, :value => f.object.trait.id %>
          <h2>Covariates associated with Trait -- <%= f.object.trait.select_default %></h2>
          
          <table class="table table-striped table-bordered table-hover datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
            <thead>
              <tr role="row">
                <th role="columnheader" style="width: 100px">Variable</th>
                <th role="columnheader" style="width: 100px">Species, trait, treatment, and citation associated with this covariate</th>
                <th role="columnheader" style="width: 100px">Level</th>
                <th role="columnheader" style="width: 100px">N</th>
                <th role="columnheader" style="width: 100px">Stat</th>
                <th role="columnheader" style="width: 100px">Statname</th>
              </tr>
            </thead>
            <tbody>
              <% f.object.trait.covariates.each do |cov| %>
              <tr>
                <td class="center"><%= link_to_if cov.variable, cov.variable, cov.variable %></td>
                <td class="center"><%= cov.trait %></td>
                <td class="center"><%= cov.level %></td>
                <td class="center"><%= cov.n %></td>
                <td class="center"><%= cov.stat %></td>
                <td class="center"><%= cov.statname %></td>
              </tr>
              <% end %>
            </tbody>
          </table>
          
          <br />

          <div class="row">
            <div class="four columns alpha">
              <%= f.label :level %>
              <%= f.text_field :level, :class => "input-full" %>
            </div>
            <div class="four columns">
              <%= f.label :n %>
              <%= f.text_field :n, :class => "input-full" %>
            </div>
            <div class="four columns">
              <%= f.label :stat %>
              <%= f.text_field :stat, :class => "input-full" %>
            </div>
            <div class="four columns omega">
              <%= f.label :statname %>
              <%= f.select :statname, ["","SD", "SE", "MSE", "95%CI", "LSD", "MSD", "P"] %>
            </div>
          </div>

          <div class="form-actions">
            <div class="button-group">
              <%= link_to( covariates_path ) do %>
                <button class="button" type="button">Back</button>
              <% end%>
            </div>
            <div class="button-group pull-right">
              <%= f.submit 'Create', :class => "button button-primary" %>
            </div>
          </div>
        <% end %>
        
      <% end %><!-- @trait.nil? -->
    </div>
  </div>
</div>


