<h1>New covariate <%= link_to_prototype_window(image_tag("help.gif"), "help_popup1", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node24.html?min" }) %></h1>
<% if @trait.nil? %>
  <h2>Please select a trait first and click the 'add a covariate' link at the top of the page. <%= link_to 'Traits', traits_path -%></h2>

<% else %>

  <p><%= link_to_prototype_window("Extracting information from tables and graphs", "help_popup2", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node25.html?min" }) %><br />
<%= link_to_prototype_window("Extracting data from a figure using R", "help_popup3", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node26.html?min" }) %><br />
<%= link_to_prototype_window("Extracting data from a figure using GetData", "help_popup4", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node27.html?min" }) %></p>

  <% form_for(@covariate) do |f| %>
    <%= f.error_messages %>

    <p>
      <%= f.label :variable_id %><br />
      <%= f.select :variable_id, Variable.all(:order => 'name').collect { |p| [ p.select_default, p.id ] } %>
    </p>

    <br />
    <%= f.hidden_field :trait_id, :value => f.object.trait.id %>
    <h2>Covariates associated with Trait -- <%= f.object.trait.select_default %></h2>

    <table>
      <tr>
        <th>Variable</th>
        <th>Species, trait, treatment, and citation associated with this covariate</th>
        <th>Level</th>
        <th>N</th>
        <th>Stat</th>
        <th>Statname</th>
      </tr>

      <% f.object.trait.covariates.each do |cov| %>

      <tr>
        <td><%= link_to_if cov.variable, cov.variable, cov.variable %></td>
        <td><%=h cov.trait %></td>
        <td><%=h cov.level %></td>
        <td><%=h cov.n %></td>
        <td><%=h cov.stat %></td>
        <td><%=h cov.statname %></td>
      </tr>
      <% end %>
    </table>

    <p>
      <%= f.label :level %><br />
      <%= f.text_field :level %>
    </p>
    <p>
      <%= f.label :n %><br />
      <%= f.text_field :n %>
    </p>
    <p>
      <%= f.label :stat %> <%= link_to_prototype_window(image_tag("help.gif"), "help_popup3", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node22.html?min" }) %><br />
      <%= f.text_field :stat %>
    </p>
    <p>
      <%= f.label :statname %><br />
      <%= f.select :statname, ["","SD", "SE", "MSE", "95%CI", "LSD", "MSD", "P"] %>
    </p>
    <p>
      <%= f.submit 'Create' %>
      <%= f.submit 'Create & Add another' %>
    </p>
  <% end %>
<% end %>

<%= link_to 'Back', covariates_path %>
