<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
	<h1><%= CONFIG[:homepage_heading] %></h1>
      </header>
      <!-- InstanceBeginEditable name="Full Width Content" -->
      <div class="row">
      <div class="ten columns alpha">
	<p class="lead"><%= CONFIG[:homepage_body].try(:[], :lead_text) %></p>
	
	<div class="inline-block" style="width: 400px"><%= raw CONFIG[:homepage_body].try(:[], :marked_up_block_text) %></div>
	<div class="inline-block" style="width: 160px; vertical-align:top; margin-left:10px">
          <%= image_tag CONFIG[:homepage_body].try(:[], :photo).try(:[], :file), class: "inline-block", alt: CONFIG[:homepage_body].try(:[], :photo).try(:[], :alt_text) %>
	</div>
	
	<% if current_user.nil? %>
	<div class="well row">
          <%= form_tag({:controller => :sessions , :action => :create}, {:class => "form-horizontal", id: "loginform" }) do %>
	  <fieldset>
            <div class="row control-group">
              <div class="column alpha">
              <%= label_tag 'login', 'Login', :class => "control-label" %>
              <div class="controls">
                <%= text_field_tag 'login', @login || '', :class => "input-medium" %>
              </div>
            </div>
            
            <div class="column omega">
              <%= label_tag 'password', 'Password', :class => "control-label" %>
              <div class="controls">
                <%= password_field_tag 'password', nil, :class => "input-medium" %>
              </div>
            </div>
      </div>
    
      <div class="row clear-fix form-actions button-block">
        <div class="column one columns">
          <%= submit_tag 'Log in', :class=> "button button-primary" %>
        </div>
        <div class="column three columns offset-by-one">
          <p><%= link_to "Log in as Guest", nil, :class =>"button", id: "guest-login" %></p>
        </div>
        <div class="column four columns">
          <p><%= link_to "Register for BETYdb", signup_path, :class =>"button" %></p>
        </div>
      </div>
      </fieldset>
      <% end %><!-- end of well div -->
    </div>
    <% end %><!-- end of login block -->

      </div>
      <div class="five columns omega offset-by-one">
	<div>
	  <%= form_tag({:controller => :search}, {:id => 'search-form', :class => "no-margin", :method => :get}) do %>
	  <div class="control-group">
	    <h3>
	      <i class="icon-search"></i> SEARCH <em> TRAIT AND YIELD DATA</em>
	    </h3>
	    <div class="controls">
	      <div class="input-append">

		<input id="appendedInputButton" name="search" type="text" class="" placeholder="EX: Panicum Nitrogen" />
                <%= link_to_submit raw('<i class="icon-search"></i>'), id: "front_page_search_button", class: "button" %>
              </div>
	    </div>
	  </div>
          <% end %>
	</div>
    <% if CONFIG[:show_crop_map_links] %>
	<div>
	  <h3><i class="icon-eye-open"></i> COMPARE <em> CROP FORECASTS </em></h3>
	  <div class="sidebar">
	    <ul class="nav nav-list sidenav">
	      <li>
                <%= link_to controller: "maps", action: "location_yields" do %>
                <i class="icon-chevron-right"></i> Crop Model Maps 
                <% end %>
	      </li>
	    </ul>
	  </div>
	</div>
    <% end %>
  </div>
</div>



      
      <!-- InstanceEndEditable --> </div>
  </div>
  <!-- container --> 
</div>
