
<table width="100%">
  <tr>
    <td width="50%"><h3>Existing Sites Relationships</h3></td>
    <td width="50%"><h3>Add Site Relationship(s)</h3></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th>Site</th>
        </tr>
        <% @citation.sites.each do |c| %>
        <tr>
          <td><%= link_to_remote "X", :url => { :action => :rem_citations_sites, :id => @citation.id, :site => c }, :confirm => 'Are you sure?'%></td>
          <td><%= link_to "edit", edit_site_path(c.site_id) %></td>
          <td><%= c.sitename_state_country %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <% form_remote_tag :url => {:controller => :citations, :action => 'edit_citations_sites'} do %>
      <%= collection_select( :site, :id, Site.all.reject { |r| @citation.sites.include?(r) }, :id, :select_default, {}, { :multiple => true } )%>
      <%= hidden_field_tag 'id', @citation.id %>
      <br /><br />
      <%= submit_tag "Select" %>
      <% end %>
    </td>
  </tr>
</table>

