<!-- InstanceBeginEditable name="Full Width Content" -->
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
  <%= render 'shared/search_form' %>
  <table class="table table-striped table-bordered table-hover datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
		  <thead>
	      <tr role="row">
<th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px"><%= sortable "citations.author", "Author" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px"><%= sortable "citations.year", "Year" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 200px"><%= sortable "citations.title", "Title" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 67px"><%= sortable "citations.journal", "Journal" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 25px"><%= sortable "citations.vol", "Vol" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "citations.pg", "Page" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "citations.pdf", "URL" %></th>
<th role="columnheader" aria-controls="DataTables_Table_0" style="width: 162px">Actions</th>
      </tr>
    </thead>    
	  <tbody role="alert" aria-live="polite" aria-relevant="all">
	    <% @citations.each do |citation| %>
        <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and citation.id == @search.to_i%>>
          <td class="center"><%= citation.author %></td>
          <td class="center"><%= citation.year %></td>
          <td class="center"><%= citation.title %></td>
          <td class="center"><%= citation.journal %></td>
          <td class="center"><%= citation.vol %></td>
          <td class="center"><%= citation.pg %></td>
          <td class="center"><%= link_to_unless citation.pdf.blank?, 'link', citation.pdf do ""; end %></td>
		  <td class="center ">
			<!-- USE -->
			<% if current_user.page_access_level == 1 %>
              <%= link_to url_for( action: "use_citation", controller: "application", id: citation.id ), :class =>"button button-small", :alt => "use" do %>
                <i class="icon-ok"></i> 
              <% end %>
            <% end %>
            <!-- SHOW -->
            <%= link_to citation, :class => "button button-small", :alt => "show" do %>
              <i class="icon-zoom-in"></i>
            <% end %>
            <!-- EDIT -->
            <%= link_to edit_citation_path(citation), :class => "button button-small", :alt => "edit" do %>
              <i class="icon-edit"></i>
            <% end %>
            <!-- DELETE -->
            <% if current_user.page_access_level == 1 %>
              <%= link_to citation, :method => :delete, :type => 'citation', :confirm => 'Are you sure?', :class=> 'button button-small button-danger', :alt => "delete" do %>
                <i class="icon-trash"></i> 
              <% end %>
            <% end %>
		  </td>
        </tr>
      <% end %>

	  </tbody>
	</table>
  
	<div class="row final_paginagte_row">
	  <div class="span6">
	    <div class="dataTables_info" id="DataTables_Table_0_info">
	      <%= page_entries_info @citations %>
	    </div>
	  </div>
	  <div class="span6">
	    <div class="dataTables_paginate paging_bootstrap pagination alternate">
        <%= will_paginate @citations %>
      </div>
    </div>
  </div>
</div>


