<table class="pretty">
  <tr>
    <th><%= sortable "citations.author", "Author" -%></th>
    <th><%= sortable "citations.year", "Year" -%></th>
    <th><%= sortable "citations.title", "Title" -%></th>
    <th><%= sortable "citations.journal", "Journal" -%></th>
    <th><%= sortable "citations.vol", "Vol" -%></th>
    <th><%= sortable "citations.pg", "Pg" -%></th>
    <th><%= sortable "citations.url", "Url" -%></th>
    <th><%= sortable "citations.pdf", "Pdf" -%></th>
  </tr>

<% @citations.each do |citation| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and citation.id == @search.to_i%>>
    <td><%=h citation.author %></td>
    <td><%=h citation.year %></td>
    <td><%=h citation.title %></td>
    <td><%=h citation.journal %></td>
    <td><%=h citation.vol %></td>
    <td><%=h citation.pg %></td>
    <td><%= link_to_unless citation.url.blank?, 'link', citation.url do
              ""
            end %></td>
    <td><%= link_to_unless citation.pdf.blank?, 'link', citation.pdf do
              ""
            end %></td>
    <td><%= link_to 'Show', citation %></td>
    <% if current_user.page_access_level <= 3 %>
      <td><%= link_to 'Use', :controller => :application, :action => 'use_citation', :id => citation.id  %></td>
      <td><%= link_to 'Edit', edit_citation_path(citation) %></td>
    <% end %>
    <% if current_user.page_access_level == 1 %>
      <td><%= link_to 'Destroy', citation, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @citations %>

