<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
        <h1>New citation <%= link_to_prototype_window(image_tag("help.gif"), "help_popup1", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/node15.html?min" }) %></h1>
      </header>

      <%= form_for(@citation) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :author %>
            <%= f.text_field :author, :class => "input-full" %>
          </div>
          
          <div class="eight columns omega">
            <%= f.label :year %>
            <%= f.text_field :year, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="sixteen columns alpha omega">
            <%= f.label :title %>
            <%= f.text_field :title, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :journal %>
            <%= f.text_field :journal, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :vol %>
            <%= f.text_field :vol, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :pg %>
            <%= f.text_field :pg, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :doi %>
            <%= f.text_field :vol, :class => "input-full" %>
          </div>
          <div class="eight columns">
            <%= f.label :url %>
            <%= f.text_field :url, :class => "input-full" %>
          </div>
          
          <div class="four columns omega">
            <%= f.label :pdf %>
            <%= f.text_field :pdf, :class => "input-full" %>
          </div>
        </div>


        <div class="form-actions">
          <div class="button-group">
            <%= link_to( citations_path ) do %>
              <button class="button">Back</button>
            <% end%>
          </div>
		      <div class="button-group pull-right">
			      <%= f.submit 'Create', :class => "button button-primary" %>
		      </div>
	      </div>



          
      <% end %>

  
    </div>
  </div>
</div>



