<h1>New citation <%= link_to_prototype_window(image_tag("help.gif"), "help_popup1", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node15.html?min" }) %></h1>

<table>
<% form_for(@citation) do |f| %>
  <%= f.error_messages %>
  <tr>
    <td><%= f.label :author %><br />
    <%= f.text_field :author, :size => 20 %></td>
    <td><%= f.label :year %><br />
    <%= f.text_field :year, :size => 5 %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.label :title %><br />
    <%= f.text_field :title, :size => 50 %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.label :journal %><br />
    <%= f.text_field :journal, :size => 50 %></td>
  </tr>
  <tr>
    <td><%= f.label :vol %><br />
    <%= f.text_field :vol, :size => 8 %></td>
    <td><%= f.label :pg %><br />
    <%= f.text_field :pg, :size => 8 %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.label "DOI" %><br />
    <%= f.text_field :doi, :size => 50 %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.label :url %><br />
    <%= f.text_field :url, :size => 50 %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.label :pdf %><br />
    <%= f.text_field :pdf, :size => 50 %></td>
  </tr>
  <tr>
    <td colspan=2><%= f.label :user %><br />
    <%= current_user.default_select %>
  </tr>
  <tr>
    <td colspan=2><%= f.submit 'Create' %></td>
  </tr>
</table>
<% end %>

<%= link_to 'Back', citations_path %>
