<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Citation</h1>
			</header>
			
			<% if current_user.page_access_level <= 3 %>
        <p><%= link_to 'Use this record', :controller => :application, :action => 'use_citation', :id => @citation.id  %></p>
      <% end %>
      
			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
				<dt>Author</dt>
				<dd><%= @citation.author %></dd>
				<dt>Year</dt>
				<dd><%= @citation.year %></dd>
				<dt>Title</dt>
				<dd><%= @citation.title %></dd>
				<dt>Journal</dt>
				<dd><%= @citation.journal %></dd>
				<dt>Vol</dt>
				<dd><%= @citation.vol %></dd>
				<dt>Pg</dt>
				<dd><%= @citation.pg %></dd>
				<dt>Url</dt>
				<dd>
				  <%= link_to_unless @citation.url.blank?, "link", @citation.url do; "none"; end %>
				</dd>
				<dt>Pdf</dt>
			  <dd>
				  <%= link_to_unless @citation.pdf.blank?, "link", @citation.pdf do; "none"; end %>
				</dd>
				<dt>DOI</dt>
				<dd><%= @citation.doi %></dd>

				<dt>User</dt>
				<dd><%= @citation.user %></dd>

			</dl>
			<div class="form-actions">
				<div class="button-group">
          <%= link_to( citations_path ) do %>
					  <button class="button"><i class="icon-arrow-left"></i> Go Back</button>
					<% end %>
					<%= link_to( edit_citation_path(@citation) ) do %>
    			  <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
  				<% end %>
					
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>
