<div class="content">
  <div class="container">
  	<div class="sixteen columns">
  	  <header>
    		<h1>Editing File</h1>
  	  <hearder>
  		<%= form_for @file, :url => dbfile_path(@path) do |f| %>
  		  <%= f.error_messages %>
        <div class="row">
    			<div class="eight columns alpha">
        		<%= f.label :machine_id %><br />
        		<%= f.select :machine_id, Machine.all.collect { |p| [p.select_default, p.id] }, :class => "input-full" %>
    		  </div> 
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
          	<%= f.label :file_path %><br />
          	<%= f.text_field :file_path, :class => "input-full" %>
          </div>
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :file_name %><br />
            <%= f.text_field :file_name, :class => "input-full" %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( dbfiles_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
            <%= link_to( dbfile_path(@dbfile) ) do %>
              <button class="button" type="button">Show</button>
            <% end%>
          </div>
          <div class="button-group pull-right">
            <%= f.submit 'Update', :class => "button button-primary" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
