<h1>Editing File</h1>
<% form_for @file, :url => dbfile_path(@path) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :machine_id %><br />
    <%= f.select :machine_id, Machine.all.collect { |p| [p.select_default, p.id] } %>
  </p>
  <p>
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </p>
  <p>
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </p>
  <p>
    <%= f.label :created_user_id, 'Created by' %><br />
    <%= link_to_if f.object.created_user, f.object.created_user, f.object.created_user %>
  </p>
  <p>
    <%= f.label :updated_user_id, 'Last updated by' %><br />
    <%= link_to_if f.object.updated_user, f.object.updated_user, f.object.updated_user %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
