<h1>New File</h1>
<% form_for @file, :url => dbfiles_path, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :machine_id %><br />
    <%= f.select :machine_id, Machine.all.collect { |p| [p.select_default, p.id] } %>
  </p>
  <p>
    <%= f.label :file_path %><br />
    <%= f.text_field :file_path %>
  </p>
  <p>
    <%= f.label :file_name %><br />
    <%= f.text_field :file_name %>
  </p>

  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>
