  <p>
    File name: <%= @file.file_name %>
  </p>
  <p>
    File path: <%= @file.file_path %>
  </p>
  <p>
    MD5: <%= @file.md5 %>
  </p>
  <p>
    File ID: <%= @file.file_id %>
  </p>
  <p>
    File created by: <%= link_to_if @file.created_user, @file.created_user, @file.created_user %>
  </p>
  <p>
    Last User to update: <%= link_to_if @file.updated_user, @file.updated_user, @file.updated_user %>
  </p>
  <p>
    Machine: <%= @file.machine %>
  </p>

