<table width="100%">
  <tr>
    <td width="50%"><h3>Existing Runs Relationships</h3></td>
    <td width="50%"><h3>Add Run Relationship(s)</h3></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th>Model</th>
          <th>Site</th>
        </tr>
        <% @posterior.runs.each do |run| %>
            <tr>
              <td><%= link_to "X", { :controller => :posteriors, :action => :rem_posteriors_runs, :id => @posterior.id, :run_id => run.id }, :confirm => 'Are you sure?', :remote => true %></td>
              <td><%= link_to "edit", edit_run_path(run.id) %></td>
              <td><%= link_to_if run.model, run.model, run.model %></td>
              <td><%= link_to_if run.model, run.site, run.site %></td>
            </tr>
        <% end %>
      </table>
    </td>
    <td>
      <%= form_tag url_for( :controller => :posteriors, :action => :edit_posteriors_runs), :remote => true do %>
      <%= collection_select( :run, :id, Run.all.reject { |r| @posterior.runs.include?(r) }, :id, :select_default, {}, { :multiple => true } )%>
      <%= hidden_field_tag 'posterior_id', @posterior.id %>
      <br /><br />
      <%= submit_tag "Select" %>
      <% end %>
    </td>
  </tr>
</table>
