
<table class="pretty">
  <tr>
    <th><%= sortable "pfts.name", "Pft" -%></th>
    <th><%= sortable "posteriors.filename", "Filename" -%></th>
    <th>Parent</th>
  </tr>

<% @posteriors.each do |posterior| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and posterior.id == @search.to_i%>>
    <td><%= link_to_if posterior.pft, posterior.pft, posterior.pft %></td>
    <td><%=h posterior.filename %></td>
    <td><%= link_to_if posterior.parent, posterior.parent, posterior.parent %></td>
    <td><%= link_to 'Show', posterior %></td>
    <td><%= link_to 'Edit', edit_posterior_path(posterior) %></td>
    <td><%= link_to 'Destroy', posterior, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @posteriors %>
