<h1>New posterior</h1>

<%= form_for(@posterior) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :pft %><br />
    <%= f.select :pft_id, Pft.all.collect { |p| [ p.select_default, p.id] } %>
  </p>
  <p>
    <%= f.label :format_id, 'Format <em>*Required</em' %><br />
    <%= f.select :format_id, Format.all.collect { |p| [p.select_default, p.id ] } %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', posteriors_path %>
