<p>
  <b>Pft:</b>
  <%= link_to_if @posterior.pft, @posterior.pft, @posterior.pft %>
</p>
<p>
  <b>Format:</b>
  <%= link_to_if @posterior.format, @posterior.format, @posterior.format %>
</p>

<a style="text-decoration: none" href="#" onclick="showHide('show_files')" id="show_show_files">[+] View Associated Files</a>
<br/>
<br/>
<div id="show_files" class="hidden notvisible">
  <%= render 'show_files' %>
</div>
<hr />
<br />
<br />

<%= link_to 'Edit', edit_posterior_path(@posterior) %> |
<%= link_to 'Back', posteriors_path %>
