
<table class="pretty">
  <tr>
    <th><%= sortable "models.model_name", "Model name" -%></th>
    <th><%= sortable "models.model_path", "Model path" -%></th>
    <th><%= sortable "models.revision", "Revision" -%></th>
    <th>Parent</th>
  </tr>

<% @models.each do |model| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and model.id == @search.to_i%>>
    <td><%=h model.model_name %></td>
    <td><%=h model.model_path %></td>
    <td><%=h model.revision %></td>
    <td><%= link_to_if model.parent, model.parent, model.parent %></td>
    <td><%= link_to 'Show', model %></td>
    <td><%= link_to 'Edit', edit_model_path(model) %></td>
    <td><%= link_to 'Destroy', model, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @models %>
