<h1>Editing model</h1>

<% form_for(@model) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :model_name %><br />
    <%= f.text_field :model_name %>
  </p>
  <p>
    <%= f.label :model_path %><br />
    <%= f.text_field :model_path %>
  </p>
  <p>
    <%= f.label :revision %><br />
    <%= f.text_field :revision %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.select :parent_id, Model.all.collect {|p| [ p.select_default, p.id] },{:include_blank => true} %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @model %> |
<%= link_to 'Back', models_path %>
