<h1>New model</h1>

<% form_for(@model) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :model_name %><br />
    <%= f.text_field :model_name %>
  </p>
  <p>
    <%= f.label :model_type %><br />
    <%= f.select :model_type, options_for_select([
                ["BIOCRO", "BIOCRO"], 
                ["ED2", "ED2"],
                ["GHGVC", "GHGVC"],
                ["ISIS", "ISIS"],
                ["SIPNET", "SIPNET"],
              ]) 
    %>
  </p>
  <p>
    <%= f.label :model_path %><br />
    <%= f.text_field :model_path %>
  </p>
  <p>
    <%= f.label :revision %><br />
    <%= f.text_field :revision %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.select :parent_id, Model.all.collect {|p| [ p.select_default, p.id] },{:include_blank => true} %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', models_path %>
