<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>New Model</h1>
      </header>

      <%= form_for(@model) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :model_name %><br />
            <%= f.text_field :model_name %>
          </div>
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :revision %><br />
            <%= f.text_field :revision %>
          </div>
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :modeltype_id %>
            <%= f.collection_select(:modeltype_id, Modeltype.order('name'), :id, :name) %>
          </div>
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :parent %>
            <%= f.select :parent_id, Model.all.collect { |p| [ p.select_default, p.id ] }, { include_blank: true, :class => "model-full"} %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( models_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
          </div>
          <div class="button-group pull-right">
            <%= f.submit 'Create', :class => "button button-primary" %>
          </div>
        </div>

      <% end %>

    </div>
  </div>
</div>
