<p>
  <b>Model name:</b>
  <%= @model.model_name %>
</p>

<p>
  <b>Model path:</b>
  <%= @model.model_type %>
</p>

<p>
  <b>Model path:</b>
  <%= @model.model_path %>
</p>

<p>
  <b>Revision:</b>
  <%= @model.revision %>
</p>

<p>
  <b>Parent:</b>
  <%= link_to_if @model.parent, @model.parent, @model.parent %>
</p>

<div class="form-actions">
        <div class="button-group">
          <%= link_to( models_path ) do %>
            <button class="button"><i class="icon-arrow-left"></i> All Records</button>
          <% end %>
          <%= link_to( edit_model_path(@model) ) do %>
            <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>  
          <% end %>
          
        </div>
      </div>


