<p>
  <b>Site:</b>
  <%= link_to_if @raw.site, @raw.site, @raw.site %>
</p>

<p>
  <b>Format:</b>
  <%= link_to_if @raw.format, @raw.format, @raw.format %>
</p>

<p>
  <b>Filepath:</b>
  <%=h @raw.filepath %>
</p>

<p>
  <b>Start Date:</b>
  <%=h @raw.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%=h @raw.end_date %>
</p>


<p>
  <b>User:</b>
  <%= link_to_if @raw.user, @raw.user, @raw.user %>
</p>

<p>
  <b>Access Level:</b>
  <%=h access_levels(@raw.access_level) rescue '' %>
</p>

<p>
  <b>Notes:</b>
  <%=h @raw.notes %>
</p>

<p>
  <b>File(s):</b>
  <% @raw.raws_documents.all(:order => "id desc").each do |document| %>
    <%= link_to document.doc_file_name, document.doc.url %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_raw_path(@raw) %> |
<%= link_to 'Back', raws_path %>
