	    <% @results.each do |t| %>
        <tr><!--<%
=begin
        <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and citation.id == @search.to_i%>>
<%
=end
%>
          <!--
              <%
=begin %>
          <td class="center"><%= t.author %></td>
          <td class="center"><%= t.year %></td>
          <%
=end %>
          -->
          <td class="center"><%= link_to site_path(t.site_id.to_i) do %>
            <%= t.sitename %><%= if t.sitename && t.city &&
                                 !t.sitename.strip.empty? && !t.city.strip.empty?
                                 then raw("<br>") end
                                 %><%= if t.city && !t.city.strip.empty?
                                       then raw("<em>(#{t.city})</em>") end %>
            <% end %>
                             <%= if (t.sitename && !t.sitename.strip.empty? ||
                                 t.city && !t.city.strip.empty?) &&
                                 !t.lat.nil?
                                 then raw("<br>") end
                                 %><%= if !t.lat.nil?
                                       then raw("#{t.lat.abs.round(2)}&deg;&nbsp;#{t.lat >= 0 ? "N" : "S"}, ") +
                                            raw("#{t.lon.abs.round(2)}&deg;&nbsp;#{t.lon >= 0 ? "E" : "W"}") end %>
          </td>
          <!--
              <%
=begin %>
          <td class="center"><%= if t.dateloc < 5 then
                                 t.date
                                 elsif t.dateloc < 8
                                                   t.year
                                                   else
                                                   "-"
                                                   end %></td>
                                 <%
=end %>
                                 -->
          <td class="center">
            <%= t.date %>
            <% if t.result_type == "traits" %>
            <hr />
            <%= t.time %>
            <% end %>
          </td>
          <td class="center"><%= link_to species_path(t.species_id.to_i) do %>
            <em><%= t.scientificname.to_s %></em>
            <%= if t.commonname && !t.commonname.strip.blank? then raw("<br>(" + t.commonname.strip + ")") end %>
            <% end %>
          </td>
          <td class="center"><%= link_to cultivar_path(t.cultivar_id.to_i) do %>
            <%= t.cultivar.to_s %>
            <% end %>
          </td>
          <td class="center"><%= link_to (t.result_type == "yields" ? yield_path(t.id) : trait_path(t.id)) do %>
            <%= t.trait %><br>(<%= t.trait_description %>)
            <% end %>
          </td>
          <!--
              <%
=begin %>
          <td class="center"><%= t.treatment  %></td>
          <%
=end %>
          -->
          <td class="center"><%= "#{number_with_precision(t.mean, precision: 3, significant: true)} #{t.units}"  %></td>
          <td class="center"><%= t.method_name  %></td>
          <td class="center"><%= t.entity %></td>
          <!--
              <%
=begin %>
          <td class="center"><%= t.n %></td>
          <td class="center"><%= if t.statname == "SE" then t.stat
                  elsif t.statname == "SD" then t.stat/Math.sqrt(t.n) 
                  else "-"
                  end
                  %></td>
          <%
=end %>
          -->
        </tr>
      <% end %>

