<table width="100%">
  <tr>
    <td width="50%"><h3>Existing PFTs Relationships</h3></td>
    <td width="50%"><h3>Add PFT Relationship(s)</h3></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th>Name</th>
          <th>Definition</th>
        </tr>
        <% @prior.pfts.each do |pft| %>
        <tr>
          <td><%= link_to "X", { :controller => :priors, :action => :rem_pfts_priors, :id => pft.id, :prior => @prior  }, :confirm => 'Are you sure?', :remote => true %></td>
          <td><%= link_to "edit", edit_pft_path(pft.id) %></td>
          <td><%= pft.name %></td>
          <td><%= pft.definition[0..19] %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <%= form_tag url_for(:controller => :priors, :action => :edit_pfts_priors), :remote => true do %>
      <%= collection_select( :pft, :id, Pft.all.reject { |r| @prior.pfts.include?(r) }, :id, :select_default, {}, { :multiple => true } )%>
      <%= hidden_field_tag 'id', @prior.id %>
      <br /><br />
      <%= submit_tag "Select" %>
      <% end %>
    </td>
  </tr>
</table>
