<table>
  <tr>
    <th><%= link_to "Citation", "#", {:onclick => "order('citations.author')"} -%><span id="citations.author"></span></th>
    <th><%= link_to "Variable", "#", {:onclick => "order('variables.name')"} -%><span id="variables.name"></span></th>
    <th><%= link_to "Phylogeny", "#", {:onclick => "order('priors.phylogeny')"} -%><span id="priors.phylogeny"></span></th>
    <th><%= link_to "Distribution", "#", {:onclick => "order('priors.distn')"} -%><span id="priors.distn"></span></th>
    <th><%= link_to "Parameter a", "#", {:onclick => "order('priors.parama')"} -%><span id="priors.parama"></span></th>
    <th><%= link_to "Parameter b", "#", {:onclick => "order('priors.paramb')"} -%><span id="priors.paramb"></span></th>
    <th><%= link_to "N", "#", {:onclick => "order('priors.n')"} -%><span id="priors.n"></span></th>
    <th><%= link_to "Notes", "#", {:onclick => "order('priors.notes')"} -%><span id="priors.notes"></span></th>
  </tr>

<% @priors.each do |prior| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and prior.id == @search.to_i%>>
    <td><%= link_to_if prior.citation, prior.citation, prior.citation %></td>
    <td><%= link_to_if prior.variable, prior.variable, prior.variable %></td>
    <td><%=h prior.phylogeny %></td>
    <td><%=h prior.distn %></td>
    <td><%=h prior.parama %></td>
    <td><%=h prior.paramb %></td>
    <td><%=h prior.n %></td>
    <td><%=h prior.notes %></td>
    <td><%= link_to 'Show', prior %></td>
    <td><%= link_to 'Edit', edit_prior_path(prior) %></td>
    <td><%= link_to 'Destroy', prior, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @priors, :renderer => 'RemoteLinkRenderer' , :params => {:action => :search}, :remote => { :loading => "Element.show('spinner')",
                        :complete => "Element.hide('spinner')",
                        :with => "'current_sort_order='+current_sort_order+'&search='+Form.Element.getValue('search')+'&current_sort='+current_sort"  } %>



