<h3>Search Results for <%= @phrase %></h3>

<table>
  <tr>
    <th>Citation</th>
    <th>Variable</th>
    <th>Phylogeny</th>
    <th>Distribution</th>
    <th>Parameter a</th>
    <th>Parameter b</th>
    <th>N</th>
    <th>Notes</th>
  </tr>

<% @match.each do |prior| %>
  <tr>
    <td><%= link_to_if prior.citation, prior.citation, prior.citation %></td>
    <td><%= link_to_if prior.variable, prior.variable prior.variable %></td>
    <td><%= prior.phylogeny %></td>
    <td><%= prior.distn %></td>
    <td><%= prior.parama %></td>
    <td><%= prior.paramb %></td>
    <td><%= prior.n %></td>
    <td><%= prior.notes %></td>
    <td><%= link_to 'Show', prior %></td>
    <td><%= link_to 'Edit', edit_prior_path(prior) %></td>
    <td><%= link_to 'Destroy', prior, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

