<% content_for(:autocomplete_javascript) do %>
  <!-- autocomplete.js needs a `completion_fields` object describing the
  autocompletion fields on the page and needs to know the Rails root -->
  <script type="text/javascript" charset="utf-8">
    var ROOT_URL = '<%= root_url %>';
    var completion_fields = {
      "search_citations": { controller: "citations",
                        hidden_field_id: "prior_citation_id" },
      "search_variables": { controller: "variables",
                        hidden_field_id: "prior_variable_id" }
    };
  </script>
  <%= javascript_include_tag 'lazy/autocomplete.js' %>
<% end %>
<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
	      <h1>Editing Prior</h1>
			</header>

      <a style="text-decoration: none" href="#" onclick="showHide('edit_pfts_priors')" id="show_edit_pfts_priors">[+] View Related PFTs</a>
      <br/>
      <br/>
      <div id="edit_pfts_priors" class="hidden notvisible">
        <%= render 'edit_pfts_priors' %>
      </div>
      <hr />

      <%= form_for(@prior) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="eight columns alpha">
            <%= autocompletion_field(f, "Citation", "citations", :citation_id, "Search citations by author or title") %>
            <em><%= link_to "New Citation", new_citation_path %></em>
          </div>

          <div class="eight columns omega">
            <%= autocompletion_field(f, "Variable", "variables", :variable_id, "Search variables by name or units") %>
          </div>
        </div>

        <div class="row">
          <div class="three columns alpha">
            <%= f.label :phylogeny %>
            <%= f.text_field :phylogeny, :class => "input-full" %>
          </div>
          <div class="five columns">
            <%= f.label :distribution %>
            <%= f.select :distn, %w(beta binom cauchy chisq exp f gamma geom hyper lnorm logis nbinom norm pois t unif weibull wilcox), :class => "input-full" %><br />
            <em><%= link_to "More information about distributions", "http://cran.r-project.org/doc/manuals/R-intro.html#R-as-a-set-of-statistical-tables", :target =>"_blank" %></em>
          </div>
          <div class="three columns">
            <%= f.label :parameter_a %>
            <%= f.text_field :parama %>
          </div>
          <div class="three columns">
            <%= f.label :parameter_b %>
            <%= f.text_field :paramb %>
          </div>
          <div class="two columns omega">
            <%= f.label :n %>
            <%= f.text_field :n %>
          </div>
        </div>

        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 10, :class => "input-full"  %>
          </div>
        </div>


        <div class="form-actions">
          <div class="button-group">
            <%= link_to( priors_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
            <%= link_to( @prior ) do %>
              <button class="button" type="button">Show</button>
            <% end%>
          </div>
					<div class="button-group pull-right">
						<%= f.submit 'Update', :class => "button button-primary" %>
					</div>
				</div>

      <% end %>

    </div>
  </div>
</div>
