<p>
  <b>Citation:</b>
  <%= link_to_if @prior.citation, @prior.citation, @prior.citation %>
</p>

<p>
  <b>Variable:</b>
  <%= link_to_if @prior.variable, @prior.variable, @prior.variable %>
</p>

<p>
  <b>Phylogeny:</b>
  <%= @prior.phylogeny %>
</p>

<p>
  <b>Distn:</b>
  <%= @prior.distn %>
</p>

<p>
  <b>Parama:</b>
  <%= @prior.parama %>
</p>

<p>
  <b>Paramb:</b>
  <%= @prior.paramb %>
</p>

<p>
  <b>N:</b>
  <%= @prior.n %>
</p>

<p>
  <b>Notes:</b>
  <%= @prior.notes %>
</p>
<p>
  <b>Graph:</b>
  <p>
  <img src="preview/<%=@id%>">
</p>


<%= link_to 'Edit', edit_prior_path(@prior) %> |
<%= link_to 'Back', priors_path %>
