</div>
<% if @sites.nil? %>
<h3>0 : Sites found </h3>
<% else %>

<h3><%= @sites.count -%> : Sites found for '<%= @query -%>'</h3>
<script>
     if (marker.length > 0){
       marker.each( function(n) {
          n.setMap(null);
       });
       marker.length = 0;
     }
     <% @sites.each do |c|
        next if c.sitename_state_country.blank?  %>
        <% if !c.lat.nil? %>
          marker.push( new google.maps.Marker({
            position: new google.maps.LatLng(<%= c.lat %>,<%= c.lon %>),
            title: <%= raw "\"" + c.sitename_state_country + "\"" -%>,
            map: map
          }) );
        <% end %>
      <% end %>
</script>

<% end %>

<table>
  <tr>
    <th>Sites</th>
  </tr>
  <% @sites.each do |site|
    next if site.sitename_state_country.blank? %>
  <tr>
    <td><%= site.sitename_state_country -%></td>
  </tr>
  <% end %>
</table>

<div>

