
<table>
  <tr>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Latitude</th>
    <th>Longitude</th>
    <th>Mean Annual Temperature (°C)</th>
    <th>Mean Annual Precipitation (mm/yr)</th>
    <th>Elevation (m)</th>
  </tr>
<% if @sites
      @sites.each do |site| %>
  <tr>
    <td><%= site.city  -%></td>
    <td><%= site.state -%></td>
    <td><%= site.country -%></td>
    <td><%= site.lat -%></td>
    <td><%= site.lon -%></td>
    <td><%= site.mat -%></td>
    <td><%= site.map -%></td>
    <td><%= site.masl -%></td>
  </tr>
    <% end %>
  <% else %>
  <tr>
    <td colspan='9'>Sorry no sites found near that location</td>
  </tr>
<% end %>
</table>
