<div class="content">
	<div id="mapcont" class="container" style="margin: 10px 100px; width:70%">
		<div class="sixteen columns" style="width:100%">
			<header>
				<h1><span id="maptitle">Miscanthus Yield</span></h1>
			</header>

     <div id="googft-mapCanvas" style=" width: 100%; height: 600px"></div>  
      <div id="googft-legend">
        </div>
      </div><!-- legend -->
      

<style>
#googft-mapCanvas img{max-width:none;}
 #googft-legend{background-color:#fff;border:1px solid #000;font-family:Arial, sans-serif;font-size:12px;margin:5px;padding:10px 10px 8px;}#googft-legend p{font-weight:bold;margin-top:0;}#googft-legend div{margin-bottom:5px;}.googft-legend-swatch{border:1px solid;float:left;height:12px;margin-right:8px;width:20px;}.googft-legend-range{margin-left:0;}.googft-dot-icon{margin-right:8px;}.googft-paddle-icon{height:24px;left:-8px;margin-right:-8px;position:relative;vertical-align:middle;width:24px;}.googft-legend-source{margin-bottom:0;margin-top:8px;}.googft-legend-source a{color:#666;font-size:11px;}
</style>

<%= javascript_include_tag 'mylibs/maps.js' %>

  <select onchange="javascript: updatemap()" id="selectmap" style="margin:10px 20px"> 
    <optgroup label="Cornstover">
      <option value=0> Cornstover Yield</option>
      <!--<option value=11> Cornstover Yield(grid)</option>  Does not exist-->
      <option value=5> Cornstover Cost </option>
      <option value=17>Cornstover AET</option>
    </optgroup>
    <optgroup label="Switchgrass">
      <option value=2> Switchgrass Yield</option>
      <option value=14>Switchgrass Yield (grid) </option>
      <option value=7> Switchgrass Cost</option>
      <option value=15>Switchgrass AET</option>
    </optgroup>
    <optgroup label="Miscanthus">
      <option value=1 selected>Miscanthus Yield</option>
      <option value=10>Miscanthus Yield (grid)</option>
      <option value=6>Miscanthus Cost</option>
      <option value=16>Miscanthus AET</option>
    </optgroup>
    <optgroup label = "Energycane">
      <option value=3> Energycane Yield</option>
      <option value=9>Energycane Yield (grid)</option>
      <option value=8> Energycane Cost</option>
    </optgroup>
    <optgroup label="Poplar">
      <option value=19>Poplar Yield </option>
      <option value=12>Poplar Yield (grid) </option>
    </optgroup>
    <optgroup label="Willow">
      <option value=18> Willow Yield </option>
      <option value=13> Willow Yield (grid) </option>

    </optgroup>
    <option value=4>Least Cost Crop</option>
  </select>
  <br>
   <!-- <a id='downloadbutton' href=''><button class="button button-primary"> Download</button></a> -->

      <% if @fullscreen %>
        <div style="width:100%;margin-top:5px;">
      <% else %>
        <div style="width:750px;height:100px;margin-top:5px;">
      <% end %>
      
      <% if current_user != nil %>
      
          <div style="width:200px;float:left">
            <h5>Download Model Output: </h5>
            
            <table cellpadding="0" cellspacing="0" class="moduletable">
              <tr>
                <td>
                  <script type="text/javascript">
                    var download_yield_MENU_ITEMS = [
                      ['Yield (Mg/ha)','',{'tw':'0','sb':'Yield (Mg/ha)'},
                        ['Miscanthus','',{'tw':'0','sb':'Miscanthus'},
                          ['County',      '<%= root_path %>temp_models/miscanthus_yield_county.csv'      ,{'tw':'0','sb':'County'}],
                          ['Gridded',     '<%= root_path %>temp_models/miscanthus_yield_grid.csv'        ,{'tw':'0','sb':'Gridded'}]
                        ],
                        ['Switchgrass','',{'tw':'0','sb':'Switchgrass'},
                          ['County',      '<%= root_path %>temp_models/switchgrass_yield_county.csv'     ,{'tw':'0','sb':'County'}],
                          ['Gridded',     '<%= root_path %>temp_models/switchgrass_yield_grid.csv'       ,{'tw':'0','sb':'Gridded'}]
                        ],
                        ['EnergyCane','',{'tw':'0','sb':'EnergyCane'},
                          ['County',      '<%= root_path %>temp_models/energycane_yield_county.csv'     ,{'tw':'0','sb':'County'}],
                          ['Gridded',     '<%= root_path %>temp_models/energycane_yield_grid.csv'       ,{'tw':'0','sb':'Gridded'}]
                        ],
                        ['CornStover','',{'tw':'0','sb':'CornStover'},
                          ['County',      '<%= root_path %>temp_models/cornstover_yield_county.csv'     ,{'tw':'0','sb':'County'}]
                        ],
                        ['Poplar','',{'tw':'0','sb':'Poplar'},
                          ['County',      '<%= root_path %>images/lmodelout/poplar_yield_county.csv'     ,{'tw':'0','sb':'County'}],
                          ['Gridded',     '<%= root_path %>temp_models/poplar_yield_grid.csv'          ,{'tw':'0','sb':'Gridded'}]
                          ],
                        ['Willow','',{'tw':'0','sb':'Poplar'},
                          ['County',      '<%= root_path %>images/lmodelout/willow_yield_county.csv'     ,{'tw':'0','sb':'County'}],
                          ['Gridded',     '<%= root_path %>images/lmodelout/willow_yield_grid.csv'          ,{'tw':'0','sb':'Gridded'}]

                        ]
                      ]
                    ];
                  </script>
                  <div style="position:relative; top:0px; left:0px; min-height:26px;">
                    <div style="position:absolute; top:0px; width: 200px; height:26px;">
                      <script type="text/javascript">
                        new menu (download_yield_MENU_ITEMS, [
                          {height:26,width:200,block_top:0,block_left:0,top:0,left:155,hide_delay:600,expd_delay:100,css:
                            {outer:["topmenu_l0oout","topmenu_l0oover"],inner:["topmenu_l0iout","topmenu_l0iover"]}
                          },
                          {height:26,width:155,block_top:26,block_left:0,top:26,left:0,css:
                            {outer:["topmenu_l1oout","topmenu_l1oover"],inner:["topmenu_l1iout","topmenu_l1iover"]}
                          },
                          {block_top:0,block_left:155}
                        ])
                      </script>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            
            <br />
            

            <table cellpadding="0" cellspacing="0" class="moduletable">
              <tr>
                <td>


                  <script type="text/javascript">
                    var download_evapo_MENU_ITEMS = [
                      ['Evapotranspiration ','',{'tw':'0','sb':'Evapotranspiration'},
                        ['Miscanthus','',{'tw':'0','sb':'Miscanthus'},
                          ['County',      '<%= root_path %>temp_models/miscanthus_evapotranspiration_county.csv'     ,{'tw':'0','sb':'County'}],
                          ['Gridded',     '<%= root_path %>temp_models/miscanthus_evapotranspiration_grid.csv'       ,{'tw':'0','sb':'Gridded'}]
                        ],
                        ['Switchgrass','',{'tw':'0','sb':'Switchgrass'},
                          ['Gridded',     '<%= root_path %>temp_models/switchgrass_evapotranspiration_grid.csv'      ,{'tw':'0','sb':'Gridded'}]
                        ],
                        ['Cornstover','',{'tw':'0','sb':'Cornstover'},
                          ['County',      '<%= root_path %>temp_models/switchgrass_evapotranspiration_county.csv'     ,{'tw':'0','sb':'County'}],
                          ['Gridded',     '<%= root_path %>temp_models/switchgrass_evapotranspiration_grid.csv'       ,{'tw':'0','sb':'Gridded'}]
                        ]
                      ]
                    ];
                  </script>


                  <div style="position:relative; top:0px; left:0px; min-height:26px;">
                    <div style="position:absolute; top:0px; width: 200px; height:26px;">
                      <script type="text/javascript">
                        new menu (download_evapo_MENU_ITEMS, [{height:26,width:200,block_top:0,block_left:0,top:0,left:155,hide_delay:600,expd_delay:100,css:{outer:["topmenu_l0oout","topmenu_l0oover"],inner:["topmenu_l0iout","topmenu_l0iover"]}},{height:26,width:155,block_top:26,block_left:0,top:26,left:0,css:{outer:["topmenu_l1oout","topmenu_l1oover"],inner:["topmenu_l1iout","topmenu_l1iover"]}},{block_top:0,block_left:155}])
                      </script>
                    </div>
                  </div>
                </td>
              </tr>
            </table>


            
            <br /> 
          
            <table cellpadding="0" cellspacing="0" class="moduletable">
              <tr>
                <td>
                  <script type="text/javascript">
                    var download_cost_MENU_ITEMS = [
                      ['Production Cost (USD/Mt)','',{'tw':'0','sb':'Production Cost (USD/Mt)'},
                        ['Miscanthus','',{'tw':'0','sb':'Miscanthus'},
                          ['County',      '<%= root_path %>temp_models/miscanthus_cost_county.csv'      ,{'tw':'0','sb':'County'}]
                        ],
                        ['Switchgrass','',{'tw':'0','sb':'Switchgrass'},
                          ['County',      '<%= root_path %>temp_models/switchgrass_cost_county.csv'     ,{'tw':'0','sb':'County'}]
                        ],
                        ['EnergyCane','',{'tw':'0','sb':'EnergyCane'},
                          ['County',      '<%= root_path %>temp_models/energycane_cost_county.csv'     ,{'tw':'0','sb':'County'}]
                        ],
                        ['Cornstover','',{'tw':'0','sb':'Cornstover'},
                          ['County',      '<%= root_path %>temp_models/cornstover_cost_county.csv'      ,{'tw':'0','sb':'County'}]
                        ],
                        ['All','',{'tw':'0','sb':'All'},
                          ['Yield and County','<%= root_path %>temp_models/all_yield_and_cost_county.csv',{'tw':'0','sb':'YieldAndCounty'}],
                          ['Least Cost','<%= root_path %>temp_models/least_cost_crop_county.csv'       ,{'tw':'0','sb':'Least'}]
                        ]
                      ]
                    ];
                  </script>
                  <div style="position:relative; top:0px; left:0px; min-height:26px;">
                    <div style="position:absolute; top:0px; width: 200px; height:26px;">
                      <script type="text/javascript">
                        new menu (download_cost_MENU_ITEMS, [{height:26,width:200,block_top:0,block_left:0,top:0,left:155,hide_delay:600,expd_delay:100,css:{outer:["topmenu_l0oout","topmenu_l0oover"],inner:["topmenu_l0iout","topmenu_l0iover"]}},{height:26,width:155,block_top:26,block_left:0,top:26,left:0,css:{outer:["topmenu_l1oout","topmenu_l1oover"],inner:["topmenu_l1iout","topmenu_l1iover"]}},{block_top:0,block_left:155}])
                      </script>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
            
          </div>
          
      <% end %>

          <!-- <div style="width:200px;float:right">
            <table cellpadding="0" cellspacing="0" class="moduletable">
              <tr>
                <td>
                   <script type="text/javascript">
                    fullscreen = false;
                   </script>
                  <div style="position:relative; top:0px; left:0px; min-height:26px;">
                    <div style="position:absolute; top:0px; width: 200px; height:26px;">
                      <button class="button button-primary" 

                    onclick="javascript: fullscreenmap(fullscreen)"> Fullscreen</button>
                    </div>
                  </div>
                </td>
              </tr>
            </table>
          </div>
        </div> -->


      <br /><br /><br />
      
      
      
    <script type="text/javascript">
    // Place your application-specific JavaScript functions and classes here
// This file is automatically included by javascript_include_tag :defaults





  var minZoomLevel = 4;
  var geocoder;
  var address;
  var latlng = new google.maps.LatLng(37.09024, -95.712891);
  var myOptions = {
    zoom: minZoomLevel,
    streetViewControl: false,
    mapTypeControl: false,
    panControl: false,
    center: latlng,
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };
  var overlayOptions = {
    opacity: 0.6,
  }

  // Google coordinate plane increases in the positive number direction left to right
  // map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);

/////////// setup of bz_sugarcane map
  //var bz_sugarcane_bounds = new google.maps.LatLngBounds(
  //  new google.maps.LatLng(-45,-135), // south-west
  //  new google.maps.LatLng(65,-25) // north-east

  //);
  //var bz_sugarcane = new google.maps.GroundOverlay( '../images/yield_maps/sugarcane.png', bz_sugarcane_bounds, overlayOptions );
  //bz_sugarcane.setMap(map);


/////////// setup of us_miscanthus map  
  // var us_miscanthus_bounds = new google.maps.LatLngBounds(
  //   new google.maps.LatLng(-45,-135), // south-west
  //   new google.maps.LatLng(65,-25) // north-east
  // );
  // var us_miscanthus = new google.maps.GroundOverlay( '../images/yield_maps/us_miscanthus.png', us_miscanthus_bounds, overlayOptions );
  // us_miscanthus.setMap(map);
  
  

  
  
  
  
  
  //overlay = [];
  
  // Bounds for A single map
   // var strictBounds = new google.maps.LatLngBounds(
   //   new google.maps.LatLng(-70, -170), // bottom-left
   //   new google.maps.LatLng(70, 170)   // top-right
   // );

   // Listen for the map click events
   // google.maps.event.addListener(map, 'dragend', function() {
   //   if (strictBounds.contains(map.getCenter())) return;

   //   // We're out of bounds - Move the map back within the bounds
   //   var c = map.getCenter(),
   //       x = c.lng(),
   //       y = c.lat(),
   //       maxX = strictBounds.getNorthEast().lng(),
   //       maxY = strictBounds.getNorthEast().lat(),
   //       minX = strictBounds.getSouthWest().lng(),
   //       minY = strictBounds.getSouthWest().lat();

   //   if (x < minX) x = minX;
   //   if (x > maxX) x = maxX;
   //   if (y < minY) y = minY;
   //   if (y > maxY) y = maxY;

   //   map.setCenter(new google.maps.LatLng(y, x));
   // });

  // // Limit the zoom level
  // google.maps.event.addListener(map, 'zoom_changed', function() {
  //   if (map.getZoom() < minZoomLevel) map.setZoom(minZoomLevel);
  // });
  
  markersArray = [];


    
    
    
    
    </script>


		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>
