<h2>Species Databases</h2>
<%- if @query.nil? -%>
<h3>Species with most Trait/Yield records</h3>
<%- else -%>
<h3>Search results for <%= @query %></h3>
<%- end -%>

<p><em>Click on any of the following specie to view its details</em></p>
<table>
  <tr>
    <th>Genus</th>
    <th>Species</th>
    <th>Yield Database</th>
    <th>Trait Database</th>
  </tr>
  <% (@species_yields+@species_traits).uniq.each do |c| %>
  <tr>
    <td><%= link_to c.genus, species_path(c) %></td>
    <td><%= c.species %></td>
    <td><%= link_to "Click here", :action => :yields, :species => c.id if @species_yields.include?(c) %></td>
    <td><%= link_to "Click here", :action => :traits, :species => c.id if @species_traits.include?(c) %></td>
  </tr>
  <% end %>
</table>

<%= form_tag :action => :species_details do %>
  <%= content_tag :label do %>
    Search term:
    <%= text_field_tag :search, params[:search] %>
    <br/>
    <%= submit_tag "Search" %>
  <% end %>
<% end %>
