<div class="content">
  <div class="container">
	<div class="sixteen columns">
	  <header>
		<h1>Sites with Trait Data</h1>
	  </header>

      <div id="map_canvas" style="width: 700px; height: 400px"></div>

      <br />

      <div id="show_traits">
        <i>Click site bubble to see corresponding Trait data</i>
      </div>

      <script type="text/javascript">
  //<![CDATA[
        var geocoder;
        var address;
        var latlng = new google.maps.LatLng(40.44,-95.98);
        var myOptions = {
          zoom: 4,
          center: latlng,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map_canvas"), myOptions);
        var marker = [];

          <% @sites.each do |c| %>
          <% if !c.lat.nil? %>
            var point = new google.maps.LatLng(<%= c.lat %>,<%= c.lon %>);
            marker[<%= c.id -%>] = new google.maps.Marker({
              position: point,
              title: <%= raw "\"" + c.sitename_state_country.strip.chomp + "\"" -%> ,
              map: map
            });
            google.maps.event.addListener(marker[<%= c.id -%>], "click", function()
              { <%= remote_function( :url => { :action => "show_traits"}, :with =>  "'site=' + #{c.id}" ) %> });

        <% end %>
      <% end %>

//]]>
      </script>

	</div> <!-- class="sixteen columns" -->
  </div> <!-- container -->
</div>


