    <tr id="row_<%= @count %>">
      <!--td><%#= link_to_remote image_tag("redcheck.png", :id => "ok#{@count}"), :url => { :action => "check_trait"}, :with => "'count=#{@count}&trait[site_id]='+$('trait_#{@count}_site_id').value+'&trait[cultivar_id]='+$('trait_#{@count}_cultivar_id').value+'&trait[treatment_id]='+$('trait_#{@count}_treatment_id').value+'&trait[date(1i)]='+$('trait_#{@count}_date_1i').value+'&trait[date(2i)]='+$('trait_#{@count}_date_2i').value+'&trait[date(3i)]='+$('trait_#{@count}_date_3i').value+'&trait[dateloc]='+$('trait_#{@count}_dateloc').value+'&trait[time(4i)]='+$('trait_#{@count}_time_4i').value+'&trait[time(5i)]='+$('trait_#{@count}_time_5i').value+'&trait[timeloc]='+$('trait_#{@count}_timeloc').value+'&trait[variable_id]='+$('trait_#{@count}_variable_id').value+'&trait[mean]='+$('trait_#{@count}_mean').value+'&trait[n]='+$('trait_#{@count}_n').value+'&trait[statname]='+$('trait_#{@count}_statname').value+'&trait[stat]='+$('trait_#{@count}_stat').value+'&trait[access_level]='+$('trait_#{@count}_access_level').value"  %></td-->
      <td><%= image_tag("redcheck.png", :id => "ok#{@count}") %> <%= observe_field("trait_#{@count}_mean", :frequency => 1, :url => { :action => "check_trait"}, :with => "'count=#{@count}&trait[site_id]='+$('trait_#{@count}_site_id').value+'&trait[cultivar_id]='+$('trait_#{@count}_cultivar_id').value+'&trait[treatment_id]='+$('trait_#{@count}_treatment_id').value+'&trait[date(1i)]='+$('trait_#{@count}_date_1i').value+'&trait[date(2i)]='+$('trait_#{@count}_date_2i').value+'&trait[date(3i)]='+$('trait_#{@count}_date_3i').value+'&trait[dateloc]='+$('trait_#{@count}_dateloc').value+'&trait[time(4i)]='+$('trait_#{@count}_time_4i').value+'&trait[time(5i)]='+$('trait_#{@count}_time_5i').value+'&trait[timeloc]='+$('trait_#{@count}_timeloc').value+'&trait[variable_id]='+$('trait_#{@count}_variable_id').value+'&trait[mean]='+$('trait_#{@count}_mean').value+'&trait[n]='+$('trait_#{@count}_n').value+'&trait[statname]='+$('trait_#{@count}_statname').value+'&trait[stat]='+$('trait_#{@count}_stat').value+'&trait[access_level]='+$('trait_#{@count}_access_level').value")  %>
<% if @count > 1 %>
<span onclick="$('row_<%= @count %>').remove()">[remove]</span>
<% end %>
</td>
      <td><%= select_tag "trait[#{@count}][site_id]", options_for_select(@sites.collect { |p| [ p.select_default, p.id ] }, {}) %></td>
      <td><%#= render :partial => "species/species_search" %></td>
      <td><%= select_tag "trait[#{@count}][cultivar_id]", options_for_select(Cultivar.all(:joins => :specie, :order => 'species.scientificname').collect { |p| [ p.select_default, p.id ] }, { :include_blank => true}) %></td>
      <td><%= select_tag "trait[#{@count}][treatment_id]", options_for_select(@treatments.collect { |p| [ p.select_default, p.id ] }, {}) -%></td>
      <td><%= date_select "trait[#{@count}]","date", { :start_year => 1900, :end_year => Time.now.year, :include_blank => "0000", :default => "0000"} %></td>
      <td><%= select_tag "trait[#{@count}][dateloc]", options_for_select($dateloc_drop.sort) %></td>
      <td><%= time_select "trait[#{@count}]","time", { :include_blank => true }  %></td>
      <td><%= select_tag "trait[#{@count}][timeloc]", options_for_select($timeloc_drop.sort) %></td>
      <td><%= select_tag "trait[#{@count}][variable_id]", options_for_select(Variable.all(:order => 'name').collect { |p| [ p.select_default, p.id ] }.sort { |a,b| a[0].split(': ')[1] <=> b[0].split(': ')[1] }, {}) -%></td>
      <td><%= text_field_tag "trait[#{@count}][mean]" %></td>
      <td><%= text_field_tag "trait[#{@count}][n]" %></td>
      <td><%= text_field_tag "trait[#{@count}][stat]" %></td>
      <td><%= select_tag "trait[#{@count}][statname]", options_for_select(["","SD", "SE", "MSE", "95%CI", "LSD", "MSD"]) %></td>
      <td><%= text_field_tag "trait[#{@count}][notes]" %></td>
      <td><%= select_tag "trait[#{@count}][access_level]", options_for_select([["1.Restricted",1],['2.EBI Researchers',2],['3.External Researchers',3],['4.Public',4]], :selected => 2) %><%= hidden_field_tag "trait[#{@count}][citation_id]", :value => session['citation'] %></td>
    </tr>

