<div class="content">
	<div class="container">
		<div class="sixteen columns">

      <% if !@citation %>
        <h2>Please choose a citation to work with first. <%= link_to 'Citations', citations_path %></h2>
      <% elsif @citation.treatments.length == 0 %>
        <h2> There are no treatments associated with this citation. Please create a treatment that is associated with this citation first. <%= link_to 'Treatments', treatments_path %></h2>
      <% elsif @citation.sites.length == 0 %>
        <h2> There are no sites associated with this citation. Please create a site that is associated with this citation first. <%= link_to 'Sites', sites_path %></h2>
      <% else %>

      <% if !@trait_old.nil? %>
      <h2>Add a covariate for the previous trait <%= link_to "[new]", new_covariate_path(:trait_id => @trait_old) %></h2>
      <% end %>

			<header>
        <h1>New Trait</h1>
      </header>
  
        <%= form_for @trait,:html => { :multipart => true } do |f| %>
          <%= f.error_messages %>

            <div class="row">
              <div class="eight columns alpha">
                <%= f.label :variable_id, "Trait" %>
                <%= f.select :variable_id, Variable.order('name').collect { |p| [ p.select_default, p.id ] }.sort { |a,b| a[0].split(': ')[1] <=> b[0].split(': ')[1] }, {}, :class => "input-full" %>
              </div> 
              <div class="four columns alpha">
                <%= f.label :mean %>
                <%= f.text_field :mean, :class => "input-full"  %>
              </div>
              <div class="four columns ">
                <%= f.label :Stat %>              
                <%= f.select :statname, $statname_list, :class => "input-full" %>
              </div>
              <div class="four columns">
                <%= f.label :method_id, "Method" %>
                <%= f.select :method_id, Methods.all.collect { |p| [ p.select_default, p.id ] }, {:include_blank => true}, :input_html => { :value => nil },:class => "input-full" %>
              </div>
               <div class="two columns omega">
                <%= f.label :statname %>
                <%= f.select :statname, $statname_list, :class => "input-full" %>
              </div>
            </div>
            <div class="row">
              <div class="four columns alpha">               
                <fieldset>
                  <legend>Date</legend>
                  <%= f.select :date_year, [''] + (1800..Time.now.year).to_a %>
                  <%= f.select :date_month, [''] + (1..12).to_a %>
                  <%= f.select :date_day, [''] + (1..31).to_a %>
                </fieldset>
              </div>
              <div class="four columns alpha">
                <%= f.label :dateloc, "Date Level of Confidence" %>
                <%= f.select :dateloc, options_for_select($dateloc_drop.sort, f.object.dateloc || $dateloc_drop_default) %>
              </div>
              <div class="three columns">
                <fieldset>
                  <legend>Time</legend>
                  <%= f.select :time_hour, [''] + (0..23).to_a %>
                  <%= f.select :time_minute, [''] + (0..59).to_a %>
                </fieldset>
              </div>
              <div class="four columns">
                <%= f.label :timeloc, "Time Level of Confidence" %>
                <%= f.select :timeloc, options_for_select($timeloc_drop.sort, f.object.timeloc || $timeloc_drop_default) %>
              </div>
            </div>
            <div class="row">
              <div class="ten columns alpha">
                <%= f.label :site_id %>
                <%= f.select :site_id, @citation.sites.collect { |p| [ p.select_default, p.id ] }, {}, :class => "input-full" %>
              </div>
            </div>

            <%= render :partial => "species/species_search" %>
            
            <div class="row">
              <div class="eight columns alpha">
                <%= f.label :cultivar_id %>
                <%= f.select :cultivar_id, Cultivar.joins(:specie).order('species.scientificname').collect { |p| [ p.select_default, p.id ] }, { :include_blank => true}, :class => "input-full" %>
              </div>
              <div class="eight columns alpha">
                <%= f.label :treatment_id %>
                <%= f.select :treatment_id, @citation.treatments.collect { |p| [ p.select_default, p.id ] }, {}, :class => "input-full" %>
              </div>
            </div>

            <div class="row">
              <div class="four columns alpha">
                <%= f.label :n %>
                <%= f.text_field :n, :class => "input-full" %>
              </div>
              <div class="four columns omega">
                <%= f.label :access_level %>
                <%= f.select :access_level, [["1.Restricted",1],['2.EBI Researchers',2],['3.External Researchers',3],['4.Public',4]], :selected => 2 %>
              </div>             
            </div>
            
            <div class="row">
              <div class="eight columns alpha">
                <%= f.label :notes %>
                <%= f.text_area :notes, :rows => 5, :class => "input-full"%>
              </div>
              
            </div>
        
          <div id="covariates">
          <h3>Add a covariate to this trait</h3>
          <p><em>Leave blank if not adding a covariate</em></p>
          <p>
            <%= render 'new_covariate', :covariate => Covariate.new %>
          </div>
          <input name="Add Covariate" class="button" type="button" onclick="add_covariate()" value="Add another covariate" /></p>
          <p>
            <%= f.label :user %>&nbsp
            <%= current_user %>
            <%= f.hidden_field :citation_id, :value => session['citation'] %>
          </p>
        
          <div class="form-actions">
            <div class="button-group">
              <%= link_to( traits_path ) do %>
                <button class="button" type="button">Back</button>
              <% end%>
            </div>
		        <div class="button-group pull-right">
			        <%= f.submit 'Create', :class => "button button-primary" %>
		        </div>
	        </div>
	      <% end %>
      <% end %>


      <script>
        function add_covariate() {
          jQuery('div#covariates').append('<%= escape_javascript(render "new_covariate", :covariate => Covariate.new) %>');
          return false;
        }
      </script>

    </div>
  </div>
</div>

