<% if session['citation'].nil? %>
  <h2>Please choose a citation to work with first. <%= link_to 'Citations', citations_path %></h2>
<% elsif @treatments.length == 0 %>
  <h2> There are no treatments associated with this citation. Please create a treatment that is associated with this citation first. <%= link_to 'Treatments', treatments_path %></h2>
<% elsif @sites.length == 0 %>
  <h2> There are no sites associated with this citation. Please create a site that is associated with this citation first. <%= link_to 'Sites', sites_path %></h2>
<% else %>

  <% if !@trait_old.nil? %>
  <h2>Add a covariate for the previous trait <%= link_to "[new]", new_covariate_path(:trait_id => @trait_old) %></h2>
  <% end %>

  <h1>New trait <%= link_to_prototype_window(image_tag("help.gif"), "help_popup1", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node20.html?min" }) %></h1>
  <h1>DOES NOT DO ANYTHING YET! TRAITS ARE NOT SAVED!</h1>
  
  <% form_for :traits, :url => { :action => "create_multi", :method => "post" },:html => { :multipart => true } do  %>
  <table style="position:relative;left:-500px;">
    <tr>
      <th>Verified</span></th>
      <th>Site <span onclick="fill_down('site_id');">[fill]</span></th>
      <th>Species <span onclick="fill_down('species_id');">[fill]</span></th>
      <th>Cultivar <span onclick="fill_down('cultivar_id');">[fill]</span></th>
      <th>Treatment <span onclick="fill_down('treatment_iddate');">[fill]</span></th>
      <th>Date <span onclick="fill_down('date_1i');fill_down('date_2i');fill_down('date_3i');">[fill]</span></th>
      <th>DateLOC <%= link_to_prototype_window(image_tag("help.gif"), "help_popup2", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node21.html?min" }) %>  <span onclick="fill_down('dateloc');">[fill]</span></th>
      <th>Time <span onclick="fill_down('time_4i');fill_down('time_5i');">[fill]</span></th>
      <th>TimeLOC <span onclick="fill_down('timeloc');">[fill]</span></th>
      <th>Trait <span onclick="fill_down('variable_id');">[fill]</span></th>
      <th>Mean <span onclick="fill_down('mean');">[fill]</span></th>
      <th>Sample Size (n) <span onclick="fill_down('n');">[fill]</span></th>
      <th>Stat <%= link_to_prototype_window(image_tag("help.gif"), "help_popup3", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node22.html?min" }) %>  <span onclick="fill_down('stat');">[fill]</span></th>
      <th>Stat Name <span onclick="fill_down('statname');">[fill]</span></th>
      <th>Notes <span onclick="fill_down('notes');">[fill]</span></th>
      <th>Access Level <span onclick="fill_down('access_level');">[fill]</span></th>
    </tr>
 
    <tr id="place_holder">
      <td colspan="14"><%= submit_tag 'Create' %>&nbsp;&nbsp;<%= link_to_remote "Add another row", :url => { :action => "add_row" }, :with => "'count='+count" %></td>
    </tr>
</table>
  <% end %>
<% end %>

<%= link_to 'Back', traits_path %>

<script>
  var count = 1;
  <%= remote_function :url => { :action => "add_row" }, :with => "'count='+count"%>
  function fill_down(col) {
    var val = $("trait_1_"+col).value;
    for (i=2;i<count;i++)
    {
      if ($("row_"+i) != undefined){
        $("trait_"+i+"_"+col).value = val;
      }
    }
  };
</script>
