<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Trait</h1>
			</header>
			

			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
      <dt>Site:</dt>
      <dd><%= link_to_if @trait.site, @trait.site, @trait.site %></dd>

      <dt>Traitname:</dt>
      <dd><%= link_to_if @trait.variable, @trait.variable, @trait.variable %></dd>

      <dt>Species:</dt>
      <dd><%= link_to_if @trait.specie, @trait.specie, @trait.specie %></dd>

      <dt>Citation:</dt>
      <dd><%= link_to_if @trait.citation, @trait.citation, @trait.citation %></dd>

      <dt>Cultivar:</dt>
      <dd><%= link_to_if @trait.cultivar, @trait.cultivar, @trait.cultivar %></dd>

      <dt>Treatment:</dt>
      <dd><%= link_to_if @trait.treatment, @trait.treatment, @trait.treatment %></dd>

      <dt>Method:</dt>
      <dd><%= link_to_if @trait.ebi_method, @trait.ebi_method, @trait.ebi_method %></dd>

      <dt>Record Creator:</dt>
      <dd><%= user_for_view(@trait.user) %></dd>

      <dt>Date:</dt>
      <dd><%= @trait.pretty_date %></dd>

      <dt>Time:</dt>
      <dd><%= @trait.pretty_time %></dd>

      <dt>Mean:</dt>
      <dd><%= @trait.mean %></dd>

      <dt>N:</dt>
      <dd><%= @trait.n %></dd>

      <dt>Stat:</dt>
      <dd><%= @trait.stat %></dd>

      <dt>Statname:</dt>
      <dd><%= @trait.statname %></dd>

      <dt>Notes:</dt>
      <dd><%= @trait.notes %></dd>
      <div id="covariate-list">
        <dt>Covariates:</dt>
        <br>
        <div style="margin-left:-100px">
          <dd>
            <table>
              <tr><th>Variable</th><th>Level</th></tr>
              <% @trait.covariates.each do |covariate| %>
              <tr>
                <td><%= link_to covariate.variable, covariate.variable%></td>
                <td><%= covariate.level %></td>
              </tr>
              <% end %>
            </table>
          </dd>
        </div>
      </div>
      <% if @trait.covariates.size ==0 then %>
      <%=javascript_tag do%>
        jQuery('#covariate-list').hide();
      <%end%>
      <%end%>

			</dl>


			<div class="form-actions">
				<div class="button-group">
          <%= link_to( traits_path ) do %>
					  <button class="button"><i class="icon-arrow-left"></i> All Records</button>
					<% end %>
					<%= link_to( edit_trait_path(@trait) ) do %>
    			  <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
  				<% end %>
					
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>

