
<% if @trait.nil? %>
<p>Sorry trait does not exists or you do not have access</p>
<% else %>
<p>
  <b>Site:</b>
  <%= link_to_if @trait.site, @trait.site, @trait.site %>
</p>

<p>
  <b>Traitname:</b>
  <%= link_to_if @trait.variable, @trait.variable, @trait.variable %>
</p>

<p>
  <b>Species:</b>
  <%= link_to_if @trait.specie, @trait.specie, @trait.specie %>
</p>

<p>
  <b>Citation:</b>
  <%= link_to_if @trait.citation, @trait.citation, @trait.citation %>
</p>

<p>
  <b>Cultivar:</b>
  <%= link_to_if @trait.cultivar, @trait.cultivar, @trait.cultivar %>
</p>

<p>
  <b>Treatment:</b>
  <%= link_to_if @trait.treatment, @trait.treatment, @trait.treatment %>
</p>

<p>
  <b>Method:</b>
  <%= link_to_if @trait.ebi_method, @trait.ebi_method, @trait.ebi_method %>
</p>

<% if logged_in? %>
<p>
  <b>User:</b>
  <%= @trait.user %>
</p>
<% end %>

<p>
  <b>Date:</b>
  <%= @trait.pretty_date %>
</p>

<p>
  <b>Date Level of Confidence:</b>
  <%= $dateloc_drop.invert[@trait.dateloc.to_s] %>
</p>

<p>
  <b>Time:</b>
  <%= @trait.pretty_time %>
</p>

<p>
  <b>Time Level of Confidence:</b>
  <%= @trait.timeloc %>
</p>

<p>
  <b>Mean:</b>
  <%= @trait.mean %>
</p>

<p>
  <b>N:</b>
  <%= @trait.n %>
</p>

<p>
  <b>Stat:</b>
  <%= @trait.stat %>
</p>

<p>
  <b>Statname:</b>
  <%= @trait.statname %>
</p>

<p>
  <b>Notes:</b>
  <%= @trait.notes %>
</p>

<%= link_to 'Edit', edit_trait_path(@trait) %> |
<% end %>
<%= link_to 'Back', traits_path %>
