<h1>New entity</h1>

<% form_for(@entity) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.select :parent_id, Entity.all.collect {|p| [ p.select_default, p.id] },{:include_blank => true} %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_field :notes %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', entities_path %>
