<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Entity</h1>
			</header>
      
			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
				<dt>Name</dt>
				<dd><%= @entity.name %></dd>
				<dt>Notes</dt>
				<dd><%= @entity.notes %></dd>
				<dt>Parent</dt>
				<dd><%= link_to_if @entity.parent, @entity.parent, @entity.parent %></dd>

			</dl>
			<div class="form-actions">
				<div class="button-group">
          <%= link_to( entities_path ) do %>
					  <button class="button"><i class="icon-arrow-left"></i> All Records</button>
					<% end %>
					<%= link_to( edit_entity_path(@entity) ) do %>
    			  <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
  				<% end %>
					
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>



