<table width="100%">
  <tr>
    <td width="50%"><h3>Existing Priors Relationships</h3></td>
    <td width="50%"><h3>Add Prior Relationship(s)</h3></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th>Variable</th>
          <th>Distribution</th>
          <th>Param a</th>
          <th>Param b</th>
          <th>Phylogeny</th>
          <th>Citation</th>
        </tr>
        <% @pft.priors.each do |prior| %>
        <tr>
          <td><%= link_to "X", { :controller => :pfts, :action => :rem_pfts_priors, :id => @pft.id, :prior => prior }, :confirm => 'Are you sure?', :remote => true %></td>
          <td><%= link_to "edit", edit_prior_path(prior.id) %></td>
          <td><%= link_to_if prior.variable, prior.variable, prior.variable %></td>
          <td><%= prior.distn %></td>
          <td><%= sprintf("%#1.2f", prior.parama) %></td>
          <td><%= sprintf("%#1.2f", prior.paramb) %></td>
          <td><%= prior.phylogeny %></td>
          <td><%= link_to_if prior.citation, prior.citation, prior.citation %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <%= form_tag url_for(:controller => :pfts, :action => :edit_pfts_priors), :remote => true do %>
      <%= collection_select( :prior, :id, Prior.all.reject { |r| @pft.priors.include?(r) }, :id, :select_default, {}, { :multiple => true } )%>
      <%= hidden_field_tag 'id', @pft.id %>
      <br /><br />
      <%= submit_tag "Select" %>
      <% end %>
    </td>
  </tr>
</table>
