<table>
  <tr>
    <th></th>
    <th></th>
    <th>Scientific Name</th>
  </tr>
  <% @species.each do |species| %>
  <tr>
    <td>
    <% if @pft.specie.include?(species) %>
      <%= link_to "X", { :controller => :pfts, :action => :edit2_pfts_species, :id => @pft.id, :species => species }, :confirm => 'Are you sure?', :remote => true,
                        :with => "'search='+Form.Element.getValue('search')",
                        :html => { :style => "text-decoration: none" } %>


    <% else %>
      <%= link_to "+", { :controller => :pfts, :action => :edit2_pfts_species, :id => @pft.id, :species => species }, :confirm => 'Are you sure?', :remote => true,
                        :with => "'search='+Form.Element.getValue('search')",
                        :html => { :style => "text-decoration: none" } %>


    <% end %>
    </td>
    <td><%= link_to "edit", edit_species_path(species) %></td>
    <td><%= link_to species, species %></td>
    </tr>
  <% end %>
</table>

<%= will_paginate @species, :renderer => 'WillPaginate::ActionView::RemoteLinkRenderer' , :params => {:action => :edit2_pfts_species, :id => @pft.id}, :remote => { :loading => "Element.show('spinner')",
                        :complete => "Element.hide('spinner')",
                        :with => "'search='+Form.Element.getValue('search')"  } %>

