
<h2>Related Priors</h2>

<table>
  <tr>
    <th>Citation</th>
    <th>Variable</th>
    <th>Phylogeny</th>
    <th>Distribution</th>
    <th>Parameter a</th>
    <th>Parameter b</th>
    <th>N</th>
    <th>Notes</th>
  </tr>

<% @pft.priors.each do |prior| %>
  <tr>
    <td><%= link_to_if prior.citation, prior.citation, prior.citation %></td>
    <td><%= link_to_if prior.variable, prior.variable, prior.variable %></td>
    <td><%=h prior.phylogeny %></td>
    <td><%=h prior.distn %></td>
    <td><%=h prior.parama %></td>
    <td><%=h prior.paramb %></td>
    <td><%=h prior.n %></td>
    <td><%=h prior.notes %></td>
    <td><%= link_to 'Show', prior %></td>
  </tr>
<% end %>
</table>

