<!-- InstanceBeginEditable name="Full Width Content" -->
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
<%= render 'shared/search_form' %>
<table class="pretty">
  <thead>
          <tr role="row">
              <th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px;" aria-sort="ascending"><%= sortable "workflows.outdir", "Outdir" %></th>
    <th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px;" aria-sort="ascending"><%= sortable "workflows.started_at", "Started at" %></th>
    <th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px;" aria-sort="ascending"><%= sortable "workflows.finished_at", "Finished at" %></th>
    <th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px;" aria-sort="ascending"><%= sortable "workflows.created_at", "Created at" %></th>
    <th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px;" aria-sort="ascending"><%= sortable "workflows.updated_at", "Updated at" %></th>
    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px">Results</th>


    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 162px">Actions</th>
      </tr>
    </thead>
      <tbody role="alert" aria-live="polite" aria-relevant="all">
<% @workflows.each do |workflow| %>
  <tr <%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and workflow.id == @search.to_i%> >
    <td class="center"><%=h workflow.outdir %></td>
    <td class="center"><%=h workflow.started_at %></td>
    <td class="center"><%=h workflow.finished_at %></td>
    <td class="center"><%=h workflow.created_at %></td>
    <td class="center"><%=h workflow.updated_at %></td>

    <td class="center"><%= link_to 'Results', "/pecan/finished.php?workflowid=" + workflow.id.to_s %></td>
    <td>
    <%= link_to workflow, :class => "button button-small", :alt => "show" do %>
                        <i class="icon-zoom-in"></i>
                      <% end %>
    
    <%# Workflows should not be edited through the rails application%>

    <%# Workflows can be destroyed through the rails application%>
    <%= link_to workflow, :confirm => 'Are you sure?', :method => :delete, :class=>'button button-small button-danger' do %>
        <i class="icon-trash"></i>
    <% end %>
    </td>
  </tr>
<% end %>
</tbody>
</table>

  
    <div class="row final_paginate_row">
      <div class="span6">
        <div class="dataTables_info" id="DataTables_Table_0_info">
          <%= page_entries_info @workflows %>
        </div>
      </div>
      <div class="span6">
        <div class="dataTables_paginate paging_bootstrap pagination alternate">
        <%= will_paginate @workflows %>
      </div>
    </div>
  </div>
</div>


