<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>Viewing Workflow</h1>
      </header>

      <a style="text-decoration: none" href="#" onclick="showHide('show_ensembles')" id="show_show_ensembles">[+] View Related Ensembles</a>
      <br/>
      <div id="show_ensembles" class="hidden notvisible">
        <%= render 'show_ensembles' %>
      </div>

      <br>
      <hr>

      <dl class="dl-horizontal">
        <dt>Model</dt>
        <dd><%= link_to @workflow.model, @workflow.model %></dd>
        <dt>Site</dt>
        <dd><%= link_to @workflow.site, @workflow.site %></dd>
        <dt>Folder:</dt>
        <dd><%= @workflow.folder %></dd>
        <dt>Started at:</dt>
        <dd><%= @workflow.started_at %></dd>
        <dt>Finshed at:</dt>
        <dd><%= @workflow.finished_at %></dd>
        <dt>Created at:</dt>
        <dd><%= @workflow.created_at %></dd>
        <dt>Updated at:</dt>
        <dd><%= @workflow.updated_at %></dd>
        <dt>Parameters:</dt>
        <dd><%= @workflow.params %></dd>
        <dt>Notes:</dt>
        <dd><%= @workflow.notes %></dd>
        <dt>Record Creator</dt>
        <dd><%= user_for_view(@workflow.user) %></dd>
      </dl>

      <div class="form-actions">
        <div class="button-group">
          <%= link_to( workflows_path ) do %>
            <button class="button"><i class="icon-arrow-left"></i> All Records</button>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
