<p>
  <b>Site ID:</b>
  <%=h @workflow.site_id %>
</p>

<p>
  <b>Model ID:</b>
  <%=h @workflow.model_id %>
</p>

<p>
  <b>Folder:</b>
  <%=h @workflow.folder %>
</p>

<p>
  <b>Started at:</b>
  <%=h @workflow.started_at %>
</p>

<p>
  <b>Finished at:</b>
  <%=h @workflow.finished_at %>
</p>

<p>
  <b>Created at:</b>
  <%=h @workflow.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @workflow.updated_at %>
</p>

<p>
  <b>Advanced Edit:</b>
  <%=h @workflow.advanced_edit %>
</p>

<p>
  <b>Params:</b>
  <%=h @workflow.params %>
</p>

<%= link_to 'Results', "/pecan/finished.php?workflowid=" + @workflow.id.to_s %> |
<%= link_to 'Edit', edit_workflow_path(@workflow) %> |
<%= link_to 'Back', workflows_path %>
