
<table class="pretty">
  <tr>
    <th><%= sortable "species.AcceptedSymbol", "USDA Symbol" -%></th>
    <th><%= sortable "species.scientificname", "Latin Name" -%></th>
    <th><%= sortable "species.commonname", "Common Name" -%></th>
  </tr>

<% @species.each do |species| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and species.id == @search.to_i%>>
    <td><%= link_to_unless species.AcceptedSymbol.blank?, species.AcceptedSymbol, "http://plants.usda.gov/java/profile?symbol=#{species.AcceptedSymbol}" %></td>
    <td><em><%= species %></em></td>
    <td><%= species.commonname %></td>
    <td><%= link_to 'Show', species %></td>
    <td><%= link_to 'Edit', edit_species_path(species) %></td>
    <td><%= link_to 'Destroy', species, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @species %>
