
<div id="results"></div>

<table>
  <tr>
    <th>USDA Symbol</th>
    <th>Latin Name</th>
    <th>Common Name</th>
  </tr>

<% @species.each do |specie| %>
  <tr>
    <td><%= link_to_unless specie.AcceptedSymbol.blank?, specie.AcceptedSymbol, "http://plants.usda.gov/java/profile?symbol=#{specie.AcceptedSymbol}" %></td>
    <td><em><%=h specie %></em></td>
    <td><%=h specie.commonname %></td>
    <td><%= link_to 'Show', specie %></td>
    <td><%= link_to 'Edit', edit_species_path(specie) %></td>
    <td><%= link_to 'Destroy', specie, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

