<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <a style="text-decoration: none" href="#" onclick="showHide('edit_pfts_species')" id="show_edit_pfts_species">[+] View Related Pfts</a>
      <br/>
      <br/>
      <div id="edit_pfts_species" class="hidden notvisible">
        <%= render 'edit_pfts_species' %>
      </div>

      <hr />
      <br />
      <br />

      <header>
        <h1>Editing Species</h1>
      </header>

      <%= form_for(@species) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :spcd %>
            <%= f.text_field :spcd, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :genus %>
            <%= f.text_field :genus, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :species %>
            <%= f.text_field :species, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :scientificname %>
            <%= f.text_field :scientificname, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :commonname %>
            <%= f.text_field :commonname, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :AcceptedSymbol %>
            <%= f.text_field :AcceptedSymbol, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :SynonymSymbol %>
            <%= f.text_field :SynonymSymbol, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :Symbol %>
            <%= f.text_field :Symbol, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="six columns alpha">
            <%= f.label :PLANTS_Floristic_Area %>
            <%= f.text_area :PLANTS_Floristic_Area, :rows => 10, :class => "input-full" %>
          </div>
          <div class="six columns">
            <%= f.label :State %>
            <%= f.text_area :State, :rows => 10, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :Category %>
            <%= f.text_field :Category, :class => "input-full" %>
            <br />
            <%= f.label :Family %>
            <%= f.text_field :Family, :class => "input-full" %>
          </div>
        </div>


        <div class="row">
          <div class="four columns alpha">
            <%= f.label :FamilySymbol %>
            <%= f.text_field :FamilySymbol, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :FamilyCommonName %>
            <%= f.text_field :FamilyCommonName, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :xOrder %>
            <%= f.text_field :xOrder, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :SubClass %>
            <%= f.text_field :SubClass, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :Class %>
            <%= f.text_field :Class, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :SubDivision %>
            <%= f.text_field :SubDivision, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Division %>
            <%= f.text_field :Division, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :SuperDivision %>
            <%= f.text_field :SuperDivision, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :SubKingdom %>
            <%= f.text_field :SubKingdom, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Kingdom %>
            <%= f.text_field :Kingdom, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :ITIS_TSN %>
            <%= f.text_field :ITIS_TSN, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :Duration %>
            <%= f.text_field :Duration, :class => "input-full" %>
          </div>
        </div>


        <div class="row">
          <div class="four columns alpha">
            <%= f.label :GrowthHabit %>
            <%= f.text_field :GrowthHabit, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :NativeStatus %>
            <%= f.text_field :NativeStatus, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :NationalWetlandIndicatorStatus %>
            <%= f.text_field :NationalWetlandIndicatorStatus, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :RegionalWetlandIndicatorStatus %>
            <%= f.text_field :RegionalWetlandIndicatorStatus, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :ActiveGrowthPeriod %>
            <%= f.text_field :ActiveGrowthPeriod, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :AfterHarvestRegrowthRate %>
            <%= f.text_field :AfterHarvestRegrowthRate, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Bloat %>
            <%= f.text_field :Bloat, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :C2N_Ratio %>
            <%= f.text_field :C2N_Ratio, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns alpha">
            <%= f.label :CoppicePotential %>
            <%= f.text_field :CoppicePotential, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :FallConspicuous %>
            <%= f.text_field :FallConspicuous, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :FireResistance %>
            <%= f.text_field :FireResistance, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :FoliageTexture %>
            <%= f.text_field :FoliageTexture, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :GrowthForm %>
            <%= f.text_field :GrowthForm, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :GrowthRate %>
            <%= f.text_field :GrowthRate, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :MaxHeight20Yrs %>
            <%= f.text_field :MaxHeight20Yrs, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :MatureHeight %>
            <%= f.text_field :MatureHeight, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns alpha">
            <%= f.label :KnownAllelopath %>
            <%= f.text_field :KnownAllelopath, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :LeafRetention %>
            <%= f.text_field :LeafRetention, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Lifespan %>
            <%= f.text_field :Lifespan, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :LowGrowingGrass %>
            <%= f.text_field :LowGrowingGrass, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns alpha">
            <%= f.label :NitrogenFixation %>
            <%= f.text_field :NitrogenFixation, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :ResproutAbility %>
            <%= f.text_field :ResproutAbility, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :AdaptedCoarseSoils %>
            <%= f.text_field :AdaptedCoarseSoils, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :AdaptedMediumSoils %>
            <%= f.text_field :AdaptedMediumSoils, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns alpha">
            <%= f.label :AdaptedFineSoils %>
            <%= f.text_field :AdaptedFineSoils, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :AnaerobicTolerance %>
            <%= f.text_field :AnaerobicTolerance, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :CaCO3Tolerance %>
            <%= f.text_field :CaCO3Tolerance, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :ColdStratification %>
            <%= f.text_field :ColdStratification, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns alpha">
            <%= f.label :DroughtTolerance %>
            <%= f.text_field :DroughtTolerance, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :FertilityRequirement %>
            <%= f.text_field :FertilityRequirement, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :FireTolerance %>
            <%= f.text_field :FireTolerance, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :MinFrostFreeDays %>
            <%= f.text_field :MinFrostFreeDays, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns alpha">
            <%= f.label :HedgeTolerance %>
            <%= f.text_field :HedgeTolerance, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :MoistureUse %>
            <%= f.text_field :MoistureUse, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :pH_Minimum %>
            <%= f.text_field :pH_Minimum, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :pH_Maximum %>
            <%= f.text_field :pH_Maximum, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :Min_PlantingDensity %>
            <%= f.text_field :Min_PlantingDensity, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Max_PlantingDensity %>
            <%= f.text_field :Max_PlantingDensity, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Precipitation_Minimum %>
            <%= f.text_field :Precipitation_Minimum, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :Precipitation_Maximum %>
            <%= f.text_field :Precipitation_Maximum, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :RootDepthMinimum %>
            <%= f.text_field :RootDepthMinimum, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :SalinityTolerance %>
            <%= f.text_field :SalinityTolerance, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :ShadeTolerance %>
            <%= f.text_field :ShadeTolerance, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :TemperatureMinimum %>
            <%= f.text_field :TemperatureMinimum, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :BloomPeriod %>
            <%= f.text_field :BloomPeriod, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :CommercialAvailability %>
            <%= f.text_field :CommercialAvailability, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :FruitSeedPeriodBegin %>
            <%= f.text_field :FruitSeedPeriodBegin, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :FruitSeedPeriodEnd %>
            <%= f.text_field :FruitSeedPeriodEnd, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :Propogated_by_BareRoot %>
            <%= f.text_field :Propogated_by_BareRoot, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Propogated_by_Bulbs %>
            <%= f.text_field :Propogated_by_Bulbs, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Propogated_by_Container %>
            <%= f.text_field :Propogated_by_Container, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :Propogated_by_Corms %>
            <%= f.text_field :Propogated_by_Corms, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :Propogated_by_Cuttings %>
            <%= f.text_field :Propogated_by_Cuttings, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Propogated_by_Seed %>
            <%= f.text_field :Propogated_by_Seed, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Propogated_by_Sod %>
            <%= f.text_field :Propogated_by_Sod, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :Propogated_by_Sprigs %>
            <%= f.text_field :Propogated_by_Sprigs, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :Propogated_by_Tubers %>
            <%= f.text_field :Propogated_by_Tubers, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :Seeds_per_Pound %>
            <%= f.text_field :Seeds_per_Pound, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :SeedSpreadRate %>
            <%= f.text_field :SeedSpreadRate, :class => "input-full" %>
          </div>
          <div class="four columns omega">
            <%= f.label :SeedlingVigor %>
            <%= f.text_field :SeedlingVigor, :class => "input-full" %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( species_index_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end %>
            <%= link_to( @species ) do %>
              <button class="button" type="button">Show</button>
            <% end %>
          </div>
          <div class="button-group pull-right">
            <%= f.submit 'Update', :class => "button button-primary" %>
          </div>
        </div>
          
      <% end %>
      
    </div>
  </div>
</div>
