
<div class="content">
    <div class= "container">
      <div class = "sixteen columns">
        <header>
          <h1>Viewing Species</h1>
        </header>


<dl class = "dl-horizontal">
    <dt>Genus:</dt>
    <dd><%= @specie.genus %></dd>
    <dt>Species:</dt>
    <dd><%= @specie.species %></dd>
    <dt>Scientific Name:</dt>
    <dd><%= @specie.scientificname %></dd>
    <dt>Common Name:</dt>
    <dd><%= @specie.commonname %></dd>
    <dt>USDA Species Symbol:</dt>
    <dd><%= @specie.AcceptedSymbol %></dd>

  </dl>


<div class="form-actions">
        <div class="button-group">
          <%= link_to( species_index_path ) do %>
            <button class="button"><i class="icon-arrow-left"></i> All Records</button>
          <% end %>
          <%= link_to( edit_species_path(@specie) ) do %>
            <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>
          <% end %>

        </div>
      </div>
        </div>
    </div>
</div>
