<p>
  <b>Plant:</b>
  <%=h @specie.AcceptedSymbol %>
</p>

<p>
  <b>Spcd:</b>
  <%=h @specie.spcd %>
</p>

<p>
  <b>Genus:</b>
  <%=h @specie.genus %>
</p>

<p>
  <b>Species:</b>
  <%=h @specie.species %>
</p>

<p>
  <b>Scientificname:</b>
  <%=h @specie.scientificname %>
</p>

<p>
  <b>Commonname:</b>
  <%=h @specie.commonname %>
</p>

<p>
  <b>Acceptedsymbol:</b>
  <%=h @specie.AcceptedSymbol %>
</p>

<p>
  <b>Synonymsymbol:</b>
  <%=h @specie.SynonymSymbol %>
</p>

<p>
  <b>Symbol:</b>
  <%=h @specie.Symbol %>
</p>

<p>
  <b>Plants floristic area:</b>
  <%=h @specie.PLANTS_Floristic_Area %>
</p>

<p>
  <b>State:</b>
  <%=h @specie.State %>
</p>

<p>
  <b>Category:</b>
  <%=h @specie.Category %>
</p>

<p>
  <b>Family:</b>
  <%=h @specie.Family %>
</p>

<p>
  <b>Familysymbol:</b>
  <%=h @specie.FamilySymbol %>
</p>

<p>
  <b>Familycommonname:</b>
  <%=h @specie.FamilyCommonName %>
</p>

<p>
  <b>Xorder:</b>
  <%=h @specie.xOrder %>
</p>

<p>
  <b>Subclass:</b>
  <%=h @specie.SubClass %>
</p>

<p>
  <b>Class:</b>
  <%=h @specie.Class %>
</p>

<p>
  <b>Subdivision:</b>
  <%=h @specie.SubDivision %>
</p>

<p>
  <b>Division:</b>
  <%=h @specie.Division %>
</p>

<p>
  <b>Superdivision:</b>
  <%=h @specie.SuperDivision %>
</p>

<p>
  <b>Subkingdom:</b>
  <%=h @specie.SubKingdom %>
</p>

<p>
  <b>Kingdom:</b>
  <%=h @specie.Kingdom %>
</p>

<p>
  <b>Itis tsn:</b>
  <%=h @specie.ITIS_TSN %>
</p>

<p>
  <b>Duration:</b>
  <%=h @specie.Duration %>
</p>

<p>
  <b>Growthhabit:</b>
  <%=h @specie.GrowthHabit %>
</p>

<p>
  <b>Nativestatus:</b>
  <%=h @specie.NativeStatus %>
</p>

<p>
  <b>Federalnoxiousstatus:</b>
  <%=h @specie.FederalNoxiousStatus %>
</p>

<p>
  <b>Federalnoxiouscommonname:</b>
  <%=h @specie.FederalNoxiousCommonName %>
</p>

<p>
  <b>Statenoxiousstatus:</b>
  <%=h @specie.StateNoxiousStatus %>
</p>

<p>
  <b>Statenoxiouscommonname:</b>
  <%=h @specie.StateNoxiousCommonName %>
</p>

<p>
  <b>Invasive:</b>
  <%=h @specie.Invasive %>
</p>

<p>
  <b>Federal te status:</b>
  <%=h @specie.Federal_TE_Status %>
</p>

<p>
  <b>State te status:</b>
  <%=h @specie.State_TE_Status %>
</p>

<p>
  <b>State te common name:</b>
  <%=h @specie.State_TE_Common_Name %>
</p>

<p>
  <b>Nationalwetlandindicatorstatus:</b>
  <%=h @specie.NationalWetlandIndicatorStatus %>
</p>

<p>
  <b>Regionalwetlandindicatorstatus:</b>
  <%=h @specie.RegionalWetlandIndicatorStatus %>
</p>

<p>
  <b>Activegrowthperiod:</b>
  <%=h @specie.ActiveGrowthPeriod %>
</p>

<p>
  <b>Afterharvestregrowthrate:</b>
  <%=h @specie.AfterHarvestRegrowthRate %>
</p>

<p>
  <b>Bloat:</b>
  <%=h @specie.Bloat %>
</p>

<p>
  <b>C2n ratio:</b>
  <%=h @specie.C2N_Ratio %>
</p>

<p>
  <b>Coppicepotential:</b>
  <%=h @specie.CoppicePotential %>
</p>

<p>
  <b>Fallconspicuous:</b>
  <%=h @specie.FallConspicuous %>
</p>

<p>
  <b>Fireresistance:</b>
  <%=h @specie.FireResistance %>
</p>

<p>
  <b>Flowercolor:</b>
  <%=h @specie.FlowerColor %>
</p>

<p>
  <b>Flowerconspicuous:</b>
  <%=h @specie.FlowerConspicuous %>
</p>

<p>
  <b>Foliagecolor:</b>
  <%=h @specie.FoliageColor %>
</p>

<p>
  <b>Foliageporositysummer:</b>
  <%=h @specie.FoliagePorositySummer %>
</p>

<p>
  <b>Foliageporositywinter:</b>
  <%=h @specie.FoliagePorosityWinter %>
</p>

<p>
  <b>Foliagetexture:</b>
  <%=h @specie.FoliageTexture %>
</p>

<p>
  <b>Fruitcolor:</b>
  <%=h @specie.FruitColor %>
</p>

<p>
  <b>Fruitconspicuous:</b>
  <%=h @specie.FruitConspicuous %>
</p>

<p>
  <b>Growthform:</b>
  <%=h @specie.GrowthForm %>
</p>

<p>
  <b>Growthrate:</b>
  <%=h @specie.GrowthRate %>
</p>

<p>
  <b>Maxheight20yrs:</b>
  <%=h @specie.MaxHeight20Yrs %>
</p>

<p>
  <b>Matureheight:</b>
  <%=h @specie.MatureHeight %>
</p>

<p>
  <b>Knownallelopath:</b>
  <%=h @specie.KnownAllelopath %>
</p>

<p>
  <b>Leafretention:</b>
  <%=h @specie.LeafRetention %>
</p>

<p>
  <b>Lifespan:</b>
  <%=h @specie.Lifespan %>
</p>

<p>
  <b>Lowgrowinggrass:</b>
  <%=h @specie.LowGrowingGrass %>
</p>

<p>
  <b>Nitrogenfixation:</b>
  <%=h @specie.NitrogenFixation %>
</p>

<p>
  <b>Resproutability:</b>
  <%=h @specie.ResproutAbility %>
</p>

<p>
  <b>Shape and orientation:</b>
  <%=h @specie.Shape_and_Orientation %>
</p>

<p>
  <b>Toxicity:</b>
  <%=h @specie.Toxicity %>
</p>

<p>
  <b>Adaptedcoarsesoils:</b>
  <%=h @specie.AdaptedCoarseSoils %>
</p>

<p>
  <b>Adaptedmediumsoils:</b>
  <%=h @specie.AdaptedMediumSoils %>
</p>

<p>
  <b>Adaptedfinesoils:</b>
  <%=h @specie.AdaptedFineSoils %>
</p>

<p>
  <b>Anaerobictolerance:</b>
  <%=h @specie.AnaerobicTolerance %>
</p>

<p>
  <b>Caco3tolerance:</b>
  <%=h @specie.CaCO3Tolerance %>
</p>

<p>
  <b>Coldstratification:</b>
  <%=h @specie.ColdStratification %>
</p>

<p>
  <b>Droughttolerance:</b>
  <%=h @specie.DroughtTolerance %>
</p>

<p>
  <b>Fertilityrequirement:</b>
  <%=h @specie.FertilityRequirement %>
</p>

<p>
  <b>Firetolerance:</b>
  <%=h @specie.FireTolerance %>
</p>

<p>
  <b>Minfrostfreedays:</b>
  <%=h @specie.MinFrostFreeDays %>
</p>

<p>
  <b>Hedgetolerance:</b>
  <%=h @specie.HedgeTolerance %>
</p>

<p>
  <b>Moistureuse:</b>
  <%=h @specie.MoistureUse %>
</p>

<p>
  <b>Ph minimum:</b>
  <%=h @specie.pH_Minimum %>
</p>

<p>
  <b>Ph maximum:</b>
  <%=h @specie.pH_Maximum %>
</p>

<p>
  <b>Min plantingdensity:</b>
  <%=h @specie.Min_PlantingDensity %>
</p>

<p>
  <b>Max plantingdensity:</b>
  <%=h @specie.Max_PlantingDensity %>
</p>

<p>
  <b>Precipitation minimum:</b>
  <%=h @specie.Precipitation_Minimum %>
</p>

<p>
  <b>Precipitation maximum:</b>
  <%=h @specie.Precipitation_Maximum %>
</p>

<p>
  <b>Rootdepthminimum:</b>
  <%=h @specie.RootDepthMinimum %>
</p>

<p>
  <b>Salinitytolerance:</b>
  <%=h @specie.SalinityTolerance %>
</p>

<p>
  <b>Shadetolerance:</b>
  <%=h @specie.ShadeTolerance %>
</p>

<p>
  <b>Temperatureminimum:</b>
  <%=h @specie.TemperatureMinimum %>
</p>

<p>
  <b>Bloomperiod:</b>
  <%=h @specie.BloomPeriod %>
</p>

<p>
  <b>Commercialavailability:</b>
  <%=h @specie.CommercialAvailability %>
</p>

<p>
  <b>Fruitseedabundance:</b>
  <%=h @specie.FruitSeedAbundance %>
</p>

<p>
  <b>Fruitseedperiodbegin:</b>
  <%=h @specie.FruitSeedPeriodBegin %>
</p>

<p>
  <b>Fruitseedperiodend:</b>
  <%=h @specie.FruitSeedPeriodEnd %>
</p>

<p>
  <b>Fruitseedpersistence:</b>
  <%=h @specie.FruitSeedPersistence %>
</p>

<p>
  <b>Propogated by bareroot:</b>
  <%=h @specie.Propogated_by_BareRoot %>
</p>

<p>
  <b>Propogated by bulbs:</b>
  <%=h @specie.Propogated_by_Bulbs %>
</p>

<p>
  <b>Propogated by container:</b>
  <%=h @specie.Propogated_by_Container %>
</p>

<p>
  <b>Propogated by corms:</b>
  <%=h @specie.Propogated_by_Corms %>
</p>

<p>
  <b>Propogated by cuttings:</b>
  <%=h @specie.Propogated_by_Cuttings %>
</p>

<p>
  <b>Propogated by seed:</b>
  <%=h @specie.Propogated_by_Seed %>
</p>

<p>
  <b>Propogated by sod:</b>
  <%=h @specie.Propogated_by_Sod %>
</p>

<p>
  <b>Propogated by sprigs:</b>
  <%=h @specie.Propogated_by_Sprigs %>
</p>

<p>
  <b>Propogated by tubers:</b>
  <%=h @specie.Propogated_by_Tubers %>
</p>

<p>
  <b>Seeds per pound:</b>
  <%=h @specie.Seeds_per_Pound %>
</p>

<p>
  <b>Seedspreadrate:</b>
  <%=h @specie.SeedSpreadRate %>
</p>

<p>
  <b>Seedlingvigor:</b>
  <%=h @specie.SeedlingVigor %>
</p>

<p>
  <b>Smallgrain:</b>
  <%=h @specie.SmallGrain %>
</p>

<p>
  <b>Vegetativespreadrate:</b>
  <%=h @specie.VegetativeSpreadRate %>
</p>

<p>
  <b>Berry nut seed product:</b>
  <%=h @specie.Berry_Nut_Seed_Product %>
</p>

<p>
  <b>Christmastreeproduct:</b>
  <%=h @specie.ChristmasTreeProduct %>
</p>

<p>
  <b>Fodderproduct:</b>
  <%=h @specie.FodderProduct %>
</p>

<p>
  <b>Fuelwoodproduct:</b>
  <%=h @specie.FuelwoodProduct %>
</p>

<p>
  <b>Lumberproduct:</b>
  <%=h @specie.LumberProduct %>
</p>

<p>
  <b>Navalstoreproduct:</b>
  <%=h @specie.NavalStoreProduct %>
</p>

<p>
  <b>Nurserystockproduct:</b>
  <%=h @specie.NurseryStockProduct %>
</p>

<p>
  <b>Palatablebrowseanimal:</b>
  <%=h @specie.PalatableBrowseAnimal %>
</p>

<p>
  <b>Palatablegrazeanimal:</b>
  <%=h @specie.PalatableGrazeAnimal %>
</p>

<p>
  <b>Palatablehuman:</b>
  <%=h @specie.PalatableHuman %>
</p>

<p>
  <b>Postproduct:</b>
  <%=h @specie.PostProduct %>
</p>

<p>
  <b>Proteinpotential:</b>
  <%=h @specie.ProteinPotential %>
</p>

<p>
  <b>Pulpwoodproduct:</b>
  <%=h @specie.PulpwoodProduct %>
</p>

<p>
  <b>Veneerproduct:</b>
  <%=h @specie.VeneerProduct %>
</p>

<%= link_to 'Edit', edit_species_path(@specie) %> |
<%= link_to 'Back', species_path %>
