<p>
  <b>Plant:</b>
  <%= @specie.AcceptedSymbol %>
</p>

<p>
  <b>Spcd:</b>
  <%= @specie.spcd %>
</p>

<p>
  <b>Genus:</b>
  <%= @specie.genus %>
</p>

<p>
  <b>Species:</b>
  <%= @specie.species %>
</p>

<p>
  <b>Scientificname:</b>
  <%= @specie.scientificname %>
</p>

<p>
  <b>Commonname:</b>
  <%= @specie.commonname %>
</p>

<p>
  <b>Acceptedsymbol:</b>
  <%= @specie.AcceptedSymbol %>
</p>

<p>
  <b>Synonymsymbol:</b>
  <%= @specie.SynonymSymbol %>
</p>

<p>
  <b>Symbol:</b>
  <%= @specie.Symbol %>
</p>

<p>
  <b>Plants floristic area:</b>
  <%= @specie.PLANTS_Floristic_Area %>
</p>

<p>
  <b>State:</b>
  <%= @specie.State %>
</p>

<p>
  <b>Category:</b>
  <%= @specie.Category %>
</p>

<p>
  <b>Family:</b>
  <%= @specie.Family %>
</p>

<p>
  <b>Familysymbol:</b>
  <%= @specie.FamilySymbol %>
</p>

<p>
  <b>Familycommonname:</b>
  <%= @specie.FamilyCommonName %>
</p>

<p>
  <b>Xorder:</b>
  <%= @specie.xOrder %>
</p>

<p>
  <b>Subclass:</b>
  <%= @specie.SubClass %>
</p>

<p>
  <b>Class:</b>
  <%= @specie.Class %>
</p>

<p>
  <b>Subdivision:</b>
  <%= @specie.SubDivision %>
</p>

<p>
  <b>Division:</b>
  <%= @specie.Division %>
</p>

<p>
  <b>Superdivision:</b>
  <%= @specie.SuperDivision %>
</p>

<p>
  <b>Subkingdom:</b>
  <%= @specie.SubKingdom %>
</p>

<p>
  <b>Kingdom:</b>
  <%= @specie.Kingdom %>
</p>

<p>
  <b>Itis tsn:</b>
  <%= @specie.ITIS_TSN %>
</p>

<p>
  <b>Duration:</b>
  <%= @specie.Duration %>
</p>

<p>
  <b>Growthhabit:</b>
  <%= @specie.GrowthHabit %>
</p>

<p>
  <b>Nativestatus:</b>
  <%= @specie.NativeStatus %>
</p>

<p>
  <b>Nationalwetlandindicatorstatus:</b>
  <%= @specie.NationalWetlandIndicatorStatus %>
</p>

<p>
  <b>Regionalwetlandindicatorstatus:</b>
  <%= @specie.RegionalWetlandIndicatorStatus %>
</p>

<p>
  <b>Activegrowthperiod:</b>
  <%= @specie.ActiveGrowthPeriod %>
</p>

<p>
  <b>Afterharvestregrowthrate:</b>
  <%= @specie.AfterHarvestRegrowthRate %>
</p>

<p>
  <b>Bloat:</b>
  <%= @specie.Bloat %>
</p>

<p>
  <b>C2n ratio:</b>
  <%= @specie.C2N_Ratio %>
</p>

<p>
  <b>Coppicepotential:</b>
  <%= @specie.CoppicePotential %>
</p>

<p>
  <b>Fallconspicuous:</b>
  <%= @specie.FallConspicuous %>
</p>

<p>
  <b>Fireresistance:</b>
  <%= @specie.FireResistance %>
</p>

<p>
  <b>Foliagetexture:</b>
  <%= @specie.FoliageTexture %>
</p>

<p>
  <b>Growthform:</b>
  <%= @specie.GrowthForm %>
</p>

<p>
  <b>Growthrate:</b>
  <%= @specie.GrowthRate %>
</p>

<p>
  <b>Maxheight20yrs:</b>
  <%= @specie.MaxHeight20Yrs %>
</p>

<p>
  <b>Matureheight:</b>
  <%= @specie.MatureHeight %>
</p>

<p>
  <b>Knownallelopath:</b>
  <%= @specie.KnownAllelopath %>
</p>

<p>
  <b>Leafretention:</b>
  <%= @specie.LeafRetention %>
</p>

<p>
  <b>Lifespan:</b>
  <%= @specie.Lifespan %>
</p>

<p>
  <b>Lowgrowinggrass:</b>
  <%= @specie.LowGrowingGrass %>
</p>

<p>
  <b>Nitrogenfixation:</b>
  <%= @specie.NitrogenFixation %>
</p>

<p>
  <b>Resproutability:</b>
  <%= @specie.ResproutAbility %>
</p>

<p>
  <b>Adaptedcoarsesoils:</b>
  <%= @specie.AdaptedCoarseSoils %>
</p>

<p>
  <b>Adaptedmediumsoils:</b>
  <%= @specie.AdaptedMediumSoils %>
</p>

<p>
  <b>Adaptedfinesoils:</b>
  <%= @specie.AdaptedFineSoils %>
</p>

<p>
  <b>Anaerobictolerance:</b>
  <%= @specie.AnaerobicTolerance %>
</p>

<p>
  <b>Caco3tolerance:</b>
  <%= @specie.CaCO3Tolerance %>
</p>

<p>
  <b>Coldstratification:</b>
  <%= @specie.ColdStratification %>
</p>

<p>
  <b>Droughttolerance:</b>
  <%= @specie.DroughtTolerance %>
</p>

<p>
  <b>Fertilityrequirement:</b>
  <%= @specie.FertilityRequirement %>
</p>

<p>
  <b>Firetolerance:</b>
  <%= @specie.FireTolerance %>
</p>

<p>
  <b>Minfrostfreedays:</b>
  <%= @specie.MinFrostFreeDays %>
</p>

<p>
  <b>Hedgetolerance:</b>
  <%= @specie.HedgeTolerance %>
</p>

<p>
  <b>Moistureuse:</b>
  <%= @specie.MoistureUse %>
</p>

<p>
  <b>Ph minimum:</b>
  <%= @specie.pH_Minimum %>
</p>

<p>
  <b>Ph maximum:</b>
  <%= @specie.pH_Maximum %>
</p>

<p>
  <b>Min plantingdensity:</b>
  <%= @specie.Min_PlantingDensity %>
</p>

<p>
  <b>Max plantingdensity:</b>
  <%= @specie.Max_PlantingDensity %>
</p>

<p>
  <b>Precipitation minimum:</b>
  <%= @specie.Precipitation_Minimum %>
</p>

<p>
  <b>Precipitation maximum:</b>
  <%= @specie.Precipitation_Maximum %>
</p>

<p>
  <b>Rootdepthminimum:</b>
  <%= @specie.RootDepthMinimum %>
</p>

<p>
  <b>Salinitytolerance:</b>
  <%= @specie.SalinityTolerance %>
</p>

<p>
  <b>Shadetolerance:</b>
  <%= @specie.ShadeTolerance %>
</p>

<p>
  <b>Temperatureminimum:</b>
  <%= @specie.TemperatureMinimum %>
</p>

<p>
  <b>Bloomperiod:</b>
  <%= @specie.BloomPeriod %>
</p>

<p>
  <b>Commercialavailability:</b>
  <%= @specie.CommercialAvailability %>
</p>

<p>
  <b>Fruitseedperiodbegin:</b>
  <%= @specie.FruitSeedPeriodBegin %>
</p>

<p>
  <b>Fruitseedperiodend:</b>
  <%= @specie.FruitSeedPeriodEnd %>
</p>

<p>
  <b>Propogated by bareroot:</b>
  <%= @specie.Propogated_by_BareRoot %>
</p>

<p>
  <b>Propogated by bulbs:</b>
  <%= @specie.Propogated_by_Bulbs %>
</p>

<p>
  <b>Propogated by container:</b>
  <%= @specie.Propogated_by_Container %>
</p>

<p>
  <b>Propogated by corms:</b>
  <%= @specie.Propogated_by_Corms %>
</p>

<p>
  <b>Propogated by cuttings:</b>
  <%= @specie.Propogated_by_Cuttings %>
</p>

<p>
  <b>Propogated by seed:</b>
  <%= @specie.Propogated_by_Seed %>
</p>

<p>
  <b>Propogated by sod:</b>
  <%= @specie.Propogated_by_Sod %>
</p>

<p>
  <b>Propogated by sprigs:</b>
  <%= @specie.Propogated_by_Sprigs %>
</p>

<p>
  <b>Propogated by tubers:</b>
  <%= @specie.Propogated_by_Tubers %>
</p>

<p>
  <b>Seeds per pound:</b>
  <%= @specie.Seeds_per_Pound %>
</p>

<p>
  <b>Seedspreadrate:</b>
  <%= @specie.SeedSpreadRate %>
</p>

<p>
  <b>Seedlingvigor:</b>
  <%= @specie.SeedlingVigor %>
</p>

<div class="form-actions">
        <div class="button-group">
          <%= link_to( species_index_path ) do %>
            <button class="button"><i class="icon-arrow-left"></i> All Records</button>
          <% end %>
          <%= link_to( edit_species_path(@specie) ) do %>
            <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>  
          <% end %>
          
        </div>
      </div>
