<% if @match.nil? %>
  '<%= @phrase %>' does not match!
<% else %>
   '<%= @phrase %>' matches <i><%= link_to @match.ScientificName, specie_path(@match) %></i>
   <%= hidden_field_tag :hidden_specie_scientificname, @match.ScientificName %>
   <%= hidden_field_tag :hidden_specie_commonname, @match.CommonName %>
   <%= hidden_field_tag :hidden_specie_genus, @match.Genus %>
   <%= hidden_field_tag :hidden_specie_species, @match.ScientificName.split(' ')[1] %>
   <br />
   <a href="#" onclick="updateFields()">Populate Fields?</a>
<script>
  //updateFields();
</script>
<% end %>
