<table>
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
  </tr>
    <% @variables.each do |variable| %>
    <tr>
      <td>
      <% if @input.variables.include?(variable) %>
        <%= link_to "X", { :controller => :inputs, :action => :edit_inputs_variables, :id => @input.id, :variable => variable, :search => @searchparam }, :confirm => 'Are you sure?', :remote => true,
                          :html => { :style => "text-decoration: none" } %>


      <% else %>
        <%= link_to "+", { :controller => :inputs, :action => :edit_inputs_variables, :id => @input.id, :variable => variable, :search => @searchparam }, :confirm => 'Are you sure?', :remote => true,
                          :html => { :style => "text-decoration: none" } %>

      <% end %>
      </td>
      <td><%= link_to "edit", edit_variable_path(variable) %></td>
      <td><%= link_to variable, variable_path(variable) %></td>
      </tr>
    <% end %>
</table>

<%= will_paginate @variables, :renderer => 'WillPaginate::ActionView::RemoteLinkRenderer' , :params => {:action => :edit_inputs_variables, :id => @input.id, :search => @searchparam}, :remote => { :loading => "Element.show('spinner')", :complete => "Element.hide('spinner')" } %>
