<table class="pretty">
  <tr>
    <th><%= sortable "sites.sitename", "Site" -%></th>
    <th>Variables</th>
    <th><%= sortable "inputs.name", "Name" -%></th>
    <th><%= sortable "inputs.start_date", "Start Date" -%></th>
    <th><%= sortable "inputs.end_date", "End Date" -%></th>
    <th><%= sortable "inputs.file_id", "File ID" -%></th>
    <th><%= sortable "inputs.notes", "Notes" -%></th>
    <th><%= sortable "inputs.created_at", "Created at" -%></th>
    <th><%= sortable "inputs.updated_at", "Updated at" -%></th>
    <th><%= sortable "formats.mime_type", "Format" -%></th>
  </tr>

  <% @inputs.each do |input| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and input.id == @search.to_i%>>
    <td><%= link_to_if input.site, input.site, input.site -%></td>
    <td><% input.variables.each do |iv| -%>
        <%= link_to iv,iv -%>,<br />
        <% end -%>
    </td>
    
    <%#### Test links and if file_path exists ... link it! %>
    <% filepath = @dbfiles[input.file_id].file_path %>
    <td>
      <% if input.file_id != nil && filepath != nil %>
        <%= link_to input.name, filepath %>
      <% else %>
        <%= input.file_id -%>
      <% end %>
    </td>
    
    
    <td><%= input.start_date -%></td>
    <td><%= input.end_date -%></td>
    <td><%= input.file_id -%></td>
    <td><%= input.notes -%></td>
    <td><%= input.created_at -%></td>
    <td><%= input.updated_at -%></td>
    <td><%= link_to_if input.format, input.format, input.format%></td>
    <td><%= link_to "Show", input -%></td>
    <td><%= link_to "Edit", edit_input_path(input) -%></td>
    <td><%= link_to 'Destroy', input, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
  <% end %>

</table>

<%= will_paginate @inputs %>

