<!-- InstanceBeginEditable name="Full Width Content" -->
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
  <%= render 'shared/search_form' %>
  <table class="table table-striped table-bordered table-hover datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
      <thead>
        <tr role="row">
    <th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px;" aria-sort="ascending"><%= sortable "sites.sitename", "Site" %></th>

    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px">Variables</th>
    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "inputs.name", "Name" %></th>

    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "inputs.start_date", "Start Date" %></th>

    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "inputs.end_date", "End Date" %></th>

    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "inputs.file_id", "File ID" %></th>

    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "inputs.notes", "Notes" %></th>

    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "inputs.created_at", "Created at" %></th>

    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "inputs.updated_at", "Updated at" %></th>

    <th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "formats.mime_type", "Format" %></th>
    <th role="columnheader" aria-controls="DataTables_Table_0" style="width: 162px">Actions</th>


  </tr>
</thead>
    <tbody role="alert" aria-live="polite" aria-relevant="all">
  <% @inputs.each do |input| %>
  <tr <%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and input.id == @search.to_i%> >
    <td class="center"><%= link_to_if input.site, input.site, input.site -%></td>
    <td class="center"><% input.variables.each do |iv| -%>
        <%= link_to iv,iv -%>,<br />
        <% end -%>
    </td>
    
    <%#### Test links and if file_path exists ... link it! %>
    <% filepath = @dbfiles[input.file_id].file_path %>
    <td class="center">
      <% if input.file_id != nil && filepath != nil %>
        <%= link_to input.name, filepath %>
      <% else %>
        <%= input.file_id -%>
      <% end %>
    </td>
    
    
    <td class="center"><%= input.start_date -%></td>
    <td class="center"><%= input.end_date -%></td>
    <td class="center"><%= input.file_id -%></td>
    <td class="center"><%= input.notes -%></td>
    <td class="center"><%= input.created_at -%></td>
    <td class="center"><%= input.updated_at -%></td>
    <td class="center"><%= link_to_if input.format, input.format, input.format%></td>
    <td>
    <%= link_to input, :class => "button button-small", :alt => "show" do %>
              <i class="icon-zoom-in"></i>
            <% end %>
            <!-- EDIT -->
            <%= link_to edit_input_path(input), :class => "button button-small", :alt => "edit" do %>
              <i class="icon-edit"></i>
            <% end %>
            <%= link_to input, :method => :delete, :type => 'input', :confirm => 'Are you sure?', :class=> 'button button-small button-danger', :alt => "delete" do %>
              <i class="icon-trash"></i> 
            <% end %>
    </td>
  </tr>
  <% end %>
</tbody>
</table>

  <div class="row final_paginate_row">
    <div class="span6">
      <div class="dataTables_info" id="DataTables_Table_0_info">
        <%= page_entries_info @inputs %>
      </div>
    </div>
    <div class="span6">
      <div class="dataTables_paginate paging_bootstrap pagination alternate">
        <%= will_paginate @inputs %>
      </div>
    </div>
  </div>
</div>
