<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>Editing Input</h1>
      </header>

      <a style="text-decoration: none" href="#" onclick="showHide('edit_inputs_variables'); return false;" id="show_edit_inputs_variables">[+] View Related Variables</a>
      <div id="edit_inputs_variables" class="hidden notvisible">
        <%= render 'edit_inputs_variables' %>
      </div>

      <br>
      <br>

      <a style="text-decoration: none" href="#" onclick="showHide('edit_inputs_files'); return false;" id="show_edit_inputs_files">[+] View Related Files</a>
      <br/>
      <div id="edit_inputs_files" class="hidden notvisible">
        <%= render 'edit_inputs_files' %>
      </div>

      <hr />
      
      <%= form_for(@input) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :site %>
            <%= f.select :site_id, Site.all.collect { |p| [ p.select_default, p.id ] }, :class => "input-full" %>
          </div>
        </div>          
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :parent %>
            <%= f.select :parent_id, Input.all.collect { |p| [ p.select_default, p.id ] }, :class => "input-full" %>
          </div>
        </div>          
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "input-full" %>
          </div>
          <div class="eight columns omega">
            <%= f.label :format_id %>
            <%= f.select :format_id, Format.all.collect { |p| [ p.select_default, p.id ] }, :class => "input-full" %>
          </div>
        </div>          
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :start_date %>
            <%= f.datetime_select :start_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"}, {} %>
          </div>
          <div class="eight columns alpha">
            <%= f.label :end_date %>
            <%= f.datetime_select :end_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"}, {} %>
          </div>
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 10, :class => "input-full" %>
          </div>
        </div>
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :record_creator %>
            <%= user_for_view(@input.user) %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( @input ) do %>
              <button class="button" type="button">Show</button>
            <% end%>
            <%= link_to( inputs_path ) do %>
              <button class="button" type="button">Back</button>
            <% end%>
          </div>
          <div class="button-group pull-right">
            <%= f.submit 'Update', :class => "button button-primary" %>
          </div>
        </div>

      <% end %>
  
    </div>
  </div>
</div>
