
<a style="text-decoration: none" href="#" onclick="showHide('edit_inputs_runs')" id="show_edit_inputs_runs">[+] View Related Runs</a>
<br/>
<br/>
<div id="edit_inputs_runs" class="hidden notvisible">
  <%= render 'edit_inputs_runs' %>
</div>
<hr />
<br />
<br />
<a style="text-decoration: none" href="#" onclick="showHide('edit_inputs_variables')" id="show_edit_inputs_variables">[+] View Related Variables</a>
<br/>
<br/>
<div id="edit_inputs_variables" class="hidden notvisible">
  <%= render 'edit_inputs_variables' %>
</div>
<hr />
<br />
<br />

<h1>Editing input</h1>

<% form_for @input, :html => {:multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :site %><br />
    <%= f.select :site_id, Site.all.collect { |p| [ p.select_default, p.id ] }, {} %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.select :parent_id, Input.all.collect { |p| [ p.select_default, p.id ] }, {:include_blank => true} %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
  </p>
  <p>
    <%= f.label :format_id %><br />
    <%= f.select :format_id, Format.all.collect { |p| [p.select_default, p.id ] }, :include_blank => true %>
  </p>
  <h2>Testing new file functionality</h2>
  <em>Will add ability to upload new files here in the future</em>
  <%= link_to 'New File', new_dbfile_path %>
  <p>
    <%= f.label :dbfile_id %><br />
    <%= select_tag :dbfile_id, options_for_select(['']+DBFile.all(:conditions => { :container_id => nil }).collect { |p| [ p.select_default, p.id ] }) %>
  </p>
  <% unless f.object.files.empty? %>
  <p>Files associated with input</p>
    <% f.object.files.each do |file| %>
  <p>
    <%= link_to_if file,file,dbfile_path(file) %> <%= link_to "[X]",unlink_dbfile_path(file.id) %><br />
  </p>
    <% end %>
  <% end %>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @input %> |
<%= link_to 'Back', inputs_path %>
