
<a style="text-decoration: none" href="#" onclick="showHide('edit_inputs_runs')" id="show_edit_inputs_runs">[+] View Related Runs</a>
<br/>
<br/>
<div id="edit_inputs_runs" class="hidden notvisible">
  <%= render 'edit_inputs_runs' %>
</div>
<hr />
<br />
<br />
<a style="text-decoration: none" href="#" onclick="showHide('edit_inputs_variables')" id="show_edit_inputs_variables">[+] View Related Variables</a>
<br/>
<br/>
<div id="edit_inputs_variables" class="hidden notvisible">
  <%= render 'edit_inputs_variables' %>
</div>
<hr />
<br />
<br />

<h1>Editing input</h1>

<% form_for(@input) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :site %><br />
    <%= f.select :site_id, Site.all.collect { |p| [ p.select_default, p.id ] }, {} %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date, { :start_year => 1900, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date, { :start_year => 1900, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @input %> |
<%= link_to 'Back', inputs_path %>
