<h1>New input</h1>

<% form_for @input, :html => { :multipart => true } do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :site %><br />
    <%= f.select :site_id, Site.all.collect { |p| [ p.select_default, p.id ] }, {} %>
  </p>
  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :parent %><br />
    <%= f.select :parent_id, Input.all.collect { |p| [ p.select_default, p.id ] }, { :include_blank => true } %>
  </p>
   <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
  </p>
  <p>
    <%= f.label :raw, "Raw?" %><br />
    <%= f.select :raw, [["True",true],['False',false]], :selected => false %>
  </p>
  <p>
    <%= f.label :format_id, 'Format <em>*Required</em' %><br />
    <%= f.select :format_id, Format.all.collect { |p| [p.select_default, p.id ] } %>
  </p>
  <p>
    <%= f.label :access_level %><br />
    <%= f.select :access_level, [["1.Restricted",1],['2.EBI Researchers',2],['3.External Researchers',3],['4.Public',4]], :selected => current_user.access_level %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>

  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', inputs_path %>
