<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>New Input</h1>
      </header>

      <%= form_for(@input) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :site %>
            <%= f.select :site_id, Site.all.collect { |p| [ p.select_default, p.id ] }, :class => "input-full" %>
          </div>
        </div>          
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :parent %>
            <%= f.select :parent_id, Input.all.collect { |p| [ p.select_default, p.id ] }, :class => "input-full" %>
          </div>
        </div>          
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "input-full" %>
          </div>
          <div class="eight columns omega">
            <%= f.label :format_id %>
            <%= f.select :format_id, Format.all.collect { |p| [ p.select_default, p.id ] }, :class => "input-full" %>
          </div>
        </div>          
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :start_date %>
            <%= f.datetime_select :start_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"}, {} %>
          </div>
          <div class="eight columns alpha">
            <%= f.label :end_date %>
            <%= f.datetime_select :end_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"}, {} %>
          </div>
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 10, :class => "input-full" %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( inputs_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
          </div>
          <div class="button-group pull-right">
            <%= f.submit 'Update', :class => "button button-primary" %>
          </div>
        </div>

      <% end %>
  
    </div>
  </div>
</div>
