<% content_for(:autocomplete_javascript) do %>
  <!-- bulk_upload.js needs to know the root -->
  <script type="text/javascript" charset="utf-8">var ROOT_URL = '<%= root_url %>';</script>
  <%= javascript_include_tag 'lazy/autocomplete.js' %>
<% end %>
<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>New Input</h1>
      </header>

      <%= form_for(@input) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="sixteen columns alpha">
          <%= f.label :site %>
          <%= text_field_tag :search_sites, "",
              placeholder: "Search sites by name, city, state, or country",
              class: "input-full" %>
          <%= f.hidden_field :site_id %>
          </div>
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :parent %>
            <%= f.select :parent_id, Input.order("id ASC").all.collect { |p| [ p.select_default, p.id ] }, {include_blank: 'None', :class => "input-full" } %>
          </div>
        </div>
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "input-full" %>
          </div>
          <div class="eight columns omega">
            <%= f.label :format_id %>
            <%= f.select :format_id, Format.order("id ASC").all.collect { |p| [ p.select_default, p.id ] }, :class => "input-full" %>
          </div>
        </div>
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :start_date %>
            <%= f.datetime_select :start_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"}, {} %>
          </div>
          <div class="eight columns omega">
            <%= f.label :end_date %>
            <%= f.datetime_select :end_date, { :start_year => 1800, :end_year => 2155, :include_blank => "0000", :default => "0000"}, {} %>
          </div>
        </div>
        <div class="row">
          <div class="sixteen columns alpha">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 10, :class => "input-full" %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( inputs_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
          </div>
          <div class="button-group pull-right">
            <%= f.submit 'Create', :class => "button button-primary" %>
          </div>
        </div>

        <%= f.hidden_field :access_level, value: 4 %>
        <%= f.hidden_field :raw, value: false %>

      <% end %>

    </div>
  </div>
</div>
