<p>
  <b>Site:</b>
  <%= link_to_if @input.site, @input.site, @input.site %>
</p>

<p>
  <b>Name:</b>
  <%= @input.name %>
</p>

<p>
  <b>Start Date:</b>
  <%= @input.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%= @input.end_date %>
</p>

<p>
  <b>File ID:</b>
  <%= @input.file_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @input.notes %>
</p>

<p>
  <b>Format:</b>
  <%= @input.format %>
</p>

<p>
  <b>Associated files:</b>
  <% @input.files.each do |file| %>
    <%= link_to_if file, file, dbfile_path(file) %><br />
  <% end %>
</p>


<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
