<p>
  <b>Site:</b>
  <%= link_to_if @input.site, @input.site, @input.site %>
</p>

<p>
  <b>Name:</b>
  <%=h @input.name %>
</p>

<p>
  <b>Filepath:</b>
  <%=h @input.filepath %>
</p>

<p>
  <b>Start Date:</b>
  <%=h @input.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%=h @input.end_date %>
</p>

<p>
  <b>Format:</b>
  <%= link_to_if @input.format, @input.format, @input.format %>
</p>

<p>
  <b>Raw:</b>
  <%= link_to_if @input.raw, @input.raw, @input.raw %>
</p>

<p>
  <b>Notes:</b>
  <%=h @input.notes %>
</p>


<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
