<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <header>
        <h1>Viewing Input</h1>
      </header>

      <!-- InstanceBeginEditable name="Full Width Content" --> 
      <dl class="dl-horizontal">
        <dt>Site</dt>
        <dd><%= link_to_if @input.site, @input.site, @input.site %></dd>
        <dt>Name</dt>
        <dd><%= @input.name %></dd>
        <dt>Start Date</dt>
        <dd><%= @input.start_date %></dd>
        <dt>End Date</dt>
        <dd><%= @input.end_date %></dd>
        <dt>Notes</dt>
        <dd><%= @input.notes %></dd>
        <dt>Format</dt>
        <dd><%= @input.format %></dd>
        <% if logged_in? %>
          <dt>User</dt>
          <dd><%=h link_to_if @input.user, @input.user, @input.user %></dd>
        <% end %>
      </dl>

      <hr />

      <a style="text-decoration: none" href="#" onclick="showHide('show_variables')" id="show_show_variables">[+] View Related Variables</a>
      <br/>
      <div id="show_variables" class="hidden notvisible">
        <%= render 'show_variables' %>
      </div>

      <br>
      <br>

      <a style="text-decoration: none" href="#" onclick="showHide('show_files')" id="show_show_files">[+] View Related Files</a>
      <br/>
      <div id="show_files" class="hidden notvisible">
        <%= render 'show_files' %>
      </div>

      <br>
      <br>

      <a style="text-decoration: none" href="#" onclick="showHide('show_runs')" id="show_show_runs">[+] View Related Runs</a>
      <br/>
      <div id="show_runs" class="hidden notvisible">
        <%= render 'show_runs' %>
      </div>

      <div class="form-actions">
        <div class="button-group">
          <%= link_to( inputs_path ) do %>
            <button class="button"><i class="icon-arrow-left"></i> Go Back</button>
          <% end %>
          <%= link_to( edit_input_path(@pft) ) do %>
            <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>  
          <% end %>
        </div>
      </div>
      <!-- InstanceEndEditable --> </div>
  </div>
  <!-- container --> 
</div>
