<p>
  <b>Site:</b>
  <%= link_to_if @input.site, @input.site, @input.site %>
</p>

<p>
  <b>Name:</b>
  <%=h @input.name %>
</p>

<p>
  <b>Start Date:</b>
  <%=h @input.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%=h @input.end_date %>
</p>

<p>
  <b>Notes:</b>
  <%=h @input.notes %>
</p>

<p>
  <b>Current file:</b>
  <%= link_to_if @input.current_file,@input.current_file,@input.current_file %>
</p>

<p>
  <b>Previous file(s):</b>
  <% (@input.files - [@input.current_file]).each do |file| %>
  <%= link_to_if file, file, file %><br />
  <% end %>
</p>


<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
