<p>
  <b>Site:</b>
  <%= link_to_if @input.site, @input.site, @input.site %>
</p>

<p>
  <b>Name:</b>
  <%= @input.name %>
</p>

<p>
  <b>Start Date:</b>
  <%= @input.start_date %>
</p>

<p>
  <b>End Date:</b>
  <%= @input.end_date %>
</p>

<p>
  <b>Notes:</b>
  <%= @input.notes %>
</p>

<p>
  <b>Format:</b>
  <%= link_to_if @input.format, @input.format, @input.format %>
</p>

<% if logged_in? %>
<p>
  <b>User:</b>
  <%=h link_to_if @input.user, @input.user, @input.user %>
</p>
<% end %>

<a style="text-decoration: none" href="#" onclick="showHide('show_files')" id="show_show_files">[+] View Associated Files</a>
<br/>
<br/>
<div id="show_files" class="hidden notvisible">
  <%= render 'show_files' %>
</div>
<hr />
<br />
<br />

<%= link_to 'Edit', edit_input_path(@input) %> |
<%= link_to 'Back', inputs_path %>
