
<!-- InstanceBeginEditable name="Full Width Content" -->
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
  <div class="row">
  
    <div class="span6">
      <div id="DataTables_Table_0_length" class="dataTables_length">
      
      <label>
      <select size="1" name="DataTables_Table_0_length" aria-controls="DataTables_Table_0">
        <option value="10" selected="selected">10</option>
        <option value="25">25</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select> records per page
      </label>
      
      </div> <!-- id="DataTables_Table_0_length" -->
    </div> <!-- class="span6" -->
    
    <div class="span6">
      <div class="dataTables_filter" id="DataTables_Table_0_filter">
        <%= form_tag users_path, :method => 'get', :id => 'simple_search', :class => "no-margin" do %>
  			  <label>Search: <%= text_field_tag :search, params[:search] %></label>
          <%= hidden_field_tag :direction, params[:direction] %>
          <%= hidden_field_tag :sort, params[:sort] %>
        <% end %>
      </div> <!-- id="DataTables_Table_0_filter" -->
    </div> <!-- class="span6" -->
	</div> <!-- class="row" -->          
  <table class="table table-striped table-bordered table-hover datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
		  <thead>
	      <tr role="row">
<th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px;" aria-sort="ascending" >Login</th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px">Name</th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 200px" aria-label="Role: activate to sort column ascending">Email</th>
<th role="columnheader" aria-controls="DataTables_Table_0" style="width: 162px">Actions</th>
      </tr>
    </thead>

	  <tbody role="alert" aria-live="polite" aria-relevant="all">
	    <% @users.each do |user| %>
        <tr>
          <td class="center"><%= user.login %></td>
          <td class="center"><%= user.name %></td>
          <td class="center"><%= user.email %></td>
          
					<td class="center ">
					  <!-- SHOW -->
					  <%= link_to user, :class => "button button-small", :alt => "show" do %>
					    <i class="icon-zoom-in"></i>
					  <% end %>
					  <!-- EDIT -->
					  <%= link_to edit_user_path(user), :class => "button button-small", :alt => "edit" do %>
					    <i class="icon-edit"></i>
					  <% end %>
				  </td>

        </tr>
      <% end %>

	  </tbody>
	</table>
  
	<div class="row">
	  <div class="span6">
	    <div class="dataTables_info" id="DataTables_Table_0_info">Showing 1 to 10 of 32 entries</div>
	  </div>
	  <div class="span6">
	    <div class="dataTables_paginate paging_bootstrap pagination alternate">
	      <ul>
	        <li class="prev disabled"><a href="#">← Previous</a></li>
	        <li class="active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li class="next"><a href="#">Next → </a></li>
        </ul>
      </div>
    </div>
  </div>
</div>












