<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
	      <h1>Editing User</h1>
			</header>

      <%= form_for(@user) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="six columns alpha">
            <%= label_tag 'login' %>
            <%= f.text_field :login, :class => "input-full" %>
          </div>
          <div class="five columns">
            <%= label_tag 'name' %>
            <%= f.text_field :name, :class => "input-full" %>
          </div>
          <div class="five columns omega">
            <%= label_tag 'email' %>
            <%= f.text_field :email, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= label_tag 'city' %>
            <%= f.text_field :city, :class => "input-full" %>
          </div>
          <div class="two columns">
            <%= label_tag 'State/Province' %>
            <%= f.text_field :state_prov, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= label_tag 'country' %>
            <%= f.text_field :country, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= label_tag 'Postal Code' %>
            <%= f.text_field :postal_code, :class => "input-full" %>
          </div>
          <div class="two columns omega">
            <%= label_tag 'area' %>
            <%= f.select :area, ["","Researcher","Student","Educator","Industry","Agriculture","Other"], :class => "input-full" %>
          </div>
        </div>


        <div class="row">
          <div class="four columns alpha">
            <%= label_tag 'password' %>
            <%= f.password_field :password, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= label_tag 'password_confirmation', 'Confirm Password' %>
            <%= f.password_field :password_confirmation, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label 'page_access_level', "Page Access Level*" %>
            <%= f.select :page_access_level, [ ["1. Administrator", 1], ["2. Manager", 2], ["3. Creator", 3], [ "4. Viewer", 4] ] %>
          </div>
          <div class="four columns omega">
            <%= f.label 'access_level', "Data Access Level*" %>
            <%= f.select :access_level, [ ["1. Restricted", 1], ["2. Internal EBI & Collaborators", 2], ["3. External Researcher", 3], ["4. Public", 4] ] %>
          </div>
        </div>



        <div class="form-actions">
          <div class="button-group">
            <%= link_to( @user ) do %>
              <button class="button">Show</button>
            <% end%>
            <%= link_to( users_path ) do %>
              <button class="button">Back</button>
            <% end%>
          </div>
					<div class="button-group pull-right">
						<%= f.submit 'Update', :class => "button button-primary" %>
					</div>
				</div>
          
      <% end %>
      
    </div>
  </div>
</div>

<%= observe_field("change_password",
                  :frequency => 1,
                  :function => "var u = $('user_password'); u.disabled = !u.disabled;$('user_password_confirmation').disabled = u.disabled;") %>
























