<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
        <h1>Sign up as a new user</h1>
      </header>
      
      <% @user.password = @user.password_confirmation = nil %>

      <%= error_messages_for :user %>
      <%= form_for :user, :url => users_path do |f| %>

        <div class="row">
          <div class="six columns alpha">
            <%= label_tag 'login' %>
            <%= f.text_field :login, :class => "input-full" %>
          </div>
          <div class="five columns">
            <%= label_tag 'name' %>
            <%= f.text_field :name, :class => "input-full" %>
          </div>
          <div class="five columns omega">
            <%= label_tag 'email' %>
            <%= f.text_field :email, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <%= label_tag 'city' %>
            <%= f.text_field :city, :class => "input-full" %>
          </div>
          <div class="two columns">
            <%= label_tag 'State/Province' %>
            <%= f.text_field :state_prov, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= label_tag 'country' %>
            <%= f.text_field :country, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= label_tag 'Postal Code' %>
            <%= f.text_field :postal_code, :class => "input-full" %>
          </div>
          <div class="two columns omega">
            <%= label_tag 'area' %>
            <%= f.select :area, ["","Researcher","Student","Educator","Industry","Agriculture","Other"], :class => "input-full" %>
          </div>
        </div>


        <div class="row">
          <div class="four columns alpha">
            <%= label_tag 'password' %>
            <%= f.password_field :password, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= label_tag 'password_confirmation', 'Confirm Password' %>
            <%= f.password_field :password_confirmation, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label 'page_access_level', "Page Access Level*" %>
            <%= select_tag :page_access_level, options_for_select( [ ["1.Administrator", 1], ["2.Manager", 2], ["3.Creator", 3], [ "4.Viewer", 4] ], 4 ) %>
          </div>
          <div class="four columns omega">
            <%= f.label 'data_access_level', "Data Access Level*" %>
            <%= select_tag :access_level, options_for_select( [ ["1.Restricted", 1], ["2.Internal EBI & Collaborators", 2], ["3.External Researcher", 3], ["4.Public", 4] ], 3 ) %>
          </div>
        </div>


        <p id="al_reason" style="display:none">
        <%= f.label 'reason_for_access', "Reason for non-default access?" %>
        <%= text_area_tag :access_level_reason, :class => "input-full" %></p>

        <em>* Any request for page access higher then Viewer or data access higher then External researcher must be approved by an administrator</em>

        <% if Rails.env != "test" %>
          <%= recaptcha_tags %>
        <% end %>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( users_path ) do %>
              <button class="button">Back</button>
            <% end%>
          </div>
		      <div class="button-group pull-right">
			      <%= f.submit 'Sign up', :class => "button button-primary" %>
		      </div>
	      </div>
      <% end %>
    </div>
  </div>
</div>


<%= observe_field :page_access_level,
      :function => "if($('page_access_level').value < 4 || $('access_level').value < 3 ) { $('al_reason').show() } else { $('al_reason').hide() }" %>
<%= observe_field :access_level,
      :function => "if($('page_access_level').value < 4 || $('access_level').value < 3 ) { $('al_reason').show() } else { $('al_reason').hide() }" %>



















