<p>
  <b>Login:</b>
  <%= @user.login %>
</p>

<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  <b>State/Province:</b>
  <%= @user.state_prov %>
</p>

<p>
  <b>Country:</b>
  <%= @user.country %>
</p>

<p>
  <b>Postal Code</b>
  <%= @user.postal_code %>
</p>

<p>
  <b>Field:</b>
  <%= @user.field %>
</p>

<p>
  <b>User since:</b>
  <%= @user.created_at %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
