<table width="100%">
  <tr>
    <th></th>
    <th></th>
    <th>Variable</th>
    <th>Name</th>
    <th>Unit</th>
    <th>Storage Type</th>
    <th>Column Number</th>
  </tr>

  <% @format.formats_variables.each do |formats_variable| %>
    <%= form_tag url_for(:controller => :formats, :action => :edit_formats_variables), :remote => true do %>
      <%= hidden_field_tag 'id', formats_variable.id %>
      <tr>
        <td><%= link_to "X", { :controller => :formats, :action => :rem_formats_variables, :id => formats_variable.id }, :confirm => 'Are you sure?', :remote => true %></td>
        <td><%= submit_tag "save" %></td>
        <td><%= link_to formats_variable.variable.name, edit_variable_path(formats_variable.variable_id), html_options={ :title => "[#{formats_variable.variable.description} #{formats_variable.variable.units}]"} %></td>
        <td><%= text_field_tag 'formats_variable[name]', formats_variable.name, :style => "width: auto" %></td>
        <td><%= text_field_tag 'formats_variable[unit]', formats_variable.unit, :style => "width: auto" %></td>
        <td><%= text_field_tag 'formats_variable[storage_type]', formats_variable.storage_type, :style => "width: auto" %></td>
        <td><%= text_field_tag 'formats_variable[column_number]', formats_variable.column_number, :size => 4, :style => "width: auto" %></td>
      </tr>
    <% end %>
  <% end %>
  <%= form_tag url_for(:controller => :formats, :action => :add_formats_variables), :remote => true do %>
    <%= hidden_field_tag 'id', @format.id %>
    <tr>
      <td></td>
      <td><%= submit_tag "add" %></td>
      <td><%= select_tag :variable_id, options_for_select(Variable.all.collect { |x| [x.select_default,x.id] }), html_options={:style => "width:200px"} %></td>
      <td><%= text_field_tag 'formats_variable[name]', nil, :style => "width: auto" %></td>
      <td><%= text_field_tag 'formats_variable[unit]', nil, :style => "width: auto" %></td>
      <td><%= text_field_tag 'formats_variable[storage_type]', nil, :style => "width: auto" %></td>
      <td><%= text_field_tag 'formats_variable[column_number]', nil, :size => 4, :style => "width: auto" %></td>
    </tr>      
  <% end %>
</table>
