<table class="pretty">
  <tr>
    <th><%= sortable "formats.name", "Name" -%></th>
    <th><%= sortable "formats.mime_type", "Mime type" -%></th>
    <th><%= sortable "formats.header", "Header" -%></th>
    <th><%= sortable "formats.skip", "Skip" -%></th>
    <th><%= sortable "formats.dataformat", "Data Format" -%></th>
    <th><%= sortable "formats.notes", "Notes" -%></th>
  </tr>

<% @formats.each do |format| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and format.id == @search.to_i%>>
    <td><%= format.name %></td>
    <td><%= format.mime_type %></td>
    <td><%= format.header %></td>
    <td><%= format.skip %></td>
    <td><%= format.dataformat %></td>
    <td><%= format.notes %></td>
    <td><%= link_to 'Show', format %></td>
    <td><%= link_to 'Edit', edit_format_path(format) %></td>
    <td><%= link_to 'Destroy', format, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @formats %>

