<% content_for(:autocomplete_javascript) do %>
  <!-- autocomplete.js needs a `completion_fields` object describing the
  autocompletion fields on the page and needs to know the Rails root -->
  <script type="text/javascript" charset="utf-8">
    var ROOT_URL = '<%= root_url %>';
    var completion_fields = {
      "search_mimetypes": { controller: "mimetypes",
                            hidden_field_id: "form_mimetype_id" }
    };
  </script>
  <%= javascript_include_tag 'lazy/autocomplete.js' %>
<% end %>
<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
        <h1>New Format</h1>
      </header>

      <%= form_for @format,
          :as => :form, # because "format" is used for something else by Rails
          :url => { :action => "create" } do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="four columns alpha">
            <%= autocompletion_field(f, "Mime type", "mimetypes", :mimetype_id, "Search mime types") %>
          </div>
          <div class="four columns">
            <%= f.label :new_mime_type %>
            <%= text_field_tag :mime_type_other %>
          </div>
          <div class="eight columns omega">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "input-full" %>
          </div>
        </div>

        
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :header %>
            <%= f.text_field :header, :class => "input-full" %>
          </div>
          <div class="eight columns omega">
            <%= f.label :skip %>
            <%= f.text_field :skip, :class => "input-full" %>
          </div>
        </div>
        

        <div class="row">
          <div class="sixteen columns omega">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 10, :class => "input-full" %>
          </div>
        </div>


        <div class="form-actions">
          <div class="button-group">
            <%= link_to( formats_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
          </div>
		      <div class="button-group pull-right">
			      <%= f.submit 'Create', :class => "button button-primary" %>
		      </div>
	      </div>
      <% end %>
    </div>
  </div>
</div>

