<p>
  <b>Mime type:</b>
  <%= @format.mime_type %>
</p>

<p>
  <b>Name:</b>
  <%= @format.name %>
</p>

<p>
  <b>Header:</b>
  <%= @format.header%>
</p>

<p>
  <b>Skip:</b>
  <%= @format.skip%>
</p>

<p>
  <b>Data Format:</b>
  <%= @format.dataformat %>
</p>

<p>
  <b>Notes:</b>
  <%= @format.notes %>
</p>


<%= link_to 'Edit', edit_format_path(@format) %> |
<%= link_to 'Back', formats_path %>
