<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Format</h1>
			</header>

			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
				<dt>Mime type</dt>
				<dd><%= @format.mimetype.nil? ? "(no mimetype specified)" : @format.mimetype.type_string %></dd>
				<dt>Name</dt>
				<dd><%= @format.name %></dd>
				<dt>Header</dt>
				<dd><%= @format.header %></dd>
				<dt>Skip</dt>
				<dd><%= @format.skip %></dd>
				<dt>Notes</dt>
				<dd><%= @format.notes %></dd>
			</dl>
			<div class="form-actions">
				<div class="button-group">
          <%= link_to( formats_path ) do %>
					  <button class="button"><i class="icon-arrow-left"></i> All Records</button>
					<% end %>
					<%= link_to( edit_format_path(@format) ) do %>
    			  <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
  				<% end %>
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>

