<table class="pretty">
  <tr>
    <th><%= sortable "species.scientificname", "Species" -%></th>
    <th><%= sortable "cultivars.previous_id", "Previous ID" -%></th>
    <th><%= sortable "cultivars.name", "Name" -%></th>
    <th><%= sortable "cultivars.ecotype", "Ecotype" -%></th>
    <th><%= sortable "cultivars.notes", "Notes" -%></th>
  </tr>

<% @cultivars.each do |cultivar| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and cultivar.id == @search.to_i%>>
    <td><%= link_to_if cultivar.specie, cultivar.specie, cultivar.specie %></td>
    <td><%= cultivar.previous_id %></td>
    <td><%= cultivar.name %></td>
    <td><%= cultivar.ecotype %></td>
    <td><%= cultivar.notes %></td>
    <td><%= link_to 'Show', cultivar %></td>
    <td><%= link_to 'Edit', edit_cultivar_path(cultivar) %></td>
    <td><%= link_to 'Destroy', cultivar, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @cultivars %>

