<p>
  <b>Species:</b>
  <%= link_to_if @cultivar.specie,@cultivar.specie, @cultivar.specie %>
</p>

<p>
  <b>Previous ID:</b>
  <%= @cultivar.previous_id %>
</p>

<p>
  <b>Name:</b>
  <%= @cultivar.name %>
</p>

<p>
  <b>Ecotype:</b>
  <%= @cultivar.ecotype %>
</p>

<p>
  <b>Notes:</b>
  <%= @cultivar.notes %>
</p>


<%= link_to 'Edit', edit_cultivar_path(@cultivar) %> |
<%= link_to 'Back', cultivars_path %>
