<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Contact Us</h1>
			</header>

      <%= form_for :email, :url => { :controller => 'contacts', :action => 'send_mail' } do |f| %>
		   <div class="row">
        <div class="six columns alpha">
          <%= f.label :name %>
          <%= f.text_field :name, :size => 60, :class => "input-full" %><br />
          <%= f.label :email_address %>
          <%= f.text_field :address, :size => 60, :class => "input-full" %><br />
          <%= f.label :subject %>
          <%= f.text_field :subject, :size => 60, :class => "input-full" %><br />
        </div>
        
        <div class="ten columns omega">
          <%= f.label :body %>
          <%= f.text_area :body, :rows => 10, :class => "input-full" %>
        </div>
      </div>

      <%= submit_tag "Send Email", :class => "button button-primary" %>
    <% end %>

		</div> <!-- class="sixteen columns" -->
	</div> <!-- container --> 
</div>




