<h2>Contact Us</h2>
<% form_for :email, :url => { :controller => 'contacts', :action => 'send_mail' } do |f| %>
    <%= f.label :name %><br />
    <%= f.text_field :name, :size => 60 %><br />
    <%= f.label :email_address %><br />
    <%= f.text_field :address, :size => 60 %><br />
    <%= f.label :subject %><br />
    <%= f.text_field :subject, :size => 60 %><br />
    <%= f.label :body %><br />
    <%= f.text_area :body, :rols => 10, :cols => 60 %><br />
    <%= submit_tag "Send Email "%>
<% end %>
