<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
        <h1>New Method</h1>
      </header>

      <%= form_for(@method, :url => { :action => :create }) do |f| %>
        <%= f.error_messages %>
        
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :name %>
            <%= f.text_field :name, :class => "input-full" %>
            <br />
            <%= f.label :citation_id %>
            <%= f.select :citation_id, Citation.order('author').collect { |p| [ p.select_default, p.id ] }, { :include_blank => true } %> 
            <em><%= link_to "New Citation", new_citation_path %></em>
          </div>
          <div class="eight columns omega">
            <%= f.label :description %>
            <%= f.text_area :description, :rows => 10, :class => "input-full" %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( methods_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
          </div>
		      <div class="button-group pull-right">
			      <%= f.submit 'Create', :class => "button button-primary" %>
		      </div>
	      </div>


      <% end %>
    </div>
  </div>
</div>
