
<h2>Submit a bug</h2>

<% form_for :error, :url => { :action => :create }, :html => { :method => :post } do |f| %>
<p>
<%= f.label :url %>: <%= f.text_field :url, :value => @src %><br />
<br />
<%= f.label :message %>: <br />
<%= f.text_area :message %><br />
<br />
<%= f.label :assign_to %>: <br />
<%= f.select :assign_to, options_for_select($bety_managers.invert, 26) %><br />
<br />
<%= f.submit %>
</p>
<% end %>
