<div class="content">
  <div class="container">
	<div class="sixteen columns">
	  <header>
        <h1>Specify Data-Set Wide Values</h1>
      </header>
      <%= form_tag(bulk_upload_data_insertion_path, method: "post", multipart: true) do %>
      <div id="process_container">
        <div id="back"><%= link_to "<< View Validation Results", show_upload_file_contents_path %></div>
        <div id="new">&nbsp;</div>
        <div id="forward">
          <%= submit_tag "Insert Data >>" %>
        </div>
      </div>
      <ul>
        <% @data_set.missing_interactively_specified_fields.each do |field| %>
        <li>
          <%= label_tag field, field + (field == "cultivar" ? " (optional)" : "") %>
          <% if field == "access_level" %>
          <%= select_tag "global_values[access_level]",
              options_for_select([['1', 1], ['2', 2], ['3', 3], ['4', 4]],
              @session[:global_values]["access_level"] || 4),
              size: "1"
          %>
          <% else %>
          <%= text_field_tag "global_values[#{field.to_sym}]", "#{@session[:global_values][field.to_sym]}", id: "autocomplete_#{field}" %>
          <% end %>
        </li>
        <% end %>
      </ul>
      <% end %>

    </div>
  </div>
</div>
