<%= form_tag({ action: "insert_data" }) do %>
<%= submit_tag("Confirm data table and insert data") %>
<style>
  .red { background-color: #ff9966 }
  .green { background-color: #99ff66 }
  .gray { background-color: #aaa }
</style>
<table>
  <thead>
    <tr>
      <% @displayed_columns.each do |column| %>
      <th><%= column.name %></th>
      <% end %>
    </tr>
  </thead>
  <tbody id="insert_data">
    <% @data.each do |row| %>
    <tr>
      <%# Iterate through the database table columns and show the value that will be inserted for each column in this row. %>
      <% @displayed_columns.each do |column| %>
        <td class="<%= validate(column.name, row.to_hash[column.name] || params[column.name]) %>">
          <%= row[@mapping["source_column"][column.name]] || @mapping["value"][column.name] || (column.default.nil? ? "NULL" : column.default) %>
        </td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% end %>
