<div class="content">
  <div class="container">
	<div class="sixteen columns">
	  <header>
        <h1>Please Verify Data-Set References Before Uploading</h1>
      </header>
      <%= form_tag(bulk_upload_data_insertion_path, method: "post", multipart: true) do %>
      <div id="process_container">
        <div id="back">
          <% if @data_set.need_interactively_specified_data %>
          <%= link_to "<< Specify Dataset-wide values", choose_global_data_values_path %>
          <% else %>
          <%= link_to "<< Specify Amount of Rounding", choose_global_data_values_path %>
          <% end %>
          <br />
          <%= link_to start_upload_path do
              content_tag :em, "START OVER with a different file"
              end %>
        </div>
        <div id="new">&nbsp;</div>
        <div id="forward">
          <%= submit_tag "Insert Data >>" %>
        </div>
      </div>
      <% end %>
      <h2>Review these citations and make sure they correspond to the citations referenced by your data set:</h2>
      <table>
        <thead>
          <tr><th>Title</th><th>Author</th><th>Year</th><th>Journal</th><th>DOI</th></tr>
        </thead>
        <tbody>
          <% @upload_citations.each do |c| %>
          <tr><td><%= c.title %></td><td><%= c.author %></td><td><%= c.year %></td><td><%= c.journal %></td><td><%= c.doi %></td></tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <h2>Review these sites and make sure they correspond to the sites referenced by your data set:</h2>
      <table>
        <thead>
          <tr><th>Site Name</th><th>City</th><th>State</th><th>Country</th><th>Latitude</th><th>Longitude</th><th>Soil Type</th><th>Soil Notes</th></tr>
        </thead>
        <tbody>
          <% @upload_sites.each do |s| %>
          <tr><td><%= s.sitename %></td><td><%= s.city %></td><td><%= s.state %></td><td><%= s.country %></td><td><%= s.lat %></td><td><%= s.lon %></td><td><%= s.soil %></td><td><%= s.soilnotes %></td></tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <h2>Review these species and make sure they correspond to the species referenced by your data set:</h2>
      <table>
        <thead>
          <tr><th>Species Name</th><th>Genus</th><th>Common Name</th><th>Accepted Symbol</th></tr>
        </thead>
        <tbody>
          <% @upload_species.each do |s| %>
          <tr><td><%= s.scientificname %></td><td><%= s.genus %></td><td><%= s.commonname %></td><td><%= s.AcceptedSymbol %></tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <% if !@upload_cultivars.empty? %>
      <h2>Review these cultivars and make sure they correspond to the cultivars referenced by your data set:</h2>
      <table>
        <thead>
          <tr><th>Cultivar Name</th><th>Ecotype</th><th>Associated Species</th></tr>
        </thead>
        <tbody>
          <% @upload_cultivars.each do |c| %>
          <tr><td><%= c[:cultivar].name %></td><td><%= c[:cultivar].ecotype %></td><td><%= c[:species_name] %></tr>
          <% end %>
        </tbody>
      </table>
      <hr>
      <% end %>
      <h2>Review these treatments and make sure they correspond to the treatments referenced by your data set:</h2>
      <table>
        <thead>
          <tr><th>Treatment Name</th><th>Definition</th><th>Control?</th></tr>
        </thead>
        <tbody>
          <% @upload_treatments.each do |t| %>
          <tr><td><%= t.name %></td><td><%= t.definition %></td><td><%= t.control %></td></tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
