<script>
  data = <%= raw(@data_json) %>
  displayed_columns = <%= raw(@displayed_columns_json) %>
</script>

  <div id="display_CSV_stage">
<%= render 'display_csv_file' %>
</div>
<div id="mapping_stage" style="display: none">
<%= render 'map_data' %>
</div>
<div id="validation_stage" style="display: none">
<%= render 'confirm_data' %>
</div.
