<%= form_tag({ action: "confirm_data" }, method: "post") do %>
<table>
  <thead>
    <tr>
      <th>database column name</th>
      <th>data type</th>
      <th>CSV source column name</th>
      <th>database default value</th>
      <th>mapping function</th>
    </tr>
  </thead>
  <tbody>
    <% @columns.each do |column| %>
    <% if column.name == 'id' then next end %>
    <tr>
      <td><%= column.name %></td>
      <td><%= column.type %></td>
      <td><%= select_tag(column.name, options_for_select(*options(column))) %></td>
      <td><%= column.default || "NULL" %></td>
      <td><%= select_tag(column.name + "_mapper", options_for_select(*mapper_options(column))) %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= submit_tag("Confirm Data") %>
<% end %>
