<style>
  .column_name { font-family: courier }
</style>
<h2>Specify Data Mapping</h2>
<p>This page shows how the value of each column of a row added to the traits table will be determined from the column values in a row of the input file.</p>
<h3>Automatically-determined values</h3>
<p>Each column of the traits table for which there is a like-named column in the uploaded file will use the data-file value (possibly with rounding in the case of the <code>mean</code> and <code>stat</code> columns).  The one exception is the <code>checked</code> column, which is always pre-set to 0.</p>
<p>If the uploaded data file contains no column named <code>specie_id</code> but <em>does</em> contain a column named <code>scientificname</code> or <code>species.scientificname</code>, the value for <code>specie_id</code> will be determined by looking up the row in the species table matching the supplied value for <code>scientificname</code></p>
<p>If the uploaded data file contains no column named <code>date_year</code> but does contain a column named <code>date</code>, the value to be used for <code>date_year</code> will be determined from the value given for <code>date</code>.  (Similarly for <code>date_month</code> and <code>date_day</code>.)</p>
<p>The value for <code>checked</code> is pre-set to 0</p>
<p>If the input file contains no <code>notes</code> column, the <code>notes</code> column in the traits table will be left blank&mdash;that is, set to the empty string.</p>
<p>If the <code>mean</code>, <code>n</code>, <code>stat</code>, or <code>statname</code> column is not present in the input file, the corresponding column in the traits table will be set to the database default value.</p>
<h3>User-chosen values</h3>
<p>Columns values that are not automatically determined by any of the above rules may be set for the whole data set by the user:</p>
<p>If the <code>access_level</code> is not specified in the input file, the default value is 4 but the user may explicitly set any value from 1 to 4.</p>
<p>If the input file contains neither a <code>specie_id</code> column nor a column giving the species name, the user may choose to set a single <code>specie_id</code> value for the whole data set.</p>
<p>If any of <code>site_id</code>, <code>citation_id</code>, <code>cultivar_id</code>, <code>treatment_id</code>, <code>variable_id</code>, <code>entity_id</code>, or <code>method_id</code> is not specified in the input file, the user may choose a single value of each and any of these for the whole data set.  Upon submitting the mapping form, the database will be checked to ensure the chosen value(s) exist in the relevant table(s).</p>
<p>If any of <code>date</code>, <code>dateloc</code>, <code>time</code>, or <code>timeloc</code> is not specified in the input file, the user may choose a single value to be used for the whole data set.</p>
<p>If the input file does not contain a <code>date_year</code>, <code>date_month</code>, or <code>date_day</code>, then values for these will be determined from the <code>date</code> column, if it exists.  Otherwise, the user may specify a data-set wide value for each and any of these.</p>
<p>If the input file does not contain a <code>time_hour</code> or <code>time_minute</code> column, then values for these will be determined from the <code>time</code> column, if it exists.  Otherwise, the user may specify a data-set wide value for each and any of these.</p>
<p>The user may not specify dataset-wide values for the <code>mean</code> or <code>stat</code> columns but must specify a number of decimal digits to round to for any of these that are contained in the input file.</p>
<p>Database default values will be used for any user-choice fields the user leaves blank.</p>
<%= form_tag({ action: :confirm_data }) do %>
  <%= submit_tag("Set data mapping") %>
  <%= hidden_field_tag("mapping[source_column][empty]", 1) %>
  <%= hidden_field_tag("mapping[value][empty]", 1) %>
  <table>
    <caption><h2>Specify Data Mapping</h2></caption>
    <thead>
      <tr>
        <th>To compute &hellip;</th>
        <th>use &hellip;</th>
    <tbody>
      <% @displayed_columns.each do |column| %>
      <tr>
        <td class="column_name"><%= column.name %></td>
        <td style="text-align: right"><%= raw(default_source_for(column)) %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

