<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
        <h1>New Bulk Upload</h1>
      </header>

<%= form_tag({ action: "display_csv_file" }, method: "post", multipart: true) do %>
<%= label_tag 'CSV file', "Data File: #{if session[:csvpath]; "(Currently #{session[:csvpath]})"; end}" %>
<%= file_field_tag 'CSV file', accept: 'text/csv' %>
<%= hidden_field_tag 'new upload', value: true %>
<%= submit_tag("Upload") %>
<% end %>

    </div>
  </div>
</div>

      
