<table class="pretty">
  <tr>
    <th><%= sortable "species.genus", "Species" -%></th>
    <th><%= sortable "cultivars.name", "Cultivar" -%></th>
    <th><%= sortable "yields.mean", "Mean" -%></th>
    <th><%= sortable "yields.n", "N" -%></th>
    <th><%= sortable "yields.stat", "Stat" -%></th>
    <th><%= sortable "yields.statname", "Stat Name" -%></th>
    <th><%= sortable "citations.author", "Citation" -%></th>
    <th><%= sortable "sites.sitename", "Site" -%></th>
    <th><%= sortable "treatments.name", "Treatment" -%></th>
  </tr>

<% @yields.each do |y| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and y.id == @search.to_i%>>
    <td><%= link_to_if y.specie, y.specie, y.specie %></td>
    <td><%= link_to_if y.cultivar, y.cultivar, y.cultivar %></td>
    <td><%=h y.mean %></td>
    <td><%=h y.n %></td>
    <td><%=h y.stat %></td>
    <td><%=h y.statname %></td>
    <td><%= link_to_if y.citation, y.citation, y.citation %></td>
    <td><%= link_to_if y.site, y.site, y.site %></td>
    <td><%= link_to_if y.treatment, y.treatment, y.treatment %></td>
 <% if ( current_user.access_level < y.access_level ) or ( y.user_id == current_user.id ) or ( current_user.page_access_level <= 2 ) %>
    <td><%= select_tag 'checked-'+y.id.to_s, options_for_select([["checked;failed QA/QC",-1],["unchecked",0],["checked; passed QA/QC",1]],y.checked) -%><span id='checked_notify-<%= y.id %>'></span></td>
    <% else %>
    <td><%=h ["checked;failed QA/QC","unchecked","checked; passed QA/QC"][y.checked-1] %></td>
    <% end %>
    <% if ( current_user.access_level < y.access_level ) or ( current_user.access_level = y.access_level and y.checked ) or ( y.user_id == current_user.id ) or ( current_user.page_access_level <= 2 )%>
      <td>Access Level<%=  select_tag "access_level-" + y.id.to_s,options_for_select([["1.Restricted",1],['2.EBI Researchers',2],['3.External Researchers',3],['4.Public',4]],y.access_level) -%></td>
    <% end%>
    <td><%= link_to 'Show', y %></td>
    <td><%= link_to 'Edit', edit_yield_path(y) %></td>
    <% if current_user.page_access_level <= 2 or y.user_id == current_user.id %>
    <td><%= link_to 'Destroy', y, :confirm => 'Are you sure?', :method => :delete %></td>
    <% end %>
  </tr>
<% end %>
</table>

<%= will_paginate @yields %>

<br />

<% @yields.each do |y| %>
   <%= observe_field("access_level-" + y.id.to_s,
                  :frequency => 1,
                  :with => "'id=' + #{y.id} + '&yield[access_level]=' + Form.Element.getValue('access_level-#{y.id.to_s}')",
                  :url => { :action => :access_level }) %>
     <%= observe_field("checked-" + y.id.to_s,
                  :frequency => 1,
                  :with => "'id=' + #{y.id} + '&y[checked]=' + Form.Element.getValue('checked-#{y.id.to_s}')",
                  :url => { :action => :checked }) %>
<% end %>
