<h1>Errors in you CSV Upload</h1>
<h2>Entries missing required information</h2>
<table>
  <tr>
    <th>Citation</th>
    <th>Site</th>
    <th>Species</th>
    <th>Treatment</th>
    <th>Cultivar</th>
    <th>User</th>
    <th>Date</th>
    <th>Dateloc</th>
    <th>Mean</th>
    <th>Stat</th>
    <th>Stat Name</th>
    <th>N</th>
    <th>Notes</th>
    <th>Error</th>
  </tr>

<% if !@yields.nil? 
   @yields.each do |y| %>
<% error_log = ErrorLog.find(:first, :conditions => ["record_id = ? and relationship = 'Yield'", y.id]).description %>
  <tr>
    <td><%= y.citation.author_year_title rescue "" %></td>
    <td><%= y.site.sitename_state_country rescue "" %></td>
    <td><%= y.specie.scientificname rescue "" %></td>
    <td><%= y.treatment.name_definition rescue "" %></td>
    <td><%= y.cultivar.sn_name rescue "" %></td>
    <td><%=h y.user %></td>
    <td><%=h y.date %></td>
    <td><%=h y.dateloc %></td>
    <td><%=h y.mean %></td>
    <td><%=h y.stat %></td>
    <td><%=h y.statname %></td>
    <td><%=h y.n %></td>
    <td><%=h y.notes %></td>
    <td><%=h error_log %></td>
    <td><%= link_to 'Show', y %></td>
    <td><%= link_to 'Edit', edit_yield_path(y) %></td>
    <td><%= link_to 'Fixed!', fix_error_path(error_log), :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>
<% elsif !@error_logs_no_save.nil? %>
<h2>Entries that did not save!</h2>
<table>
  <tr>
    <th>Description</th>
  </tr>
  
<% @error_logs_no_save.each do |e| %>
  <tr>
    <td><%=h e.description %></td>
    <td><%= link_to 'Remove Record!', fix_error_path(error_log), :confirm => 'Are you sure?' %></td>
  </tr>
<% end %>
</table>

<% else %>
You should not see this...
<% end %>

<br />

<%= link_to 'New Yield', new_yield_path %>
