<h1>Editing yield  <%= link_to_prototype_window(image_tag("help.gif"), "help_popup1", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node23.html?min" }) %></h1>

<% form_for(@yield) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :citation_id %><br />
    <%= f.select :citation_id, Citation.all(:order => 'author').collect { |p| [ p.select_default, p.id ] }, {} %>
  </p>
  <p>
    <%= f.label :site_id %><br />
    <%= f.select :site_id, Site.all(:order => 'city').collect { |p| [ p.select_default, p.id ] }, {} %>
  </p>

  <%= render :partial => "species/species_search" %>

  <p>
    <%= f.label :treatment_id %><br />
    <%= f.select :treatment_id, Treatment.all(:joins => :citations, :order => 'name').collect { |p| [ p.select_default, p.id ] }, {} %>
  </p>
  <p>
    <%= f.label :cultivar_id %><br />
    <%= f.select :cultivar_id, Cultivar.all(:joins => :specie, :order => 'species.scientificname').collect { |p| [ p.select_default, p.id ] },  { :include_blank => true} %>
  </p>
  <p>
    <%= f.label :date %><br />
      <%= f.date_select :date, :defualt => nil, :order => [:day, :month, :year], :add_month_numbers => true, :include_blank => true, :start_year => 1900, :end_year => Time.now.year %>
  </p>
  <p>
    <%= f.label :dateloc, "Date Level of Confidence" %><br />
    <%= f.select :dateloc, options_for_select($dateloc_drop.sort,f.object.dateloc.to_s) %>
  </p>
  <p>
    <%= f.label :statistic %><br />
    <%= f.text_field :stat, :size => 8 %>
  </p>
  <p>
    <%= f.label :statname, "stat name" %><br />
    <%= f.select :statname, ["","SD", "SE", "MSE", "95%CI", "LSD", "MSD"] %>
  </p>
  <p>
    <%= f.label :mean %><br />
    <%= f.text_field :mean %>
  </p>
  <p>
    <%= f.label :n %><br />
    <%= f.text_field :n %>
  </p>
  <p>
    <%= f.label :access_level %><br />
    <%= f.select :access_level, [["1.Restricted",1],['2.EBI Researchers',2],['3.External Researchers',3],['4.Public',4]]%>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<div id="explain" style="display: none">* = This field for this Trait is NULL in the database. We do not allow this field to be blank, so if you update the record incorrect values might be saved.</div>

<style>
  .red_back {
    background-color: red;
  }
</style>

<script>
  function missingFields(id) {
    id = "label[for=" + id + "]";
    if (typeof $$(id)[0] != "undefined") {
      $$(id)[0].addClassName('red_back');
      $$(id)[0].innerText += "*";
      $('explain').show();
    }
  }
<% ['site_id','citation_id','cultivar_id','treatment_id','dateloc','specie_id'].each do |column| 
     if @yield[column.to_sym].nil? -%>
<%= "  missingFields(\"yield_#{column}\");"  -%>
  <% end %>
<% end %>
</script>

<%= link_to 'Show', @yield %> |
<%= link_to 'Back', yields_path %>
