<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
	      <h1>Editing Yield</h1>
			</header>


      <%= form_for(@yield) do |f| %>
        <%= f.error_messages %>

        <div class="row">
          <div class="four columns alpha">
            <%= f.label :mean %>
            <%= f.text_field :mean, :size => 8, :class => "input-full" %>
          </div>
          <div class="four columns">
            <%= f.label :statistic %>
            <%= f.text_field :stat, :size => 8, :class => "input-full" %>
          </div>
          <div class="two columns">
            <%= f.label "Statistic Name" %>
            <%= f.select :statname, $statname_list %>
          </div>
          <div class="two columns">
            <%= f.label :n %>
            <%= f.text_field :n, :size => 8, :class => "input-full" %>
          </div>
          <div class="two columns omega">
            <%= f.label :method_id, "Method" %>
            <%= f.select :method_id, Methods.all.collect { |p| [ p.select_default, p.id ] }, {}, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="six columns alpha">
            <fieldset>
              <legend>Date</legend>
              <%= f.select :d_year, (1800..Time.now.year).to_a, include_blank: true %>
              <%= f.select :d_month, Trait::Seasons + Trait::Months.to_a, include_blank: true %>
              <%= f.select :d_day, Trait::Days.to_a, include_blank: true %>
            </fieldset>
          </div>
          <div class="two columns">
            <b>... OR ...</b>
          </div>
          <div class="eight columns omega">
            <fieldset>
              <legend>Julian Day (1&ndash;366) / Year</legend>
              <%= f.text_field :julianday %> / <%= f.text_field :julianyear %>
            </fieldset>
          </div>
        </div>

        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :site_id %>
            <%= f.select :site_id, @sites.collect { |p| [ p.select_default, p.id ] }, {}, :class => "input-full" %>
          </div>
          <div class="eight columns omega">
            <%= f.label :treatment_id %>
            <%= f.select :treatment_id, @treatments.collect { |p| [ p.select_default, p.id ] }, {}, :class => "input-full" %>
          </div>
        </div>
        
        <div class="row">
          <div class="four columns alpha">
            &nbsp;
          </div>
          <div class="eight columns">
            <%= render :partial => "species/species_search" %>
          </div>
          <div class="four columns omega">
            &nbsp;
          </div>
        </div>
            
        <div class="row">
          <div class="eight columns alpha">
            <%= f.label :cultivar_id %>
            <%= f.select :cultivar_id, Cultivar.joins(:specie).order('species.scientificname').collect { |p| [ p.select_default, p.id ] }, { :include_blank => true}, :class => "input-full" %>
            <br />
            <%= f.label :access_level %>
            <%= f.select :access_level, [["1.Restricted",1],['2.EBI',2],['3.External',3],['4.Public',4]], :class => "input-full" %>
          </div>
          <div class="eight columns omega">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 10, :class => "input-full" %>
          </div>
        </div>

        <div class="row">
          <div class="four columns alpha">
            <label>Record Creator</label>
            <%= user_for_view(@yield.user) %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( yields_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
            <%= link_to( @yield ) do %>
              <button class="button" type="button">Show</button>
            <% end%>
          </div>
					<div class="button-group pull-right">
						<%= f.submit 'Update', :class => "button button-primary" %>
					</div>
				</div>
          
      <% end %>
  
    </div>
  </div>
</div>



<div id="explain" style="display: none">* = This field for this Trait is NULL in the database. We do not allow this field to be blank, so if you update the record incorrect values might be saved.</div>

<style>
  .red_back {
    background-color: red;
  }
</style>

<script>
  function missingFields(id) {
    id = "label[for=" + id + "]";
    if (typeof $$(id)[0] != "undefined") {
      $$(id)[0].addClassName('red_back');
      $$(id)[0].innerText += "*";
      $('explain').show();
    }
  }
<% ['site_id','citation_id','cultivar_id','treatment_id','dateloc','specie_id'].each do |column| 
     if @yield[column.to_sym].nil? -%>
<%= "  missingFields(\"yield_#{column}\");"  -%>
  <% end %>
<% end %>
</script>

