<% if @yield.nil? %>
<p>Sorry yield record does not exists or you do not have access</p>
<% else %>

<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Yield</h1>
			</header>

			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
			
        <dt>Citation:</dt>
        <dd><%=  link_to_if @yield.citation, @yield.citation, @yield.citation %></dd>

        <dt>Site:</dt>
        <dd><%= link_to_if @yield.site, @yield.site, @yield.site %></dd>

        <dt>Species:</dt>
        <dd><%= link_to_if @yield.specie, @yield.specie, @yield.specie %></dd>

        <dt>Treatment:</dt>
        <dd><%= link_to_if @yield.treatment, @yield.treatment, @yield.treatment %></dd>

        <dt>Cultivar:</dt>
        <dd><%= link_to_if @yield.cultivar, @yield.cultivar, @yield.cultivar %></dd>

        <dt>Method:</dt>
        <dd><%= link_to_if @yield.ebi_method, @yield.ebi_method, @yield.ebi_method %></dd>

        <dt>Record Creator:</dt>
        <dd><%=  user_for_view(@yield.user) %></dd>

        <dt>Date:</dt>
        <dd><%=  @yield.date %></dd>

        <dt>Dateloc:</dt>
        <dd><%=  @yield.dateloc %></dd>

        <dt>Mean:</dt>
        <dd><%=  @yield.mean %></dd>

        <dt>Stat:</dt>
        <dd><%=  @yield.stat %></dd>

        <dt>Stat Name:</dt>
        <dd><%=  @yield.statname %></dd>

        <dt>N:</dt>
        <dd><%=  @yield.n %></dd>

        <dt>Notes:</dt>
        <dd><%=  @yield.notes %></dd>
			
			

			</dl>
			<div class="form-actions">
				<div class="button-group">
          <%= link_to( yields_path ) do %>
					  <button class="button"><i class="icon-arrow-left"></i> Go Back</button>
					<% end %>
					<%= link_to( edit_yield_path(@yield) ) do %>
    			  <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
  				<% end %>
					
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>


<% end %>









