<h1>Editing run</h1>

<% form_for(@run) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :model %><br />
    <%= f.select :model_id, Model.all.collect{|p| [p.select_default, p.id]} %>
  </p>
  <p>
    <%= f.label :site %><br />
    <%= f.select :site_id, Site.all(:order => 'city').collect { |p| [ p.select_default, p.id ] }, {} %>
  </p>
  <p>
    <%= f.label :start_time %><br />
    <%= f.datetime_select :start_time %>
  </p>
  <p>
    <%= f.label :finish_time %><br />
    <%= f.datetime_select :finish_time %>
  </p>
  <p>
    <%= f.label :ensemble_id %><br />
    <%= f.select :ensemble_id, Ensemble.all.collect { |p| [ p.select_default, p.id ] }, { :include_blank => true} %>
  </p>
  <p>
    <%= f.label :started_at %><br />
    <%= f.datetime_select :started_at , { :start_year => 1900, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>  </p>
  <p>
    <%= f.label :finished_at %><br />
    <%= f.datetime_select :finished_at, { :start_year => 1900, :end_year => 2155, :include_blank => "0000", :default => "0000"} %>
  </p>
 <p>
    <%= f.label :start_date %><br />
    <%= f.text_field :start_date  %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.text_field :end_date %>  
  </p>
  <p>
    <%= f.label :outdir %><br />
    <%= f.text_field :outdir %>
  </p>
  <p>
    <%= f.label :outprefix %><br />
    <%= f.text_field :outprefix %>
  </p>
  <p>
    <%= f.label :setting %><br />
    <%= f.text_field :setting %>
  </p>
  <p>
    <%= f.label :parameter_list %><br />
    <%= f.text_area :parameter_list %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @run %> |
<%= link_to 'Back', runs_path %>
