<table class="pretty">
  <tr>
    <th><%= sortable "ensembles.notes", "Notes" -%></th>
    <th><%= sortable "ensembles.created_at", "Created" -%></th>
    <th><%= sortable "ensembles.updated_at", "Updated" -%></th>
  </tr>

<% @ensembles.each do |ensemble| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and ensemble.id == @search.to_i%>>
    <td><%=h ensemble.notes %></td>
    <td><%=h ensemble.created_at %></td>
    <td><%=h ensemble.updated_at %></td>
    <td><%= link_to 'Show', ensemble %></td>
    <td><%= link_to 'Edit', edit_ensemble_path(ensemble) %></td>
    <td><%= link_to 'Destroy', ensemble, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @ensembles %>
