<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Machine</h1>
			</header>
			
			<a style="text-decoration: none" href="#" onclick="showHide('show_files')" id="show_show_files">[+] View Related Files</a>
			<br/>
			<div id="show_files" class="hidden notvisible">
				<%= render 'show_files' %>
			</div>

			<hr />
			<br />
			<br />

			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
        <dt>Hostname</dt>
        <dd><%= @machine.hostname %></dd>
        <dt>Sync Host ID</dt>
        <dd><%= @machine.sync_host_id %></dd>
        <dt>Sync Contact</dt>
        <dd><%= @machine.sync_contact %></dd>
        <dt>Sync URL</dt>
        <dd><%= @machine.sync_url %></dd>
        <dt>Sync Start</dt>
        <dd><%= @machine.sync_start %></dd>
        <dt>Sync End</dt>
        <dd><%= @machine.sync_end %></dd>
			</dl>

			<div class="form-actions">
				<div class="button-group">
					<%= link_to( machines_path ) do %>
						<button class="button"><i class="icon-arrow-left"></i> All Records</button>
					<% end %>
					<%= link_to( edit_machine_path(@machine) ) do %>
						<button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
					<% end %>
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>
