<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
	      <h1>Editing Variable</h1>
			</header>

      <%= form_for(@variable) do |f| %>
        <%= f.error_messages %>
       
          <div class="eight columns omega">         
            <%= f.label :name %>
            <%= f.text_field :name, :class => "input-half" %>
          </div>
          
          <% if current_user.access_level==1 %>
          <div class="eight columns omega">
            <%= f.label :standard_name %>
            <%= f.text_field :standard_name, :class => "input-half" %>
          </div>
          <% end %>  
          
          <div class="eight columns omega">  
            <%= f.label :units %>
            <%= f.text_field :units, :class => "input-half" %>
          </div>
          
          <% if current_user.access_level==1 %>
          <div class="eight columns omega">  
            <%= f.label :standard_units %>
            <%= f.text_field :standard_units, :class => "input-half" %>
          </div>
          <% end %>    
          
          <div class="eight columns omega">  
            <%= f.label :description %>
            <%= f.text_field :description, :class => "input-half" %>
          </div>
          
          <% if current_user.access_level==1 %>
          <div class="eight columns omega">  
            <%= f.label :label %>
            <%= f.text_field :label, :class => "input-half" %>
          </div>
          
          <div class="eight columns omega">  
            <%= f.label :type %>
            <%= f.select :type, ["plant trait","ecosystem","covariate","model","model-ED2","model-BioCro","model-Sipnet"] %>
          </div>
          <% end %>
        
        <br>
        
        <div class="row">
          <div class="sixteen columns omega">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 5, :class => "input-full" %>
          </div>
        </div>

        <div class="form-actions">
          <div class="button-group">
            <%= link_to( @variable ) do %>
              <button class="button" type="button">Show</button>
            <% end%>
            <%= link_to( variables_path ) do %>
              <button class="button" type="button">Back</button>
            <% end%>
          </div>
					<div class="button-group pull-right">
						<%= f.submit 'Update', :class => "button button-primary" %>
					</div>
				</div>
          
      <% end %>
      
    </div>
  </div>
</div>









