<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
        <h1>New Variable</h1>
      </header>

      <%= form_for(@variable) do |f| %>
        <%= f.error_messages %>
        <div class="row">
          <div class="eight columns alpha">
            <div class="four columns alpha">
              <%= f.label :name %>
              <%= f.text_field :name, :class => "input-full" %>
            </div>
            <div class="four columns alpha">
              <%= f.label :standard_name ,"CF Standard Name"%>
              <%= f.text_field :standard_name, :class => "input-full" %>
            </div>
            <div class="four columns alpha">
              <%= f.label :units %>
              <%= f.text_field :units, :class => "input-full" %>
            </div>
            <div class="four columns alpha">
              <%= f.label :standard_units,"CF Standard Units" %>
              <%= f.text_field :standard_units, :class => "input-full" %>
            </div>
            <div class="four columns alpha">
              <%= f.label :description %>
              <%= f.text_field :description, :class => "input-full" %>
            </div>
            <div class="four columns alpha">
              <%= f.label :label %>
              <%= f.text_field :label, :class => "input-full" %>
            </div>
            <div class="four columns alpha">
              <%= f.label :type %>
              <%= f.select :type, ["", "plant trait","ecosystem","covariate","model","model-ED2","model-BioCro","model-Sipnet"] %>
            </div>
          </div>
          <div class="eight columns alpha">
            <%= f.label :notes %>
            <%= f.text_area :notes, :rows => 5, :class => "input-full" %>
          </div>
          <%= link_to "CF Guidelines", guidelines_path, :title => "guidelines for CF standard names",:target => "_blank"%>
        </div>


        <div class="form-actions">
          <div class="button-group">
            <%= link_to( variables_path ) do %>
              <button class="button" type="button"><i class="icon-arrow-left"></i> All Records</button>
            <% end%>
          </div>
		      <div class="button-group pull-right">
			      <%= f.submit 'Create', :class => "button button-primary" %>
		      </div>
	      </div>
      <% end %>
    </div>
  </div>
</div>


