<h1>Search Results</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Units</th>
    <th>Notes</th>
  </tr>

<% @match.each do |variable| %>
  <tr>
    <td><%= variable.name %></td>
    <td><%= variable.description %></td>
    <td><%= variable.units %></td>
    <td><%= variable.notes %></td>
    <td><%= link_to 'Show', variable %></td>
    <td><%= link_to 'Edit', edit_variable_path(variable) %></td>
    <td><%= link_to 'Destroy', variable, data: { :confirm => 'Are you sure?' }, :method => :delete %></td>
  </tr>
<% end %>
</table>
