<table class="pretty">
  <tr>
    <th>Run</th>
    <th><%= sortable "variables.name", "Variable" -%></th>
    <th>Input</th>
    <th><%= sortable "likelihoods.loglikelihood", "Loglikelihood" -%></th>
    <th><%= sortable "likelihoods.n_eff", "N eff" -%></th>
    <th><%= sortable "likelihoods.weight", "Weight" -%></th>
    <th><%= sortable "likelihoods.residual", "Residual" -%></th>
  </tr>

<% @likelihoods.each do |likelihood| %>
  <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and likelihood.id == @search.to_i%>>
    <td><%= link_to_if likelihood.run, likelihood.run, likelihood.run %></td>
    <td><%= link_to_if likelihood.variable, likelihood.variable, likelihood.variable  %></td>
    <td><%= link_to_if likelihood.input, likelihood.input, likelihood.input %></td>
    <td><%=h likelihood.loglikelihood %></td>
    <td><%=h likelihood.n_eff %></td>
    <td><%=h likelihood.weight %></td>
    <td><%=h likelihood.residual %></td>
    <td><%= link_to 'Show', likelihood %></td>
    <td><%= link_to 'Edit', edit_likelihood_path(likelihood) %></td>
    <td><%= link_to 'Destroy', likelihood, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<%= will_paginate @likelihoods %>
