<h1>Listing likelihoods</h1>
<p>
<%= form_tag likelihoods_path, :method => 'get', :id => 'simple_search' do %>
  <%= text_field_tag :search, params[:search] %>
  <%= hidden_field_tag :direction, params[:direction] %>
  <%= hidden_field_tag :sort, params[:sort] %>
<% end %>
</p>
<div id="simple_search_table" class="simple_search_table_1"><%= render 'index_table' %></div>

<%= link_to 'New likelihood', new_likelihood_path %>
