<p>
  <b>Run:</b>
  <%= link_to_if @likelihood.run, @likelihood.run, @likelihood.run %>
</p>

<p>
  <b>Variable:</b>
  <%= link_to_if @likelihood.variable, @likelihood.variable, @likelihood.variable %>
</p>

<p>
  <b>Input:</b>
  <%= link_to_if @likelihood.input, @likelihood.input, @likelihood.input %>
</p>

<p>
  <b>Loglikelihood:</b>
  <%=h @likelihood.loglikelihood %>
</p>

<p>
  <b>N eff:</b>
  <%=h @likelihood.n_eff %>
</p>

<p>
  <b>Weight:</b>
  <%=h @likelihood.weight %>
</p>

<p>
  <b>Residual:</b>
  <%=h @likelihood.residual %>
</p>


<%= link_to 'Edit', edit_likelihood_path(@likelihood) %> |
<%= link_to 'Back', likelihoods_path %>
