

<table class="pretty">
  <tr>
    <th><%= sortable "sites.sitename", "Site Name" -%></th>
    <th><%= sortable "sites.city", "City" -%></th>
    <th><%= sortable "sites.state", "State" -%></th>
    <th><%= sortable "sites.country", "Country" -%></th>
    <th><%= sortable "sites.lat", "Lat" -%></th>
    <th><%= sortable "sites.lon", "Lon" -%></th>
    <th><%= sortable "sites.espg", "Espg" -%></th>
  </tr>

<% @sites.each do |site| %>
  <tr id="site-<%= site.id.to_s %>"<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and site.id == @search.to_i%>>
    <td><%= site.sitename %></td>
    <td><%= site.city %></td>
    <td><%= site.state %></td>
    <td><%= site.country %></td>
    <td><%= site.lat %></td>
    <td><%= site.lon %></td>
    <td><%= site.espg %></td>
    <td><%= link_to_prototype_window("map", "#{site.id}", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :title =>  "#{site.sitename}", :draggable => "true", :wiredDrag => "true", :url => "/sites/map?id=#{site.id}" }) %> <br />

    </td>
    <% if !session["citation"].nil? %>
    <td><%= link_to 'Link', {:action => "linked", :id => site.id }, :remote => true %></td>
    <% end %>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @sites %>
