<% if !session["citation"].nil? %>
<h1>Sites already associated with this citation</h1>
<table>
  <tr>
    <th>Site Name</th>
    <th>City</th>
    <th>State</th>
    <th>Country</th>
    <th>Lat</th>
    <th>Lon</th>
    <th>Espg</th>
  </tr>

<% @citation.sites.each do |site| %>
  <tr id="site-<%= site.id.to_s %>">
    <td><%= site.sitename %></td>
    <td><%= site.city %></td>
    <td><%= site.state %></td>
    <td><%= site.country %></td>
    <td><%= site.lat %></td>
    <td><%= site.lon %></td>
    <td><%= site.espg %></td>
    <td><%= link_to 'Unlink', {:action => "linked", :id => site.id}, :remote => true %></td>
    <td><%= link_to 'Show', site %></td>
    <td><%= link_to 'Edit', edit_site_path(site) %></td>
    <td><%= link_to 'Destroy', site, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<% end %>
