<script type="text/javascript">//<![CDATA[
  function drawMap(id,lat,lon) {
    var latlng = new google.maps.LatLng(lat,lon);
    var myOptions = {
      zoom: 2,
      center: latlng,
      mapTypeId: google.maps.MapTypeId.ROADMAP};
    var map = new google.maps.Map(document.getElementById("map_".id), myOptions);
    var marker = new google.maps.Marker({ position: latlng, map: map });
  }//]]>
</script>

<div class="content">
  <div class="container">
    <div class="sixteen columns">
      <div id="linked">
        <%= render 'linked' %>
      </div>

      <header>
        <h1>Listing Sites</h1>
      </header>
      <div id="process_container">
        <div id="back"><%= link_to '<< Citations', citations_path %></div>
        <div id="new"><%= link_to 'New Site', new_site_path, :class => "button button-primary" %></div>
        <div id="forward"><%= link_to "Treatments >>", treatments_path %></div>
      </div>
      <br />
      <hr />

      <div id="simple_search_table" class="simple_search_table_1"><%= render 'index_table' %></div>

    </div> <!-- class="sixteen columns" -->
  </div> <!-- container -->
</div>
