  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 

    <div id="map_canvas_<%= @site.id %>" style="border: 1px solid black; width:600px; height: 500px; "></div>

    <script type="text/javascript">
//<![CDATA[ 
 
      <% if !@site.nil? %>  
      var latlng = new google.maps.LatLng(<%= @site.lat %>,<%= @site.lon %>);
      var myOptions = {
        zoom: 9,
        center: latlng,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      };

      var map<%= @site.id %> = new google.maps.Map(document.getElementById("map_canvas_<%= @site.id %>"), myOptions);

      var marker<%= @site.id %> = new google.maps.Marker({
        position: latlng,
        map: map<%= @site.id %>
      });
      <% end %>

//]]>
    </script>
