<h3>Citations</h3>
<table>
  <tr>
    <th>Author, Year, Title</th>
  </tr>
<% @site.citations.each do |citation| %>
  <tr>
    <td><%= link_to citation, citation %></td>
  </tr>
<% end %>
</table>

<hr>

<p><span id="site_link_<%= @site.id %>" class="popup_link">Map</span><br />
      <%#= render :partial => "site_popup", :locals => {:site => @site } %>
</p>


<p>
  <b>Site Name:</b>
  <%= @site.sitename %>
</p>

<p>
  <b>City:</b>
  <%= @site.city %>
</p>

<p>
  <b>State:</b>
  <%= @site.state %>
</p>

<p>
  <b>Country:</b>
  <%= @site.country %>
</p>

<p>
  <b>Lat:</b>
  <%= @site.lat %>
</p>

<p>
  <b>Lon:</b>
  <%= @site.lon %>
</p>

<p>
  <b>Mean Annual Temperature (°C)</b>
  <%= @site.mat %>
</p>

<p>
  <b>Mean Annual Precipitation (mm/yr):</b>
  <%= @site.map %>
</p>

<p>
  <b>Elevation (m):</b>
  <%= @site.masl %>
</p>

<p>
  <b>Soil:</b>
  <%= @site.soil %>
</p>

<p>
  <b>Local Time:</b>
  <%= @site.local_time %>
</p>

<p>
  <b>Espg:</b>
  <%= @site.espg %>
</p>

<p>
  <b>% Clay:</b>
  <%= @site.clay_pct %>
</p>

<p>
  <b>% Sand:</b>
  <%= @site.sand_pct %>
</p>

<p>
  <b>Greenhouse:</b>
  <%= @site.greenhouse ? "True" : "False" %>
</p>

<p>
  <b>Som:</b>
  <%= @site.som %>
</p>

<p>
  <b>Notes:</b>
  <%= @site.notes %>
</p>

<p>
  <b>Soilnotes:</b>
  <%= @site.soilnotes %>
</p>

<p>
  <b>User:</b>
  <%= @site.user %>
</p>


<%= link_to 'Edit', edit_site_path(@site) %> |
<%= link_to 'Back', sites_path %>
