
<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Site Citations</h1>
			</header>

			<table>
        <tr>
          <th>Author, Year, Title</th>
        </tr>
        <% @site.citations.each do |citation| %>
        <tr>
          <td><%= link_to citation, citation %></td>
        </tr>
        <% end %>
      </table>

      <hr>

      <a style="text-decoration: none" href="#" onclick="showHide('show_sitegroups')" id="show_show_sitegroups">[+] View Related Site Groups</a>
      <br/>
      <div id="show_sitegroups" class="hidden notvisible">
          <%= render 'show_sitegroups' %>
      </div>

      <hr />

      
      
			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
			  <dt>Site Name:</dt>
        <dd><%= @site.sitename %></dd>
        <dt>City:</dt>
        <dd><%= @site.city %></dt>
        <dt>State:</dt>
        <dd><%= @site.state %></dt>
        <dt>Country:</dt>
        <dd><%= @site.country %></dt>
        <dt>Lat:</dt>
        <dd><%= @site.lat %></dt>
        <dt>Lon:</dt>
        <dd><%= @site.lon %></dt>
        <dt>Mean Annual Temperature (°C)</dt>
        <dd><%= @site.mat %></dt>
        <dt>Mean Annual Precipitation (mm/yr):</dt>
        <dd><%= @site.map %></dt>
        <dt>Elevation (m):</dt>
        <dd><%= @site.masl %></dt>
        <dt>Soil:</dt>
        <dd><%= @site.soil %></dt>
        <dt>Time Zone:</dt>
        <dd><%= @site.time_zone %></dt>
        <dt>Espg:</dt>
        <dd><%= @site.espg %></dt>
        <dt>% Clay:</dt>
        <dd><%= @site.clay_pct %></dt>
        <dt>% Sand:</dt>
        <dd><%= @site.sand_pct %></dt>
        <dt>Greenhouse:</dt>
        <dd><%= @site.greenhouse ? "True" : "False" %></dt>
        <dt>Som:</dt>
        <dd><%= @site.som %></dt>
        <dt>Notes:</dt>
        <dd><%= @site.notes %></dt>
        <dt>Soilnotes:</dt>
        <dd><%= @site.soilnotes %></dt>
        <dt>Record Creator:</dt>
        <dd><%= user_for_view(@site.user) %></dd>
			</dl>
			
			<div class="form-actions">
				<div class="button-group">
          <%= link_to( sites_path ) do %>
					  <button class="button"><i class="icon-arrow-left"></i> All Records</button>
					<% end %>
					<%= link_to( edit_site_path(@site) ) do %>
    			  <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
  				<% end %>
					
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>

