<div id = "feedback-tab" style="cursor:pointer;height:90px; width:35px;border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-style: solid solid solid none; border-top-color: rgb(255, 255, 255); border-right-color: rgb(255, 255, 255); border-bottom-color: rgb(255, 255, 255); border-top-left-radius: 0px; border-top-right-radius: 4px; border-bottom-right-radius: 4px; border-bottom-left-radius: 0px; -webkit-box-shadow: rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.498039) 0px 1px 2px; box-shadow: rgba(255, 255, 255, 0.247059) 1px 1px 1px inset, rgba(0, 0, 0, 0.498039) 0px 1px 2px; font-style: normal; font-variant: normal; font-weight: bold; font-size: 14px; line-height: 1em; font-family: Arial, sans-serif; position: fixed; left: 0px; top: 50%; z-index: 9999; margin-top: -62px;background: url(http://widget.uservoice.com/dcache/widget/feedback-tab.png?t=Feedback&c=ffffff&r=90) 50% 10px no-repeat rgb(8, 167, 5); "></div>
<div class="dialog-all dialog-form">
  <span class="dialog-close">x</span><br>
  <div id="form-title" style="width:100%;text-align:center;font-weight:bold;"></div>
  <%=form_for :feedback_email, :url =>{:controller =>'feedback', :action =>'feedback_email'}, :remote =>true do |f|%>
    <%=f.hidden_field :type, :value =>"" %>
    <%=f.hidden_field :sender,:value =>current_user %>
    <%=f.hidden_field :sender_email,:value =>current_user.email %>
    <%=f.label :feedback_subject,"Subject",{:style =>"font-weight:normal"} %>
    <%=f.text_field :feedback_subject %>
    <%=f.label :feedback_text,"Description",{:style =>"font-weight:normal"} %>
    <%=f.text_area :feedback_text , {:rows=> 5, :style=>"font-size:13px;"}%>
    <%=submit_tag "Submit", {:class => "button button-warning feedback-submit", :style =>"font-size:12px"}%>
    <button class="button button-info dialog-cancel" style="float:right;font-size:12px">Cancel</button>
    <span class="feedback-spinner" style="font-size:12px"></span>
  <%end%>
</div>
<div id="dialog-main" class="dialog-all" title="Feedback">
	<span class="dialog-close">x</span>
	<button class="button button-primary" id="suggest" style="width:100%;font-size:12px;margin-bottom:5px;padding:3px">Suggest a Feature</button>
	<hr class="hr">&nbsp;or&nbsp;<hr class="hr">
	<button class="button button-warning" id="report" style="width:100%;font-size:12px;margin-top:8px;padding:3px">Report a Problem</button>
	<hr class="hr">&nbsp;or&nbsp;<hr class="hr">
	<button class="button button-info" id="contact" style="width:100%;font-size:12px;margin-top:8px;padding:3px">Contact Us</button>
</div>

<script>
jQuery(function(){jQuery(".ui-dialog-titlebar").hide();});

jQuery('body').click(function(e){
	x = e.clientX ;
	y = e.clientY+jQuery(document).scrollTop();
	jQuery('.dialog-all').each(function(){
		if(jQuery(this).dialog("isOpen")){
			minx = jQuery(this).offset().left -5;
			maxx = jQuery(this).offset().left + jQuery(this).dialog("option","width") + 5;
			miny = jQuery(this).offset().top -5;
			maxy = jQuery(this).offset().top + jQuery(this).dialog("option","height") + 5;
			tminx = jQuery("#feedback-tab").offset().left-5;
			tmaxx = jQuery("#feedback-tab").offset().left+ jQuery("#feedback-tab").width() + 5;
			tminy = jQuery("#feedback-tab").offset().top-5 ;
			tmaxy = jQuery("#feedback-tab").offset().top+ jQuery("#feedback-tab").height() + 5;
			inthis = x>=minx && x<=maxx && y>=miny && y<=maxy;
			intab = x>=tminx && x<=tmaxx && y>=tminy && y<=tmaxy;
			if(!inthis && !intab)
				jQuery(this).dialog("close");
		}
	});
});

jQuery(".dialog-cancel").click(function(){
	jQuery(".dialog-all").dialog("close");
	return false;
});

jQuery(".dialog-all").dialog({
	autoOpen: false,
    modal: false,
    draggable: false,
    resizable: false,
    dialogClass: "fixed-dialog",
	show:{
		effect:"fade",
		duration:300,
	},
	hide:{
		effect:"fade",
		duration:300,
	},
	position: {
      	my: "left+10 center",
      	at: "right center",
      	of: "#feedback-tab",
    },
    close: function(){
    	jQuery("#feedback_email_feedback_subject").val("");
    	jQuery("#feedback_email_feedback_text").val("");
    }
});

jQuery( ".dialog-form" ).dialog({
	  height: 340,
	  width: 250,
});

jQuery( "#dialog-main" ).dialog({
	  height: 240,
	  width: 150,
});

jQuery(".hr").css({
	"border-top":"1px solid #000000",
	"display":"inline-block",
	"width":"39%",
	"margin":"0px",
});

jQuery(".dialog-close").css({
	"float":"right",
	"color":"#aaa",
	"margin-bottom":"10px",
	"font-size":"16px",
	"font-weight":"bold",
	"cursor":"pointer",
});

jQuery(".fixed-dialog").css
({
	"position": "fixed", 
	"left": "0px", 
	"top": "50%",	
	"margin-top": "-62px",
});

jQuery(".fixed-dialog form").css
({
	"margin-top": "10px",
});

jQuery("#feedback-tab").click(function(){
	if(!jQuery("#dialog-main").dialog("isOpen")){
		jQuery(".dialog-all").dialog("close");
		jQuery("#dialog-main").dialog("open");
	}
	else
		jQuery(".dialog-all").dialog("close");
});

jQuery("#suggest").click(function(){	
	jQuery(".dialog-form").dialog("open");
	jQuery("#form-title").html("Suggest a Feature");
	jQuery("#feedback_email_type").val("Suggest a Feature");
	jQuery("#dialog-main").dialog("close");
});

jQuery("#contact").click(function(){	
	jQuery(".dialog-form").dialog("open");
	jQuery("#form-title").html("Contact Us");
	jQuery("#feedback_email_type").val("Contact");
	jQuery("#dialog-main").dialog("close");
});

jQuery("#report").click(function(){
	jQuery(".dialog-form").dialog("open");
	jQuery("#form-title").html("Report a Problem");
	jQuery("#feedback_email_type").val("Report a Problem");
	jQuery("#dialog-main").dialog("close");
});

jQuery(".dialog-close").click(function(){
	jQuery(".dialog-all").dialog("close");
});

jQuery(".feedback-submit").click(function(){
	jQuery(".feedback-spinner").html("&nbsp;processing&nbsp;<img height='10px' width='10px' src='http://d3fildg3jlcvty.cloudfront.net/20140604-01/graphics/ajax-loader.gif' />");
	jQuery(".dialog-cancel").attr("disabled","disabled");
	setTimeout(function(){jQuery(".feedback-submit").attr("disabled","disabled");},1000);
})
</script>
