<%# logger.info request.to_yaml %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;>charset=iso-8859-1" />
  <meta name="verify-v1" content="T7Z0mdC+KbUOu+J0CJ6oBySKYz1WUJQJLH0BOtUn1QA=" />
  <meta name="keywords" content="biofuel,biofuels,bioenergy,bioscience,biosciences,miscanthus,switchgrass,ethanol,alternative energy"> 
  <title>Energy Biosciences Institute</title>
  <meta name="description" content="The Energy Biosciences Institute (EBI) is a new research and development organization that harnesses advanced knowledge in biology, the physical sciences, engineering, and environmental and social sciences to devise viable solutions to global energy challenges and reduce the impact of fossil fuels to global warming.  The worlds first research institution solely dedicated to the new field of energy bioscience, is initially focusing on the development of next-generation biofuels, but will also look into various applications of biology to the energy sector." />
  <meta name="keywords" content="biofuel, biofuels, bioenergy, miscanthus, switchgrass, alternative energy, ethanol" />
  <meta name="Generator" content="Joomla! - Copyright (C) 2005 - 2007 Open Source Matters. All rights reserved." />
  <meta name="robots" content="index, follow" />

  <link rel="stylesheet" href="/stylesheets/scaffold.css" type="text/css" />
  <%= javascript_include_tag :all, :cache => "cache/all" %>
  <%= javascript_include_tag 'lazy/jquery-1.7.2.js' %>
  <script>
    jQuery.noConflict();
  </script>
  <%= javascript_include_tag 'lazy/simple_search.js' %>
  <%= javascript_include_tag 'lazy/application.js' %>

  <% if ['sites','maps','visitors'].include?(params[:controller]) %>

  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script> 
  <!--script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAPDXibh0Ct5qeTjwb_CxJtRS9gVzyFzPv7IPkHqaHBvoC5L78cxSgvWIi1gPiS0G0Y2HaRozqznly3g" type="text/javascript"></script-->
  <% end %>

  <meta name="verify-v1" content="T7Z0mdC+KbUOu+J0CJ6oBySKYz1WUJQJLH0BOtUn1QA=" />	
  <%= stylesheet_link_tag 'themes/default' %>
  <%= stylesheet_link_tag 'themes/alphacube' %>
  <%= javascript_include_tag 'window'%>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30952394-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();

  </script>

</head>
<body>
  <!--[if IE ]>
    <style>
    ul.mainlevel-suckerfish-horizontal, .mainlevel-suckerfish-horizontal ul {
      margin-left:32px;
      margin-top:0px;
    }
    
    table.moduletable-upevents {
      margin-left: 10px;
      padding-top:18px;
    }
        
    </style>
  <![endif]-->
  <div id="banner">
    <div id="banner-wrapper">
      <a class="logo" href="http://www.energybiosciencesinstitute.org/index.php" title="EBI">EBI</a>
      <a class="bety-db" href="/" title="BETY-DB">BETY-DB</a>
      <ul>
        <li><a href="/contacts/" title="Contact US">Contact Us</a></li>
        <li>|</li>
        <li><a href="/" title="Home">Home</a></li>
      </ul>
    </div><!-- end banner-wrapper -->
  </div><!-- end banner -->

  <div id="navigation">
    <div id="navigation-wrapper">
      <table cellpadding="0" cellspacing="0" class="moduletable">
        <tr>
          <td>
            <script type="text/javascript">
              var betydb_MENU_ITEMS = [
              <% if logged_in? %>
                ['BETY-DB','/',{'tw':'0','sb':'BETY-DB'},
                ['Citations','/citations/',{'tw':'0','sb':'Citations'},
                ['New','/citations/new',{'tw':'0','sb':'New'}],],
                ['Covariates','/covariates/',{'tw':'0','sb':'Covariates'},
                ['New','/covariates/new',{'tw':'0','sb':'New'}],],
                ['Cultivars','/cultivars/',{'tw':'0','sb':'Cultivars'},
                ['New','/cultivars/new',{'tw':'0','sb':'New'}],],
                ['Ensembles','/ensembles/',{'tw':'0','sb':'Ensembles'},
                ['New','/ensembles/new',{'tw':'0','sb':'New'}],],
                ['Entities','/entities/',{'tw':'0','sb':'Entities'},
                ['New','/entities/new',{'tw':'0','sb':'New'}],],
                ['Formats','/formats/',{'tw':'0','sb':'Formats'},
                ['New','/formats/new',{'tw':'0','sb':'New'}],],
                ['Managements','/managements/',{'tw':'0','sb':'Managements'},
                ['New','/managements/new',{'tw':'0','sb':'New'}],],
                ['Methods','/methods/',{'tw':'0','sb':'Methods'},
                ['New','/methods/new',{'tw':'0','sb':'New'}],],
                ['PFTs','/pfts/',{'tw':'0','sb':'PFTs'},
                ['New','/pfts/new',{'tw':'0','sb':'New'}],],
                ['Priors','/priors/',{'tw':'0','sb':'Priors'},
                ['New','/priors/new',{'tw':'0','sb':'New'}],],
                ['Sites','/sites/',{'tw':'0','sb':'Sites'},
                ['New','/sites/new',{'tw':'0','sb':'New'}],],
                ['Species','/species/',{'tw':'0','sb':'Species'},
                ['New','/species/new',{'tw':'0','sb':'New'}],],
                ['Traits','/traits/',{'tw':'0','sb':'Traits'},
                ['New','/traits/new',{'tw':'0','sb':'New'}],
                ['CSV','/traits.csv',{'tw':'0','sb':'CSV'}],],
                ['Treatments','/treatments/',{'tw':'0','sb':'Treatments'},
                ['New','/treatments/new',{'tw':'0','sb':'New'}],],
                ['Variables','/variables/',{'tw':'0','sb':'Variables'},
                ['New','/variables/new',{'tw':'0','sb':'New'}],],
                ['Yields','/yields/',{'tw':'0','sb':'Yields'},
                ['New','/yields/new',{'tw':'0','sb':'New'}],
                ['CSV','/yields.csv',{'tw':'0','sb':'CSV'}],],],
                ['New Record','/citations/',{'tw':'0','sb':'New Record'},
                ['Citations','/citations/',{'tw':'0','sb':'Citations'}],
                ['Sites','/sites/',{'tw':'0','sb':'Sites'}],
                ['Treatments','/treatments/',{'tw':'0','sb':'Treatments'}],
                ['Traits','/traits/',{'tw':'0','sb':'Traits'}],
                ['Yields','/yields/',{'tw':'0','sb':'Yields'}],],
              <% end %>
                ['Documentation','/',{'tw':'0','sb':'Documentation'},
                ['Users Guide','/dbdocumentation_users.pdf',{'tw':'0','sb':'Users Guide'}],
                ['Data Entry Guide','/dbdocumentation_data_entry.pdf',{'tw':'0','sb':'Data Entry Guide'}],],
                <% if authorized?("index","RunsController") -%>
                ['Model-Runs','/',{'tw':'0','sb':'Model-Runs'},
                ['Posteriors','/posteriors/',{'tw':'0','sb':'Posteriors'}],
                ['Runs','/runs/',{'tw':'0','sb':'Runs'}],
                ['Likelihoods','/likelihoods/',{'tw':'0','sb':'likelihoods'}],
                ['Models','/models/',{'tw':'0','sb':'Models'}],
                ['Machines','/machines/',{'tw':'0','sb':'Machines'}],
                ['Files','/dbfiles/',{'tw':'0','sb':'Files'},
                ['New','/dbfiles/new',{'tw':'0','sb':'New'}],],
                ['Workflows','/workflows/',{'tw':'0','sb':'Workflows'},
                ['New','/workflows/new',{'tw':'0','sb':'New'}],],
                ['Inputs','/inputs/',{'tw':'0','sb':'Inputs'},
                ['New','/inputs/new',{'tw':'0','sb':'New'}],],],
                <% end -%>
                <% if logged_in? -%>
                ['Admin','/',{'tw':'0','sb':'Admin'},
                ['Users','/users/',{'tw':'0','sb':'Users'}],
                ['Errors','/redmine/projects/bety-db/issues/new',{'tw':'0','sb':'Errors'}],
                ['Location Yields','/maps/location_yields/',{'tw':'0','sb':'Location Yields'}],],
                <% end -%>
                <% if logged_in? -%>
                ['Log out','/logout',{'tw':'0','sb':'Log out'}],
                <% else -%>
                ['Log in','/login',{'tw':'0','sb':'Log in'}],
                ['Create Account','/signup',{'tw':'0','sb':'Create Account'}],
                <% end -%>
                
              ];
            </script>
            <div style="position:relative; top:0px; left:0px; width:auto; min-height:26px;">
                <div style="position:absolute; top:0px; width:930px; left:50%; margin-left:-465px; height:26px;">
                  <script type="text/javascript">
                    new menu (betydb_MENU_ITEMS, topmenu_MENU_POS);
                  </script>
                </div>
            </div>
          </td>
        </tr>
      </table>
    </div><!-- end navigation-wrapper -->
  </div><!-- end navigation -->
  <div id="content">
    <div id="content-wrapper">

      <hr>
      <% if !session['citation'].nil? and Citation.exists?(session['citation']) %>
        <h5 class="centered">Citation: <%= link_to Citation.find(session['citation']).author_year_title, citation_url( session['citation']) %> <%= link_to '[remove]', :controller => "application", :action => "remove_citation" %> </h5>
      <% elsif !session['citation'].nil? and !Citation.exists?(session['citation'])
           session['citation'] = nil
      %>
        <hr>
        
      <% end %>
      <% if flash[:notice] %>
        <h5 class="centered"><%= flash[:notice] %></h5>
        <% flash[:notice] = nil %>
        <hr>
      <% end %>

      <br />
      <%= yield  %>
      
      <br />

      <%= render :partial => "users/user_bar" %>
    </div><!-- end content-wrapper -->
  </div><!-- end content -->

  <div id="footer">
    <div id="footer-wrapper">
      <div id="footer-divide"></div>
      <div id="footer-logos">
        <div id="bp-logo"><a href="http://www.bp.com" title="BP"><span>BP</span></a></div>
        <div id="illinois-logo"><a href="http://illinois.edu" title="Illinois"><span>Illinois</span></a></div>
        <div id="berkeley-logo"><a href="http://www.berkeley.edu" title="Berkeley"><span>Berkeley</span></a></div>
        <div id="lbl-logo"><a href="http://www.lbl.gov" title="LBL"><span>LBL</span></a></div>
      </div>
      <div id="footer-divide"></div>
      <br>
      <div id=footer-copyright>
        <div id="google_translate_element"></div>
        <script>
            function googleTranslateElementInit() {
              new google.translate.TranslateElement({
              pageLanguage: 'en',
              layout: google.translate.TranslateElement.InlineLayout.SIMPLE
              }, 'google_translate_element');
            }
        </script>
        <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      </div>
      <br>
      <div id="footer-divide"></div>
      <br>
      <div>
        <p width="480px">David LeBauer, Dan Wang, and Michael Dietze, 2010. Biofuel Ecophysiological Traits and Yields Database Version 1.0. Energy Biosciences Institute, Urbana, IL</p>
      </div>
    </div><!-- end footer-wrapper -->
  </div><!-- end footer -->
</body>
</html>
