<%# logger.info request.to_yaml %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html;>charset=iso-8859-1" />
  <title>Energy Biosciences Institute</title>
  <meta name="verify-v1" content="T7Z0mdC+KbUOu+J0CJ6oBySKYz1WUJQJLH0BOtUn1QA=" />
  <meta name="keywords" content="biofuel, biofuels, bioenergy, bioscience, biosciences, miscanthus, switchgrass, ethanol, alternative energy"> 
  <meta name="description" content="The Energy Biosciences Institute (EBI) is a new research and development organization that harnesses advanced knowledge in biology, the physical sciences, engineering, and environmental and social sciences to devise viable solutions to global energy challenges and reduce the impact of fossil fuels to global warming.  The worlds first research institution solely dedicated to the new field of energy bioscience, is initially focusing on the development of next-generation biofuels, but will also look into various applications of biology to the energy sector." />
  <meta name="robots" content="index, follow" />

  <%= csrf_meta_tag %>

  <%= javascript_include_tag 'lazy/jquery-1.7.2.js' %>
  <!--  It seems so far that everything works in 1.7.2.-->
  <%#= javascript_include_tag 'libs/jquery-1.6.2.min.js' %>
  <%= javascript_include_tag :all, :cache => "cache/all" %>

  <!-- ############## BEGAN verifying all JS imports from here ############## -->
  <!--[if (lt IE 9) & (!IEMobile)]>
    <script src="js/libs/selectivizr-min.js"></script>
  <![endif]-->
  <%= javascript_include_tag 'libs/respond.min.js', 'libs/modernizr-2.0.6.min.js' %>


  <!-- For iPhone 4 -->
  <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/h/apple-touch-icon.png">
  <!-- For iPad 1-->
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/m/apple-touch-icon.png">
  <!-- For iPhone 3G, iPod Touch and Android -->
  <link rel="apple-touch-icon-precomposed" href="images/l/apple-touch-icon-precomposed.png">
  <!-- For Nokia -->
  <link rel="shortcut icon" href="/images/l/apple-touch-icon.png">
  <!-- For everything else -->
  <link rel="shortcut icon" href="/favicon.ico">
  
  <!-- ############## ENDED verifying all JS imports from here ############## -->
  
  <!--  This disables the use of $ as the jQuery alias-->
  <script> jQuery.noConflict(); </script>
  
  <%= javascript_include_tag 'lazy/simple_search.js' %>
  <%= javascript_include_tag 'lazy/application.js' %>

  <% if ['sites','maps','visitors'].include?(params[:controller]) %>
    <script type="text/javascript" src="https://maps-api-ssl.google.com/maps/api/js?key=AIzaSyA9Ac4XswpkdjIslQcRJzgwnbkEDdomZS4&amp;sensor=false"></script> 
  <% end %>

  <meta name="verify-v1" content="T7Z0mdC+KbUOu+J0CJ6oBySKYz1WUJQJLH0BOtUn1QA=" />	
  <%= stylesheet_link_tag 'themes/default' %>
  <%= stylesheet_link_tag 'themes/alphacube' %>

  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-30952394-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>
  
  <!-- Maintain the order of the following CSS until we can gut the "scaffold" CSS -->
  <!-- Old CSS -->
  <%= stylesheet_link_tag "scaffold" %>
  <!-- Redesign CSS -->
  <%= stylesheet_link_tag "base", "grid", "layout", "dropdown", "tables", "demo" %>
</head>


<body class="home" onunload="GUnload()">
  <!--[if IE ]>
    <style>
      ul.mainlevel-suckerfish-horizontal, .mainlevel-suckerfish-horizontal ul { margin-left:32px; margin-top:0px; }
      table.moduletable-upevents { margin-left: 10px; padding-top:18px; }
    </style>
  <![endif]-->
  

  
  <!-- Primary Page Layout
  ================================================== -->
  <div class="header">
	  <div class="container">
		  <div class="sixteen columns">
			  <h1 class="remove-bottom"><a href="/" class="org">Energy Biosciences Institute</a> <a href="/" class="site"><strong>BETY</strong>db <small><strong>Biofuel Ecophysiological Traits and Yields </strong>Database</small></a></h1>
			  <div id="header_user_name">
		      <% if current_user != nil %>
			      User: <%= current_user %>
			    <% end %>
		    </div>
		    
		  </div>
	  </div><!-- container --> 
  </div>
  
  
  
  
  
  <div class="nav">    
  <div class="container">
	<div class="sixteen columns">
	  <nav id="access" role="navigation">
        <div class="skip-link"><a href="#content">Skip to content</a></div>
        <div class="menu">
          <ul class="main-menu sf-menu clearfix">
            <li class="menu-home"><%= link_to "Home", root_path %></li>
            
            
            <% if current_user != nil %>
            <li class="menu-data"><a>Data</a>
              <ul class="sub-menu">
                <li><%= link_to "Citations", citations_path %></li>
                <li><%= link_to "Covariates", covariates_path %></li>
                <li><%= link_to "Cultivars", cultivars_path %></li>
                <li><%= link_to "Managements", managements_path %></li>
                <li><%= link_to "Methods", methods_path %></li>
                <li><%= link_to "PFTs", pfts_path %></li>
                <li><%= link_to "Priors", priors_path %></li>
                <li><%= link_to "Sites", sites_path %></li>
                <li><%= link_to "Species", species_index_path %></li>
                <li><%= link_to "Traits", traits_path %></li>
                <li><%= link_to "Treatments", treatments_path %></li>
                <% if current_user != nil && current_user.page_access_level <= 2 %>
                <li><%= link_to "Users", users_path %></li>
                <% end %>
                <li><%= link_to "Variables", variables_path %></li>
                <li><%= link_to "Yields", yields_path %></li>
              </ul>
            </li>
            <% end %>
            
            
            <li class="menu-docs"> <a>Docs</a>
              <ul class="sub-menu">
                <li><%= link_to "User Guide (PDF)", user_guide_path %></li>
                <li><%= link_to "Data Entry Guide (PDF)", data_entry_guide_path %></li>
              </ul>
            </li>
            
            
            
            <% if current_user != nil && current_user.page_access_level < 4 %>
              <li class="menu-new"><a>Runs</a>
                <ul class="sub-menu">
                  <li><%= link_to "Posteriors", posteriors_path %></li>
                  <li><%= link_to "Runs", runs_path %></li>
                  <li><%= link_to "Likelihoods", likelihoods_path %></li>
                  <li><%= link_to "Models", models_path %></li>
                  <li><%= link_to "Machines", machines_path%></li>
                  <li><%= link_to "Files", dbfiles_path %></li>
                  <li><%= link_to "Workflows", workflows_path %></li>
                  <li><%= link_to "Inputs", inputs_path %></li>
                  <li><%= link_to "Formats", formats_path %></li>
                  <li><%= link_to "Ensembles", ensembles_path %></li>
                </ul>
              </li>
            <% end %>
            
            <li class="menu-modelio"><a>Model I/O</a>
              <ul class="sub-menu">
                <li><%= link_to "Model Projections", :controller => "maps", :action => "location_yields" %></li>
              </ul>
            </li>

            <% if current_user != nil %>
              <li class="menu-login">                            
                <%= link_to "Logout", logout_path %>
              </li>
            <% end %>
            
            
          </ul>
        </div>
      </nav><!-- #access -->
			<hr />
		</div>
	</div><!-- container -->
</div> 
  
  
  <% if controller_name != 'search' and !session['citation'].nil? and Citation.exists?(session['citation']) %>
    <h5 class="centered">Citation: <%= link_to Citation.find(session['citation']).author_year_title, citation_url( session['citation']) %> <%= link_to '[remove]', :controller => "application", :action => "remove_citation" %> </h5>
  <% elsif !session['citation'].nil? and !Citation.exists?(session['citation'])
       session['citation'] = nil
  %>
    <hr>
    
  <% end %>
  
  <% if flash[:notice] %>
    <div class="alert alert-success fade in centered">
      <div style="width:850px; margin:auto">
	      <button class="close" data-dismiss="alert">×</button>
	      <%= flash[:notice] %>
	    </div>
	  </div>
  <% end %>

  <%= yield  %>
  


  
  
  <div class="footer">
	  <div class="container">
		  <div class="row">
			  <h2>Footer</h2>
			  <div class="three columns alpha">
				  <h3><strong>BETY</strong>db</h3>
				  <ul class="unstyled">
					  <li><%= link_to "Homepage", root_path %></li>
					  <li><%= link_to 'Documentation', user_guide_path %></li>
					  <li><%= link_to "Maps & Data", maps_path %></li>
				  </ul>
			  </div>
			  <div class="three columns">
				  <h3><strong>Contact</strong> Info</h3>
				  <ul class="unstyled">
					  <li><%= link_to "Report a problem", controller: "contacts" %></li>
					  <li><%= link_to "Send us a message", controller: "contacts" %></li>
				  </ul>
			  </div>
			  <div class="four columns">
				  <h3><strong>Translate</strong> Page</h3>
				  <div id="google_translate_element"><div class="skiptranslate goog-te-gadget" dir="ltr" style=""><div id=":0.targetLanguage" style="white-space: nowrap; " class="goog-te-gadget-simple"><img src="http://www.google.com/images/cleardot.gif" class="goog-te-gadget-icon" style="background-image: url(http://translate.googleapis.com/translate_static/img/te_ctrl3.gif); background-position: -65px 0px; "><span style="vertical-align: middle; "><a class="goog-te-menu-value" href="javascript:void(0)"><span>Select Language</span><img src="http://www.google.com/images/cleardot.gif" width="1" height="1"><span style="border-left-width: 1px; border-left-style: solid; border-left-color: rgb(187, 187, 187); ">​</span><img src="http://www.google.com/images/cleardot.gif" width="1" height="1"><span style="color: rgb(155, 155, 155); ">▼</span></a></span></div></div></div>
			  </div>
			  <div class="six columns omega">
				  <p>David LeBauer, Dan Wang, and Michael Dietze, 2010. Biofuel Ecophysiological Traits and Yields Database Version 1.0. Energy Biosciences Institute, Urbana, IL</p>
				  <p>Copyright © 2010-2013 Energy Biosciences Institute</p>
			  </div>
		  </div>
		  <hr>
		  <div class="row">
			  <div class="footnotes">
				  <div class="four columns alpha"><a href="http://illinois.edu" title="University of Illinois at Urbana-Champaign" class="illinois">University of Illinois at Urbana-Champaign</a></div>
				  <div class="four columns"><a href="http://www.berkeley.edu" title="University of California, Berkeley" class="berkeley">University of California, Berkeley</a></div>
				  <div class="four columns"><a href="http://www.lbl.gov" title="Lawrence Berkeley National Laboratory (LBL)" class="lbl">Lawrence Berkeley National Laboratory</a></div>
				  <div class="four columns omega"><a href="http://www.bp.com" title="British Petroleum (BP)" class="bp">British Petroleum (BP)</a></div>
			  </div>
		  </div>
	  </div>
	  <!-- container --> 
  </div>
  
  <script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  
</body>
</html>
