<table width="100%">
  <tr>
    <td width="50%"><h3>Existing Treatments Relationships</h3></td>
    <td width="50%"><h3>Add Treatment Relationship(s)</h3></td>
  </tr>
  <tr>
    <td>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th>Name</th>
          <th>Def</th>
          <th></th>
        </tr>
        <% @management.treatments.each do |treatment| %>
        <tr>
          <td><%= link_to "X", { :controller => :managements, :action => :rem_managements_treatments, :id => @management.id, :treatment => treatment }, :confirm => 'Are you sure?', :remote => true %></td>
          <td><%= link_to "edit", edit_treatment_path(treatment.id) %></td>
          <td><%= treatment.name %></td>
          <td><%= treatment.definition %></td>
        </tr>
        <% end %>
      </table>
    </td>
    <td>
      <%= form_tag url_for(:controller => :managements, :action => :edit_managements_treatments), :remote => true do %>
      <%= collection_select( :treatment, :id, Treatment.all.reject { |r| @management.treatments.include?(r) }, :id, :select_default, {}, { :multiple => true } )%>
      <%= hidden_field_tag 'id', @management.id %>
      <br /><br />
      <%= submit_tag "Select" %>
      <% end %>
    </td>
  </tr>
</table>
