<!-- InstanceBeginEditable name="Full Width Content" -->
<div id="DataTables_Table_0_wrapper" class="dataTables_wrapper form-inline" role="grid">
  <%= render 'shared/search_form' %>
  <table class="table table-striped table-bordered table-hover datatable dataTable" id="DataTables_Table_0" aria-describedby="DataTables_Table_0_info">
		  <thead>
	      <tr role="row">
<th class="sorting_asc" role="columnheader" aria-controls="DataTables_Table_0" style="width: 180px" aria-sort="ascending"><%= sortable "managements.author", "Citation" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 50px"><%= sortable "managements.date", "Date" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 60px"><%= sortable "managements.mgmttype", "Type" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "managements.level", "Level" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "managements.units", "Units" %></th>
<th class="sorting" role="columnheader" aria-controls="DataTables_Table_0" style="width: 40px"><%= sortable "managements.notes", "Notes" %></th>
<th role="columnheader" aria-controls="DataTables_Table_0" style="width: 100px">Actions</th>
      </tr>
    </thead>
    
	  <tbody role="alert" aria-live="polite" aria-relevant="all">
	    <% @managements.each do |management| %>
        <tr<%= " style='background-color:yellow'" if @search and !@search[/[^\d]/] and management.id == @search.to_i%>>
          <td class="center"><%= link_to_if management.citation, management.citation, management.citation %></td>
          <td class="center"><%= management.date %></td>
          <td class="center"><%= management.mgmttype %></td>
          <td class="center"><%= management.level %></td>
          <td class="center"><%= management.units %></td>
          <td class="center"><%= management.notes %></td>
					<td class="center ">
					  <!-- SHOW -->
					  <%= link_to management, :class => "button button-small", :alt => "show" do %>
					    <i class="icon-zoom-in"></i>
					  <% end %>
					  <!-- EDIT -->
					  <%= link_to edit_management_path(management), :class => "button button-small", :alt => "edit" do %>
					    <i class="icon-edit"></i>
					  <% end %>
					  <!-- DELETE -->
					  <% if current_user.page_access_level == 1 %>
              <%= link_to management, :method => :delete, :type => 'management', :confirm => 'Are you sure?', :class=> 'button button-small button-danger', :alt => "delete" do %>
                <i class="icon-trash"></i> 
              <% end %>
            <% end %>
				  </td>
        </tr>
      <% end %>
	  </tbody>
	</table>
  
	<div class="row final_paginagte_row">
	  <div class="span6">
	    <div class="dataTables_info" id="DataTables_Table_0_info">
        <%= page_entries_info @managements %>
			</div>
	  </div>
	  <div class="span6">
	    <div class="dataTables_paginate paging_bootstrap pagination alternate">
        <%= will_paginate @managements %>
      </div>
    </div>
  </div>
</div>



