
<a style="text-decoration: none" href="#" onclick="showHide('edit_managements_treatments')" id="show_edit_managements_treatments">[+] View Related Treatments</a>
<br/>
<br/>
<div id="edit_managements_treatments" class="hidden notvisible">
  <%= render 'edit_managements_treatments' %>
</div>

<hr />
<br />
<br />

<h1>Editing management <%= link_to_prototype_window(image_tag("help.gif"), "help_popup1", { :className => "alphacube", :width => "625", :height => "525", :zIndex => "100", :resizable => "true", :draggable => "true", :wiredDrag => "true", :url => "/bety/node19.html?min" }) %></h1>

<% form_for(@management) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :citation_id %><br />
    <%= f.select :citation_id, Citation.all(:order => 'author').collect { |p| [ p.select_default, p.id ] }, {:include_blank => ""} %>
  </p>
  <p>
    <%= f.label :date %><br />
    <%= f.date_select :date,{ :start_year => 1900, :include_blank => true } %>
  </p>
  <p>
    <%= f.label :dateloc, "Date Level of Confidence" %><br />
    <%= f.select :dateloc, options_for_select($dateloc_drop.sort,f.object.dateloc.to_s) %>
  </p>
  <p>
    <%= f.label :mgmttype, "Management Type" %><br />
    <%= f.select :mgmttype, Management.management_types %> 
  </p>
  <p>
    <%= f.label :level %><br />
    <%= f.text_field :level %>
  </p>
  <p>
    <%= f.label :units %><br />
    <%= f.text_field :units %>
  </p>
  <p>
    <%= f.label :notes %><br />
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.label :user %><br />
    <%= @management.user %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @management %> |
<%= link_to 'Back', managements_path %>
