<div class="content">
	<div class="container">
		<div class="sixteen columns">
			<header>
				<h1>Viewing Management</h1>
			</header>
      
			<!-- InstanceBeginEditable name="Full Width Content" --> 
			<dl class="dl-horizontal">
				<dt>Citation</dt>
				<dd><%= link_to_if @management.citation, @management.citation, @management.citation %></dd>
				<dt>Date</dt>
				<dd><%= @management.date %></dd>
				<dt>Date Level of Confidence</dt>
				<dd><%= $dateloc_drop.invert[@management.dateloc.to_s] %></dd>
				<dt>Management Type</dt>
				<dd><%= @management.mgmttype %></dd>
				<dt>Level</dt>
				<dd><%= @management.level %></dd>
				<dt>Units</dt>
				<dd><%= @management.units %></dd>
				<dt>Notes</dt>
				<dd><%= @management.notes %></dd>
				<dt>User</dt>
			  <dd><%= @management.user %></dd>
			</dl>
			<div class="form-actions">
				<div class="button-group">
          <%= link_to( managements_path ) do %>
					  <button class="button"><i class="icon-arrow-left"></i> All Records</button>
					<% end %>
					<%= link_to( edit_management_path(@management) ) do %>
    			  <button type="submit" class="button button-primary"><i class="icon-edit"></i> Edit Record</button>	
  				<% end %>
					
				</div>
			</div>
			<!-- InstanceEndEditable --> </div>
	</div>
	<!-- container --> 
</div>



